[2016-08-25 08:44] gprasadg commented on #197
Hi Enrico,

1. this is out put from Studio
{
    "result": [
        {
            "@type": "d",
            "@rid": "#-2:1",
            "@version": 0,
            "getList": [
                {
                    "@type": "d",
                    "@rid": "#-2:0",
                    "@version": 0,
                    "_id": "Efs3CocpxFcaB3SS4",
                    "name": "xyz@gmail.com",

[2016-08-26 03:36] suyogdilipkale commented on #197
I have same problem, please suggest how to parse query result. its blocker for us.

[2016-08-26 03:57] suyogdilipkale commented on #81
We still have problem to parse query results while calling simple select query or server side javascript function. ex.  I have following result when i call Javascript function:

    "result": [
        {
            "@type": "d",
            "@rid": "#20:3",
            "@version": 14,
            "@class": "User",
            "_id": "L7emzMnY9JEYsqjPp",
            **"in_ShareVGame":
	[{

[2016-08-26 04:00] suyogdilipkale commented on #197
We still have problem to parse query results while calling simple select query or server side javascript function. ex. I have following result when i call Javascript function:

"result": [
    {
        "@type": "d",
        "@rid": "#20:3",
        "@version": 14,
        "@class": "User",
        "_id": "L7emzMnY9JEYsqjPp",
        **"in_ShareVGame":
[{
        "uName": "Gameer@gmail.com",

[2016-08-26 06:48] maggiolo00 commented on #197
@gprasadg

what did you try?

[2016-08-26 06:54] maggiolo00 commented on #197
@suyogdilipkale

what did you try?

[2016-08-26 08:07] suyogdilipkale commented on #197
Tried to parse as json. But no luck. Now thinking to use their HTTP API
On Aug 26, 2016 12:24 PM, "Enrico Risa" <notifications@github.com> wrote:

[2016-08-26 09:31] maggiolo00 commented on #197
@suyogdilipkale

can you share some code?

did you try as suggested in SO ?

[2016-08-26 10:07] suyogdilipkale commented on #197
here is sample node code:

db.open().then(function () {
            console.log('db connection open');
            db.query('SELECT in_ShareVGame(:uId,:vKId)', {
                params: {
                    uId: "Efs3CocpxFcaB3SS4",
                    vKId:'672818a1-d163-dcd8-dab2-2a45c385207f'
                }
            }).then(function (response) {
              **var allUsers = response[0]

[2016-08-27 19:11] #193 closed

[2016-08-27 19:22] lvca commented on #153
Closing because no answer after months. In case please reopen/comment this.

[2016-08-27 20:18] StarpTech commented on #153
Reopen as long as the red button are shinning :dancers:

[2016-08-27 21:36] lvca commented on #153
@maggiolo00 what's the reason why Travis says RED?

[2016-08-29 10:15] maggiolo00 commented on #153
The reason is emoj with 2.1.x

[2016-08-29 13:19] maggiolo00 commented on #197
@gprasadg  @suyogdilipkale

i'm not able to reproduce, can you help me with a little test case or something like that?

Thanks, Enrico

[2016-08-29 14:08] lvca commented on #153
So how can we resolve this? Are they supported with 2.1? If not, please remove the test

[2016-08-29 14:09] facelessTT opened #198 "Query reject"
Hello
subj does not always occures.
In some reasons, If I have 5 connections in pool, and one of them getting wrong syntax query, It gets freezed... so all the following queries are placed to the queue, and not getting executed. So in few hours we have our servers working slower and slower(because more and more connections are getting freezed), and only help is restart services.

[code]

In case i

[2016-08-29 14:38] maggiolo00 commented on #198
@facelessTT

do you have some snippet or test to reproduce this issue?

[2016-08-29 14:40] suyogdilipkale commented on #197
Can please paste your sample server function and nodejs client code?
On Aug 29, 2016 6:49 PM, "Enrico Risa" <notifications@github.com> wrote:

[2016-08-29 15:00] maggiolo00 commented on #197
@suyogdilipkale

this is the code i tested.

https://gist.github.com/maggiolo00/22e7f1001f35a42c42ab941b6b4ef4ac

i create a server side function and then invoke it in a select.

[2016-08-29 15:28] suyogdilipkale commented on #197
You hv just returned the query results, can you please just parse those
list fields and console in for loop? Just to confirm all fields are
displayed.

Try with some traversed query response.
On Aug 29, 2016 8:30 PM, "Enrico Risa" <notifications@github.com> wrote:

[2016-08-29 15:45] maggiolo00 commented on #197
@suyogdilipkale

can you modify my script in order to reproduce your issue?

[2016-08-29 16:50] suyogdilipkale commented on #197
I am getting following error:
[image: Inline image 1]

Regards,
Suyog Kale
+91 9767654573

On Mon, Aug 29, 2016 at 9:15 PM, Enrico Risa <notifications@github.com>
wrote:

[2016-08-30 00:52] EricLin2004 opened #199 "Multiple returns for transactions - Upgraded orientjs from 2.0.0 to 2.2.2 and orientdb from 2.1.11 to 2.2.8"
I just recently upgraded my orientdb from 2.1.11 to 2.2.8 and orientjs from 2.0.0 to 2.2.2

Previously, when I had a transaction with multiple returns:
[code]

Now, `results[0]` is JUST the `@rid`, something like this:
[code]

It's also additionally a nested array when it wasn't before?

Any way to retain the previous behaviour? Can I add in a fetchPlan for the transaction?

Thanks in advance.

[2016-08-30 01:52] suyogdilipkale commented on #197
here is error screenshot:
![2016-08-29_1618](https://cloud.githubusercontent.com/assets/16184220/18073295/77c0af1c-6e82-11e6-84e5-82ab70f8f81c.png)

[2016-08-30 01:54] suyogdilipkale commented on #197
Here is snapshot of that error, please help:
![2016-08-29_2219](https://cloud.githubusercontent.com/assets/16184220/18073324/bf94f168-6e82-11e6-8cc7-e3520141466f.png)

[2016-08-30 03:53] facelessTT commented on #198
you can just put any buggy query like 'sdfdfsd select * from v', or 'select from sometable where like "%a%"', and as for me, I dont hit catch in these cases.

[2016-08-30 04:12] facelessTT commented on #198
hm.... whats interesting, is sometimes I can reproduce it with just adding 'sdfdsfkjdsfjksdf' to the beginning of query, and sometimes I cant... Yesterday I did, and now I cant...
I'll try to rewrite this place to log first query in queue when growth happens... you can close this issue by now, and I'll come back when I'll get exact steps to reproduce this problem.

[2016-08-30 06:55] StarpTech commented on #199
Hi @EricLin2004 I have the same issue. Please try the latest 2.2.x snapshot Release and orientjs "script return fix"  Branch.

Message from @maggiolo00:

I've pushed the fix in this branch

https://github.com/orientechnologies/orientjs/tree/script-return-fix

I've also added more test in script-test.js

If you want to test it you should grab the latest 2.2.9 snapshot of orientdb here

[2016-08-30 07:57] maggiolo00 commented on #199
@EricLin2004

as @StarpTech  said

the branch contains the fix in orientjs side  and it works with 2.2.9-snapshot.

[2016-08-30 09:23] StarpTech commented on #199
@EricLin2004 @maggiolo00 I don't validate the fix I will do it in the next days.

[2016-08-30 09:57] maggiolo00 commented on #199
Ok @StarpTech

let me know and then i will move the fix in master.

[2016-08-30 11:45] suyogdilipkale commented on #197
@maggiolo00
I have already shared sample code couple of times in previous posts, I dont knw what else want to see?

FYI I have also tried with your sample code with my remote database, then I got following error:
![2016-08-30_1713](https://cloud.githubusercontent.com/assets/16184220/18087926/2d55e73c-6ed5-11e6-8fbe-6521f7e7cc5d.png)

[2016-08-30 12:20] maggiolo00 commented on #197
@suyogdilipkale

i just want to replicate it. I don't have the dataset that along with your query produce that error

[2016-08-30 16:48] EricLin2004 commented on #199
Thanks @StarpTech , @maggiolo00 for the quick responses. Looks good to me.

I have a workaround for now with 2.2.8 on my production server though so I'll probably wait for the official release of 2.2.9 before updating it again.

Feel free to close this issue ?

[2016-08-30 16:50] maggiolo00 commented on #199
@EricLin2004

i will close it once the fix is ported to master branch

Thanks

[2016-08-30 23:07] iamlogiq commented on #36
@maggiolo00
Im using orientdb 2.2.8
"orientjs": "^2.2.2"

 The callbacks ('live-insert, live-delete, live-update) for LiveQuery are NEVER called!

[2016-08-31 09:48] maggiolo00 commented on #36
@iamlogiq

can you provide a test script ?

they are running fine in tests

https://github.com/orientechnologies/orientjs/blob/master/test/db/live-query.js

[2016-08-31 09:56] maggiolo00 commented on #198
hi @facelessTT

i've reproduced the issue.
Seems to be working if you activate the token also with the connection pool

[code]

[2016-08-31 10:00] maggiolo00 commented on #198
@facelessTT

i'm checking why does it stuck without token

[2016-08-31 10:02] maggiolo00 commented on #36
@iamlogiq

can you add the config

`useToken : true`

in the configuration? it should resolve

[2016-09-01 14:08] maggiolo00 commented on #185
Fixed in OrientDB 2.2.x and orientjs 2.2.x

[2016-09-01 14:08] #185 closed

[2016-09-01 14:09] maggiolo00 commented on #153
Green again

https://travis-ci.org/orientechnologies/orientjs/builds/156813618

[2016-09-01 14:09] #153 closed

[2016-09-01 14:28] lvca commented on #153
Awesome.

[2016-09-01 15:16] StarpTech commented on #153
Nice

[2016-09-02 06:06] facelessTT commented on #198
Oh...thats great... I'll try to add useToken today and see if it'll help.
I was not able to find exact scenario to reproduce this issue... Its just happens with different regular queries.... nothing unusual.... I've started to think about how to handle it..... But I need some help to do it right.
Here is what on my mind, but I need help with implementation: If query is timed out in N seconds, wher

[2016-09-03 19:12] StarpTech commented on #199
HI @tglman @maggiolo00 Bad News, with the version "script-return-fix" I run into big problems. I get same results for two different querys:
Both records exists and the query works fine in studio.

[code]

When I try it with 2.1.x and orientjs 2.2.2 it works.

[2016-09-03 23:13] iamlogiq commented on #36
@maggiolo00 Which config file are you referring to?

[2016-09-05 09:23] facelessTT commented on #198
useToken: true helped us. thank you..... but as I understand, its only workaround

[2016-09-05 09:26] facelessTT opened #200 "pass query itself to endQuery event."
subj. It can be really helpful while catching slow queries.

[code]

in db.js:

[code]

[2016-09-05 15:10] tglman commented on #199
Hi,

We just fixed this case, here is the commit : https://github.com/orientechnologies/orientdb/commit/266fa85547bd48fbaa62d9b9872a87d8e4437a1d

Regards

[2016-09-05 20:46] StarpTech commented on #200
Would be great to get informations from serialization, network and query execution on the db.

[2016-09-06 14:38] maggiolo00 commented on #197
@gprasadg

can you help me on this?

how can i replicate it?

[2016-09-06 18:56] StarpTech commented on #197
@maggiolo00 this is the resukt of the missing streaming support. As soon as a user try to load a big payload from the server the client is to the knees under the load.

[2016-09-06 23:13] iamlogiq commented on #161
@lvca will you guys be adding the option to encrypt a new database with OrientJS sometime soon?

[2016-09-07 10:39] janjilek opened #201 "Documentation is missing in the master branch"
Hello,
there is only documentation for migrations in the master. The rest is missing.

Regards
Jan

[2016-09-07 14:19] maggiolo00 commented on #201
@janjilek

the documentation has been moved here

https://github.com/orientechnologies/orientdb-docs/blob/master/OrientJS.md

[2016-09-07 14:19] #201 closed

[2016-09-07 15:02] maggiolo00 commented on #200
@StarpTech

what would be cool but it will require more efforts.
Meanwhile i've implemented this. We can open a new issue to track the other enhancements.
Thanks

[2016-09-07 15:02] #200 closed

[2016-09-07 15:03] maggiolo00 commented on #127
Hi @StarpTech

Implemented. See here

https://github.com/orientechnologies/orientjs/issues/200

[2016-09-07 15:03] #127 closed

[2016-09-07 15:51] maggiolo00 commented on #200
Docs updated
http://orientdb.com/docs/last/OrientJS-Events.html

[2016-09-11 20:28] silverfox1948 opened #202 "Typescript definition file name is spelled incorrectly ...e"
I'm trying to  download the typescript definition file for orientjs. "Typings" can't find it to download. I believe it is because the filename is incorrectly spelled. Currently it is:
orinetjs.d.ts    It should be:
orientjs.d.ts

Please fix!

[2016-09-12 15:21] TheAdamGalloway commented on #14
Does anybody have a solution for this issue? I've been encountering it in my app after periods of inactivity. It's annoying since it throws an Error.

[2016-09-13 15:12] StarpTech opened #203 "Code coverage under 80%"
Hey guys,
I just want to give a hint that the current code coverage is very bad. In other words the protocol is not tested completly. Thanks!

[2016-09-13 21:13] lvca commented on #203
The support for old versions brings down the global average. Anyway, of course, we can always improve it.

[2016-09-26 14:33] maggiolo00 commented on #197
@gprasadg

any news on this?

[2016-09-27 13:00] rmanzar opened #206 "ETL - Load Failing using oetl"
I am getting this error while using oetl on my windows machine
using this versionorientdb-community-2.2.8

oetl posts.json
oetl postscsv.json
oetl commentscsv.json
oetl comment.json

Files are attached as a zip and I have placed them in the bin folder.
[Manyfiles.zip](https://github.com/orientechnologies/orientjs/files/495527/Manyfiles.zip)

OrientDB etl v.2.2.8 (build 2.2.x@r39259e190e16045fe1425

[2016-09-27 15:55] maggiolo00 commented on #36
hi @iamlogiq

see here

http://orientdb.com/docs/last/OrientJS-Server.html#using-tokens

[2016-09-28 07:18] robfrank commented on #206
Inside the jsons you are pointing to a remote database, but in the postscsv.json you are poiting to `"dbURL": "plocal:/usr/local/orientdb/databases/soft"` . If the OrientDB server is stil running, as I think, then you got :
[code]
ONLY a process can open a database: the server OR the oetl process in plocal.

[2016-09-28 20:08] saeedtabrizi commented on #202
@silverfox1948 yes . sorry for mistake .

[2016-09-29 13:33] robfrank commented on #206
did you solve the problem? may I close?

[2016-09-29 13:41] rmanzar commented on #206
Thanks Frank, Yes, I could solve the problem. I had to use serverUser and serverPassword.

[2016-09-29 13:43] robfrank commented on #206
Issue moved to [orientechnologies/orientdb #6756](https://github.com/orientechnologies/orientdb/issues/6756) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-30 04:27] Raj-esh commented on #193
Facing exactly same issue..
Running Windows 8.1
OrientDB 2.2.10
OrientJS 2.2.2
Node 6.7
Node-gyp 3.4.0

Should I raise a new issue ?

[2016-09-30 09:40] maggiolo00 commented on #193
hi @Raj-esh

which error do you get?

[2016-09-30 12:28] suyogdilipkale opened #207 "There should be separate options to export/import:"
There should be separate options to export/import:
1. only schema
2. only functions
3. only schema and functions
In above case if class or its properties are already exists then it should allow flag to overwrite. same with functions if there is existing function with same name then it should allow to overwrite.

[2016-09-30 17:15] #207 closed

[2016-10-01 06:55] Raj-esh commented on #193
Attaching the issues - Warnings about Deserializer
![capture](https://cloud.githubusercontent.com/assets/7304651/19012390/dc2caa56-87d1-11e6-8b31-306c90dbfd16.PNG)
![2](https://cloud.githubusercontent.com/assets/7304651/19012391/e195ce8c-87d1-11e6-9d6b-1943bb3ee000.PNG)

[2016-10-03 12:49] tglman commented on #193
hi @Raj-esh,

This seems just warnings, they should not stop your build.
does the install fail ? it seems that after this it should go smoothly.

[2016-10-03 14:12] Raj-esh commented on #193
The install was successful with the above warnings. As @tglman mentioned now its working fine. Thanks

[2016-10-05 08:35] Raj-esh commented on #193
Actually I am facing the issue when I use node 6.7 I guess.

When I install orientDB with node version as 6.7 I get the issue as in attached:

Somehow its the installation is looking for node-gyp 3.3.1 instead of 3.4, though I have 3.4 installed.

Can you please help me here?

![image](https://cloud.githubusercontent.com/assets/7304651/19106361/8ad23c62-8b04-11e6-9c9b-1543a704e9f4.png)

[2016-10-05 08:51] Raj-esh commented on #193
I identified the problem.

Node.js 6.7 is packed with npm 3.10.3 version, which uses node-gyp 3.3.1. Whereas, npm that is part of node 4.6 uses node-gyp 3.4. Strange..!

And I replaced the node-gyp 3.3.1 with 3.4 and my orientsjs build got successful.

[2016-10-06 23:43] Enteee opened #208 "Transactions HowTo"
| software | version  |
| --- | --- |
| orientjs | 2.2.2 |
| orientdb | 2.2.10 |

The Transactions section in the doc is rather short, which means I'm having difficulties finding a solution to several problems around the following snippet:

[code]
1. UPSERT  has [its limitations](http://orientdb.com/docs/master/SQL-Update.html#limitations-of-the-upsert-clause) and creating a Index is not really an

[2016-10-07 15:29] maggiolo00 commented on #208
hi @Enteee

if you pass a number to commit

.commit(10),

it will automatically retry the Tx on case of MVCC exception.
I will update the docs.

[2016-10-07 15:55] Enteee commented on #208
thank you, that helps a lot!

But can you explain me why I'm facing concurrency issues with the following code?
[code]

[2016-10-10 08:29] maggiolo00 commented on #208
@Enteee let me check

[2016-10-11 15:31] Enteee opened #209 "Enable field name escaping"
| software | version  |
| --- | --- |
| orientjs | 2.2.2 |
| orientdb | 2.2.10 |

To be honest, I don't understand how the orientdb "SQL" parser works. But I keep getting weird errors which are a pain in the ass. Why? Every so often I accidentally use reserved keywords as column names.

Example:
[code]
yields:
[code]
escaping `match`, works:
[code]

I might be just blind but the [sql syntax](http:

[2016-10-11 15:42] maggiolo00 commented on #209
hi @Enteee

Match is a reserved keyword since 2.2.

orientdb.com/docs/2.2/SQL-Match.html

I think this syntax is missing that statement.

[2016-10-11 15:51] Enteee commented on #209
hi @maggiolo00,

thank you for the answer. My text probably didn't make this clear enough: I sort of figured this out already. Which is why I asked:

[2016-10-11 16:07] maggiolo00 commented on #209
@Enteee

i guess no reason. Strict sql with backtick  was introduced in 2.1, and the sql builder of orientjs is older than that. I will mark this as enhancement

[2016-10-11 19:30] Enteee commented on #209
@maggiolo00 thank you.

[2016-10-11 21:16] Enteee commented on #208
To be honest, I might be wrong with this, but I'm starting to think that I don't understand the orientdb's transaction system or it is not working as expected.

Queries of the following kind:
[code]

[code]

[code]

Leaves me sometimes with something like this:
![broken transactions](http://i.imgur.com/AfLHihCg.png)

I now have two theories about what's happening:

1. _**Rollback not working**_:

[2016-10-11 21:42] Enteee commented on #208
Adding a `UNIQUE` index on Process and Snapshot seems to be a valid workaround.

[2016-10-12 10:19] maggiolo00 commented on #208
Hi @Enteee

lock record cannot protect you from creating the same object with the same id. Since in create time it's does not exists. The unique index it's the only guarantee.

Do you still need help with the script?

[2016-10-14 11:02] maggiolo00 commented on #206
I'm closing this since has been moved.

[2016-10-14 11:02] #206 closed

[2016-10-16 17:43] saeedtabrizi opened #210 "[FEATURE] Transaction IF & ROLLBACK , Sequence statement support needed."
Is there any sample or documentation for transaction `IF` and `ROLLBACK`  statement support in orientjs ?

[2016-10-16 17:46] saeedtabrizi commented on #202
@silverfox1948  i correct the file name and add some new features too .
i push it after some tests .
thanks .

[2016-10-16 17:51] saeedtabrizi opened #211 "[Proposal] Remove the bluebird dependency and use the ES6 promise mechanism for async methods ."
I think if you remove bluebird dependency and use the builtin ES6 promises we can achieve more performance .
is there any idea ? welcome to your comments .

[2016-10-16 18:09] saeedtabrizi commented on #184
Hi @maggiolo00
there is a new simple way to install definition files now . and i edit my procedure .
**EDIT**
In the newer version of npm  and according to [https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/](https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/) you can easily install definition files from npm repository by fo

[2016-10-16 18:09] saeedtabrizi commented on #184
Hi @maggiolo00
there is a new simple way to install definition files now . and i edit my procedure .
**EDIT**
In the newer version of npm  and according to [https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/](https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/) you can easily install definition files from npm repository by fo

[2016-10-17 10:34] maggiolo00 commented on #211
@saeedtabrizi

It's a major refactor i think, but it would be nice to switch to ES6 for the next major version of
OrientJS like 3.0.

[2016-10-17 19:00] saeedtabrizi commented on #210
Hi @luigidellaquila
If there is no any implementation for IF and Rollback or Sequence statements , i'm ready to develop it .

Regards
Saeed

[2016-10-17 20:03] maggiolo00 commented on #210
hi @saeedtabrizi

there is no support for if/rollback and Sequence statements.
It would be super cool if you can develop it, i can help you that

Thanks
Enrico

[2016-10-17 20:10] saeedtabrizi commented on #210
@maggiolo00  Okay. i start a new challenge that i love it.

[2016-10-17 20:14] maggiolo00 commented on #210
Cool @saeedtabrizi

ping me if you need help!

[2016-10-19 02:54] a-unite commented on #211
Does V8 internal implementation already became faster, than Bluebird?

Because what I see is that http://programmers.stackexchange.com/questions/278778/why-are-native-es6-promises-slower-and-more-memory-intensive-than-bluebird question is still actual.

[2016-10-19 12:55] tiagodavi opened #212 "[questions] It's just some questions"
Hi guys, first all I would like to thank you about excelent job you are doing here. Well, I'd like to know if it's possible to debug or to see querys in orientjs, besides I'd like to know if it's possible to build querys like that by using native API:

[code]

How can I do these things?

[2016-10-19 13:26] maggiolo00 commented on #212
@tiagodavi
yes you can activate debug mode.

[code]

[2016-10-19 14:31] maggiolo00 commented on #212
About the query builder there is support for >= and <=,
but it's not documented yet. I will update the docs with some example.

Between is not supported

[2016-10-19 14:39] tiagodavi commented on #212
Thank you @maggiolo00

[2016-10-25 15:55] TheAdamGalloway commented on #197
I too am having issues with this. I'm simply doing a select query on the database, which fetches a list of edges. It started giving me a RangeError when trying to send the response as JSON using Socket.IO. I tried parsing it using JSON.stringify() but I'm getting a TypeError: Converting circular structure to JSON.

[2016-10-25 16:21] maggiolo00 commented on #197
Hi @TheAdamGalloway

can you isolate a dataset so i can replicate the issue?

[2016-10-25 20:25] TheAdamGalloway commented on #197
@maggiolo00
I can't get a sample dataset at the minute but I'll show an example.

So I have four classes (A, B, C & D). A is a normal class that inherits from E (EDGE) class. B and C inherit from A (so, they are edges). D is my Users class (inheriting from V).

I am querying A directly, with a fetchplan of 'in:0 out:0' and returning this. I am only working with a small dataset since I am rolling o

[2016-10-26 11:39] TheAdamGalloway commented on #197
@maggiolo00 I had a look at this bug again today, and noticed that it wasn't an issue when I omitted the fetchplan, like I had guessed. It appears that the fetched _in_ and _out_ vertices contain Circulars?

[2016-10-26 11:48] maggiolo00 commented on #197
@TheAdamGalloway could be yes.
In case of relationship that object three could became a graph and the stringify complains.
I would like to replicate it so i can think of a possible solution.
Thanks

[2016-10-26 12:10] TheAdamGalloway commented on #197
@maggiolo00
I've tried using both the query builder and db.query() but both cause errors when used with a fetchplan.
e.g. `db.select()
	.from('A')
	.fetch({
		 in: 0,
		 out: 0
	})`
and `db.query('select * from A', {
		offset: offset,
		limit: 10
		// fetchPlan: 'in_:-1 out_:-1'
	})`

[2016-10-28 13:26] maggiolo00 commented on #198
@facelessTT

it's not only a  workaround. OrientDB live query works only with token from 2.2.x.

[2016-10-28 13:31] maggiolo00 opened #213 "Enable token by default"

[2016-10-28 13:32] maggiolo00 commented on #198
@facelessTT

i've raised that issue that will make the token default for 3.0 version.
https://github.com/orientechnologies/orientjs/issues/213

[2016-10-28 13:32] #198 closed

[2016-10-28 13:40] maggiolo00 opened #214 "Transport Refactor"

[2016-10-28 14:36] maggiolo00 commented on #197
@TheAdamGalloway

i'm looking for a solution but seems there is not easy way to fix this.
The problem is that by enabling fetch plan you are actually creating a graph of objects and when serialized gives you circular JSON. Since results are javascript plain objects and  we do not override JSON.stringify, you should do something like this to prevent circular exception.

[code]

where result is the

[2016-10-28 14:41] maggiolo00 commented on #197
@gprasadg

you should use also this approach.

[2016-10-28 14:52] TheAdamGalloway commented on #197
@maggiolo00
That was my initial solution, since it was suggested on StackOverflow, but I thought that there may be a better way of doing it.

Thanks for the tip though. I've never had this issue when querying vertices using a fetchplan, only since I have started querying edges...

Thanks for the help!

[2016-10-28 15:22] #192 closed

[2016-10-28 16:01] maggiolo00 commented on #199
@EricLin2004 @StarpTech
i've released a new of OrientJS 2.2.3 with a fix for this multiple return.
If it's not covered please reopen it
Thanks

[2016-10-28 16:01] #199 closed

[2016-10-29 12:51] jpstrikesback commented on #197
Just hit this, it might be good to come up with some examples and put it in the docs.

[2016-10-31 08:15] TheAdamGalloway commented on #197
I agree, @jpstrikesback

[2016-11-01 18:19] Enteee commented on #213
when you do this, please also document how to handle the following error which emerges when you use the same connection for a long time.

[code]

[2016-11-01 18:26] Enteee commented on #208
which means theory 2. holds? I'm using the `UNIQUE` index workaround atm.

[2016-11-03 22:58] Enteee opened #215 "UNIQUE index newlines and multiple parameters"
| software | version |
| --- | --- |
| orientjs | 2.2.2 |
| orientdb | 2.2.12-SNAPSHOT |
_This might be a orientdb bug._

I do get very weird behaviour when `UPSERT`ing vertices of a class having a `UNIQUE` index. I don't even know how to describe this issue. The following snippet demonstrates what's happening. Case two to six should never fail. But for some reason five and six do.

[code]

[2016-11-04 11:12] maggiolo00 commented on #215
@Enteee

Yes it's an OrientDB issue. 2.2.12 it's affected, but has been fixed in 2.2.13-snapshot (just tested your script).

Thanks

[2016-11-04 11:12] #215 closed

[2016-11-05 22:18] Strate opened #216 "`db.exec` with invalid query stucks."
Try to write some sql, which produce an error:
[code]
that promise will never be rejected or resolved, it become pending to forever.
Am i missed some?

[2016-11-05 22:24] Strate opened #217 "Migrations should be done in transaction."

[2016-11-05 22:25] Strate commented on #216
*!N.B* This happens only if server connect is pooled!

[2016-11-07 12:22] smolinari commented on #108
@gyzerok - did you get any further with your GraphQL work?

Scott

[2016-11-08 06:33] gyzerok commented on #108
@maggiolo00 if you mean work with Orient and GraphQL, I stopped about a year ago. Don't know about now, but at that time I would highly recommend to not use OrientDB because of poor documentation and painful searching answers to your questions. And this does not mean that technology itself is bad.

[2016-11-08 08:45] smolinari commented on #108
Thanks for your reply.

ODB has gotten better since then, but the docs are still somewhat lacking. ODB is so powerful in so many ways and the docs fail to convert that to the public, unfortunately.

Is any of your work public? I'd just like to see how you tackled working with GraphQL. Have you seen Apollo Server? I am going to be using it.

Scott

[2016-11-08 08:58] maggiolo00 commented on #108
@smolinari

Apollo Server is really cool, i'm playing with it and ODB, i hope i will release some example app soon to help people starts with
Graphql and ODB.

[2016-11-08 10:36] smolinari commented on #108
That would be great Enrico.

If you guys could show how ODB can make GraphQL work on the application server, (hopefully also much easier), then you'd have a growing technology helping you sell ODB.

A PostgreSQL fan created this too: https://github.com/calebmer/postgraphql

It doesn't have anything to do with Apollo, but it shows the excitement for GraphQL as a data access and manipulation languag

[2016-11-10 14:21] maggiolo00 commented on #216
hi @Strate

try to use the token. It's the current workaround for pooled connection.
In 3.0 it will be enable by default

https://github.com/orientechnologies/orientjs/issues/213

[code]

[2016-11-11 14:40] #217 closed

[2016-11-11 14:40] maggiolo00 commented on #217
hi @Strate

Unfortunately OrientDB does not support schema changes in Transaction, so orientjs cannot support them.

Thanks

[2016-11-14 17:58] dastoori opened #218 "[v2.2.3 bug] - Duplicate output when @rid doesn't exists"
I've recently updated `orientjs` to 2.2.3 and noticed that in some case it returns duplicate records.

## Example:

[code]

Following queries return two records and both of them are the same (notice the `@rid` field):

[code]

another example:

[code]

When i add `@rid` to `include()`, it returns the correct output:

[code]

The above queries are works perfectly in v2.2.2
*i'm using orientdb 2.2.1

[2016-11-15 08:53] luigidellaquila commented on #218
Hi @dastoori

This seems to be a regression in the SQL executor, I'm checking it

Thanks

Luigi

[2016-11-15 09:01] luigidellaquila commented on #218
Hi @dastoori

I tried to replicate this problem on 2.2.12 but I could not manage to do it.

Do you have a sample dataset to replicate it?

Thanks

Luigi

[2016-11-15 09:54] dastoori commented on #218
This is my sample dataset *(from my first comment)*:

[code]

The query outputs has no problem in "OrientDB Studio" (2.2.7 and 2.2.12) or "OrientJS v2.2.2", but when i install `npm install orientjs@2.2.3` it returns duplicate records.

[2016-11-15 10:06] luigidellaquila commented on #218
Ok, got it.
Reassigning it to @maggiolo00

Thanks

Luigi

[2016-11-15 13:55] #218 closed

[2016-11-15 13:57] maggiolo00 commented on #218
@dastoori

thanks opening this issue i've fixed it
i've added also a regression test

[2016-11-15 14:00] maggiolo00 commented on #218
@dastoori

i'm waiting for travis then i will release 2.2.4 on NPM

[2016-11-15 14:19] maggiolo00 commented on #218
@dastoori

just released 2.2.4

[2016-11-18 11:21] maggiolo00 commented on #216
@Strate

did you have the change to try the token?

Thanks

[2016-11-18 12:43] Strate commented on #216
Yes, thanks!

[2016-11-18 12:43] #216 closed

[2016-11-18 15:16] maggiolo00 opened #219 "Resolve References parameter in query"
in API `db.query(command,args)` support additional parameter to avoid resolve references
on the result set.

[2016-11-18 17:48] dotmilk commented on #211
Contrary to popular belief bluebird is more than a polyfill-esque choice, it is the fastest of the promise libraries and as mentioned above more lightweight and faster than native promises. I feel the performance of this codebase would suffer if you removed this dependency.

[2016-11-25 22:28] DThink opened #220 "orientJS and ionic framework"
hi, i use the ionic framework to develop my client side app. my question is if orientjs work on the browser side or only in the server side? .
and, if orientjs is not compatible with the client side what is the best solution to comunicate with my server throught javascript by client side?

[2016-11-28 10:54] maggiolo00 commented on #220
hi @DThink

orientjs works only in the server side. If you want to communicate with ODB server you can use the HTTP api

http://orientdb.com/docs/2.2/OrientDB-REST.html

[2016-11-28 13:27] DThink commented on #220
i read in the orientDB site that for security reason is better to not connect directly a client with the server. now im a bit confused. i think that if i communicate with the server  throught a orientjs script, i have a more slow performance but i see also that i not can authenticate a client by orientjs script.

i not understand well what is the best way to use both (client side and orientjs) to

[2016-11-30 11:56] maggiolo00 commented on #220
@DThink
usually you don't expose directly ODB server, that could lead to security issues.

The canonical approach is

Client -> API (node + orientjs) -> ODB

[2016-12-01 09:16] CTScognitives opened #221 "[TypeError: Cannot read property 'operations' of null]"
hi,

I am using orientjs latest version in my nodejs app to connect with orientdb database. I have used the app in AWS where the database is present. It is running without any errors.But when i hosted my app in Azure, i am getting the following errors when connecting to the database in AWS. Any help would be appreciated.Thanks in Advance

`{ [OrientDB.ConnectionError [ECONNREFUSED]: connect ECONNR

[2016-12-01 10:10] maggiolo00 commented on #221
hi @CTScognitives

seems that the app cannot reach the database. Did you open the 2424 port
in the AWS server?

[2016-12-01 10:17] CTScognitives commented on #221
Hi,

Thanks for the fast reply. I have opened another port 8080 in the AWS for the orientdb database. Will it do ?

From: Enrico Risa [mailto:notifications@github.com]
Sent: Thursday, December 01, 2016 3:41 PM
To: orientechnologies/orientjs <orientjs@noreply.github.com>
Cc: Gautam Kumar, Vadisala (Cognizant) <Vadisala.GautamKumar@cognizant.com>; Mention <mention@noreply.github.com>
Subject: Re: [o

[2016-12-01 10:19] maggiolo00 commented on #221
You should set also in your app 8080 port to orientjs config.

[2016-12-01 10:26] CTScognitives commented on #221
I have mentioned that in my db settings file.It is working fine when i hosted the app in the same AWS.but it is failing only when i am trying to connect the db from another site and giving this error "Unhandled rejection TypeError: Cannot read property 'operations' of null"

Should i start my db again with default 2424 port?

[2016-12-01 10:33] maggiolo00 commented on #221
this is the first error log when trying to connect to the db.

[code]
You can try to start the db with 2424

[2016-12-02 12:00] maggiolo00 commented on #221
@CTScognitives

were you able to solve it?

[2016-12-02 12:06] CTScognitives commented on #221
Hi,
I am trying to install orientdb into AWS but i am not able to start the server
when i am using the "service orientdb start" it gives me this error

and when i am using "./server.sh" it throws me the following error

[2016-12-05 09:03] CTScognitives commented on #221
Hey,
I have re-started the db with binary port as 2424 and http port as 8080.
Even though,i am still getting the error

  name: 'OrientDB.ConnectionError [ECONNREFUSED]',
  code: 'ECONNREFUSED',
  message: 'connect ECONNREFUSED xxxxx:8082',
  data: {} }

I previously set the binary port as 8082 and changed it to 2424 but it still doesnt change i think. Please tell me what i need to change so that

[2016-12-07 18:49] tiagodavi opened #222 "Documentation and Print Query"
Hi guys.

How can I print a specific query on terminal? and Where can I find new documentation? I saw that documentation is older than code..

[2016-12-08 10:29] maggiolo00 commented on #222
Hi @tiagodavi

did you look at this?

http://orientdb.com/docs/last/OrientJS-Query.html

[2016-12-08 13:32] tiagodavi commented on #222
Yes, thank you. But I saw that your tests have functionalities that are not documented yet.

[2016-12-12 21:53] lukelaws commented on #29
Hi I was curious if there is a script available for turning the 'embedded' response into a tree on the client side.  I have been having a hard time constructing one that can account for the variations in response structure between query types e.g. Traverse vs Selects and Breadth vs Depth first and figured I would ask in case i'm doing work I don't need to.  Thank you.

[2016-12-27 17:29] maggiolo00 commented on #221
@CTScognitives

did you solve it?

[2016-12-27 17:32] maggiolo00 commented on #220
Hi @DThink
i'm closing this since it's not relevant to orientjs

[2016-12-27 17:32] #220 closed

[2016-12-28 11:45] G4br13l3 commented on #172
Hi @kmarvin,

can you provide us more info in order to reproduce this issue?

Thanks.

[2016-12-28 17:19] grimace opened #223 "can I use a filter with the query builder?"
I'm currently porting from mongo sails where I'm using a filter ( filter is built from a number of optional parameters that come in the request ).  The filter can vary in number of fields and values but is well formed json object.  I'm thinking some thing like this:

var filter = { age:30, hairColor: brown, height:65 };

 var query = this.db.select().from('Person').where(filter);

I haven't found

[2016-12-28 18:07] grimace commented on #223
yes I can!

var query = db.select().from('Person').where(filter);

totally works!

[2016-12-28 18:07] #223 closed

[2016-12-28 20:53] lvca commented on #223
Cool you found it by your own.

[2017-01-05 02:17] hosseinGanjyar opened #224 "Insert large data"
I want to **Insert** large amount of data (~ 8,000,000 records) ,that I get from Sql Server. I use of streaming "**mssql**" driver for get data.

**_My problem_**:
When I want to insert data (8,000,000 records), increased _memory usage_ very very much ( > 2GB).
Is there a way for insert very very large data using **Orientjs**???

[code]

[2017-01-05 10:38] lvca commented on #224
Using OrientJS is not the fastest way to insert data. You could try with ETL by connecting it to MySQL executing your query. It will be much faster.

[2017-01-05 10:38] #224 closed

[2017-01-05 10:55] StarpTech commented on #224
It's because orientjs don't support streaming. Socket connections are really fast. This is an restriction which should be on the roadmap.

[2017-01-05 15:03] mastilver commented on #221
Hi

It looks like I have the same problem

Everything is working fine when I run my node server using node@6.9.3 on linux
But I get that error when running the node server (same version 6.9.3) inside a docker image

Here's how I run the container:
[code]

Then When I log: `docker logs node-server`, I got:
[code]

-----

Are you aware for any issue running the `orientjs` library inside a `node` con

[2017-01-05 17:29] mastilver commented on #221
It was an issue with my code: I was using the props: `hostname` rather than `host`...
It was defaulting to `localhost` which is fine on my laptop, not inside a docker container

[2017-01-05 17:40] maggiolo00 commented on #221
cool @mastilver

@CTScognitives

what about you? did you solve it?

can i close this issue?

Thanks

[2017-01-08 04:51] hosseinGanjyar commented on #224
I want Insert datato "OrientDB" database.

[2017-01-10 00:00] grimace opened #225 "Is it possible to use a trigger or Hooks on a DB event"
like in this document:

http://orientdb.com/docs/2.2/Hook.html

[2017-01-10 05:23] ghost opened #226 "quote mark needlessly inserted into record (bug?)"
`db.exec('CREATE USER :name IDENTIFIED BY :password ROLE person',
            {params:{
                name:userMap.name,
                password:userMap.password
            }}
        )`

Let userMap={name:"user1",password:"123"}.
After execution, the field 'name' of this new OUser record stores '"user1"', instead of 'user1'. Why?

[2017-01-10 07:08] hosseinGanjyar commented on #169
I use NodeJS and I want insert 8milions records into orientdb database.
What's best way for : **Performance** + **Speed** ?

My code:
var ODatabase = require('orientjs').ODatabase;
var db = new ODatabase({
    host: 'X',
    port: 2424,
    username: 'root',
    password: '123',
    name: 'X',
    pool: {
        max: 1000
    }
});

var rowNumber_start = 0;
var rowNumber_end = 8000000;

function

[2017-01-10 10:18] maggiolo00 commented on #169
hi @hosseinGanjyar

The ODatabase represent a single session attached to a database. It will not scale out since multiple request with the same session id will not run in parallel on the server.

The best way for now is to create n ODatabase objects and use them.

I'm working on the new API for OrientJS 3.0 that will simplify this task.

meanwhile you can use something like this.

[code]
That Shou

[2017-01-10 10:21] maggiolo00 commented on #169
@StarpTech

For the multitenant i'm working on this new API for OrientJS 3.0 that will help you solve it

[2017-01-10 10:24] maggiolo00 commented on #226
hi @zhiguan-hanks

let me check

[2017-01-10 10:28] maggiolo00 commented on #225
hi @grimace

those are hooks on the Server. You can write them in java, or use Dynamic hooks
as explained here.

http://orientdb.com/docs/2.2/Dynamic-Hooks.html
From OrientJS are not supported.

If you want to watch for create/update/delete event you could use live query

http://orientdb.com/docs/2.2/Live-Query.html#livequery-in-nodejs

[2017-01-10 10:28] #225 closed

[2017-01-10 10:38] maggiolo00 commented on #226
hi @zhiguan-hanks

yes seems a bug with the `CREATE USER` statement.

[2017-01-13 10:02] Rucchao opened #227 "Asynchronous importing data, reached maximum number of concurrent connnection 10000"
**Hi, I am importing the different data files in the directories parallel to the OrientDB**, I already set the maxinum number of concurrent connnection to **10000**, however sometimes got this error "Reached maximum number of concurrent connnection 10000",
The main code is as follows:

async.parallel({
                       one: function(callback) {
    	               Importingdata1(dir1,orient)

[2017-01-13 10:20] maggiolo00 commented on #227
hi @Rucchao

how do you get the `this.db` instance?

[2017-01-13 10:29] Rucchao commented on #227
Hi, I do it in this way, let's say dir have thousand json files, if it close db connection, other files cannot be inserted, if I do not, sometimes it reached the maximum number of connection, I am new to nodejs, Is anything I'm wrong? When should I close the db connection and how regarding read files in directory? Thanks!

var orient = new OrientDB;
Importingdata1(dir,orient);

exports.Importingda

[2017-01-13 10:36] maggiolo00 commented on #227
hi @Rucchao

i do not see where you create the db instance.
in OrientDB function

do you use `server.use` API?

[2017-01-13 10:42] Rucchao commented on #227
Hi, This is my backend file:

function OrientDB(){
    this.server = orientjs({
      host: 'localhost',
      port: 2424,
      username: 'root',
    	  pool: {
    		    max: 50
    		  }
    });
    try {
        this.db = this.server.use('testdb');
    } catch (e) {
            console.log('ERROR : database error --> '+ e);
            process.exit(1);
    }
    console.log('Using database: '

[2017-01-13 10:43] Rucchao commented on #227
Now I met a new error says TypeError: Cannot read property 'db' of undefined since I replace the this.db with orientdb, is anything wrong with the orientdb parameter?

[2017-01-13 10:46] Rucchao commented on #227
exports.Importingdata = function(dir,orient) {
	fs.readdir(dir, (err, files) => {
		  files.forEach(file => {
		  file=path.resolve(dir,file);
	      fs.readFile(file, function(err,result){
		        	if(err) return console.error(err);
		        	orient.createNode(result,orient);
		        });
		  });
		});
}

[2017-01-13 10:55] maggiolo00 commented on #227
hi @Rucchao

see ma last comment here
https://github.com/orientechnologies/orientjs/issues/169

For this kind of import it's better to use `n` ODatabase instances. Each one represent a session opened on the server and will have it's own socket.
I'm working on the new API for 3.0 that will help to manage sessions over sockets

[2017-01-13 10:57] maggiolo00 commented on #227
If you send me your importer code i can help you refactor this for improving performance.

You can send it to
e.risa@orientdb.com

Thanks

[2017-01-13 10:59] Rucchao commented on #227
Thanks for your time ! I'll sent the code to you later and make the problem more clear, thanks again.

[2017-01-14 16:56] hosseinGanjyar commented on #169
@maggiolo00 thanks work, but I have one problem. My memory increase and no freed after every insert.
https://github.com/orientechnologies/orientdb/issues/7080

[2017-01-15 21:03] hosseinGanjyar commented on #169
Ok, But when I select / insert into OrientDb database, increase memory. What to do release this memory after select / insert into OrientDb?

[2017-01-17 19:24] tiagodavi opened #228 "How to update an edge by using fluent api"
Hi, can you please explain me how  to update an edge by using fluent api ?

[2017-01-18 07:59] maggiolo00 commented on #228
hi @tiagodavi

do you have the record id of the edge?

[2017-01-18 08:27] tiagodavi commented on #228
Hi. No. I just have the name of it.

On Jan 18, 2017 5:59 AM, "Enrico Risa" <notifications@github.com> wrote:

[2017-01-18 09:58] maggiolo00 commented on #227
@Rucchao

i did an example here
https://gist.github.com/maggiolo00/34052268aad86ecbd318052ad85d07e9
Let me know if you still need help
Thanks

[2017-01-18 11:42] hosseinGanjyar commented on #227
@maggiolo00 I have one Error:
"**Maximum call stack size exceeded**"

[2017-01-18 11:45] maggiolo00 commented on #227
@hosseinGanjyar

whare?

[2017-01-18 11:46] maggiolo00 commented on #227
@hosseinGanjyar

with which importer?

[2017-01-18 11:59] hosseinGanjyar commented on #227
please see again, i have update command

[2017-01-18 12:06] maggiolo00 commented on #227
@hosseinGanjyar

which version of node?

i was with `v4.7.0`

[2017-01-18 12:15] hosseinGanjyar commented on #227
Node - v > 6.9.2

[2017-01-18 12:22] hosseinGanjyar commented on #227
I send u, all of my code. please check **gmail** box.

[2017-01-18 12:28] maggiolo00 commented on #227
I've executed
https://gist.github.com/maggiolo00/34052268aad86ecbd318052ad85d07e9
with node 6.9.2 without problem.

[2017-01-18 12:32] hosseinGanjyar commented on #227
I done **import.js** into webstorm, but see this error:
[code]

[2017-01-18 12:33] maggiolo00 commented on #227
why in webstorm?

call it with node import.js

[2017-01-18 12:40] hosseinGanjyar commented on #227
I mail app.js for U. please check Gmail box.

[2017-01-18 12:45] royalpinto opened #229 "No option to filter by vertex/class in the API db.record.get"
No option to filter by vertex/class in the API db.record.get

I could not find any documentation on the second parameter of db.record.get but looking at the [code, I could see an additional parameter to pass options](https://github.com/orientechnologies/orientjs/blob/master/lib/db/record.js#L76-L112). However, there is no option filter by a class name while fetching the record.

Something like thi

[2017-01-18 12:52] maggiolo00 commented on #227
@hosseinGanjyar

did you get my mail right. I do not see it

e.risa@orientdb.com
or
maggiolo00@gmail.com

[2017-01-18 13:03] hosseinGanjyar commented on #227
I send to gmail. please check

[2017-01-18 13:56] hosseinGanjyar commented on #227
@maggiolo00  Did u my app.js in gmail box?

[2017-01-18 16:07] maggiolo00 commented on #229
hi @royalpinto

when you have the record id there is not need for filtering with class.
#12:34 identify a record in the database with a specific class

[2017-01-18 16:10] maggiolo00 commented on #228
How would you filter in order to find the edge?

do you have vertices record ids or primary keys?

[2017-01-18 16:47] tiagodavi commented on #228
I just need update "in" and o"ut" of an edge.. I have in, out and the edge
name.

Does that make sense?

I have been using db.update for doing this but.. I saw on orientdb
documentation that we have to use update edge instead of only update.. so I
am worried about that.

Thanks.

Updates edge records in the current database. This is the equivalent of the
UPDATE <http://orientdb.com/docs/2.1/SQL-Up

[2017-01-18 16:56] royalpinto commented on #229
Hi @maggiolo00,

An example usage in my application: User is trying to access user record by RID using a rest API end point /users/<rid>/. Now in the application, I would like to query the record(with fetch plans), but if suppose given RID is of some other class, how can I prevent it from sending wrong class record.

Sorry, new to OrientDB, may be some other API I should consider using for this us

[2017-01-18 17:58] tiagodavi commented on #228
I found out how to do it..

There is db.delete('EDGE', name) but there is no db.update('EDGE', name)... so

It works like orient db says..

`
db.update(`EDGE ${name}`)
          .set(fields)
          .where(conditions)
          .one()
`

[2017-01-18 19:28] hosseinGanjyar commented on #227
My problem dont solved yet :(

[2017-01-19 09:09] maggiolo00 commented on #228
Yes @tiagodavi

if you change out/in it's better to use update edge since it will take care of updating the vertices
pointers also

[2017-01-19 09:20] maggiolo00 commented on #229
hi @royalpinto

i get your point. If you want to do that you could so something like this

[code]

[2017-01-19 09:39] zhiguan-hanks commented on #226
Thanks a lot!

[2017-01-19 11:02] royalpinto commented on #229
aah okay, will try this one.

Thank you :-)

[2017-01-19 11:02] #229 closed

[2017-01-26 14:14] igasparetto opened #230 "Missing points in documentation"
Hi guys,

We noticed that there are few bits missing in the documentation. Some things we found out by looking into the code.

Things not so obvious:

1) how to use let with fluent api
2) we can chain methods/functions, i.e. .where.or in fluent
3) buildStatement is great but there is no documentation
4) we can add the word "EDGE" to .update(), like .update("EDGE hasAccount") - this is important!
5

[2017-01-26 14:35] igasparetto opened #231 "Replace promises with observables"
https://egghead.io/lessons/rxjs-rxjs-observables-vs-promises

I don't think there are any doubts that observables are more powerful, so may I suggest a full replacement of promises around?

Potentially, you could use
`Observable.fromPromise (db..where.one() // .all() /// .scalar())`
But a bit dirty :-)

[2017-01-26 14:52] StarpTech commented on #231
Powerful in which cases for orientjs ? Orientjs is database driver.  It consist of parser,  query builder,  connection pool...  components which already compose good without an extra layer. Database driver will be developed with performance in mind. I would prefer to make such features configureable without runtime impact.

[2017-01-26 16:55] tiagodavi commented on #231
Promise Vs Observable

1) Promise is always executed when you call it. Observable is Lazy, it just executates when you subscribe to it.

2) Promise can't be canceled. Observable can be canceled at any moment.

3) It just why you use "then" it doesn't mean you are not making callback hell. Promise leads to "then hell".

4) It looks like OrientJS is using BlueBird, a third party library for creating

[2017-01-26 17:22] igasparetto commented on #231
I make mine @tiagodavi 's words

[2017-01-26 18:14] StarpTech commented on #231
@tiagodavi
Promises are part of the nodejs core. I see no problems with Promises if you use them wisely. Rxjs is a powerful tool to handle asynchronous stream of data. After some research I must agree the benefits are great http://stackoverflow.com/questions/37364973/angular-2-promise-vs-observable . I think that would mean a complete rewrite.

[2017-01-26 18:27] igasparetto commented on #231
I am happy to take the punch with @tiagodavi

[2017-01-26 18:31] StarpTech commented on #231
@igasparetto a driver with streaming support for 3.0 is planned but I dont think that they planned support for observables.

[2017-01-26 18:58] igasparetto commented on #231
Worth starting the conversation at this point.

[2017-01-26 20:56] maggiolo00 commented on #231
Hi Guys

i've played a little bit with Observables in Angular 2 and i like them a lot.
There are two places where they could fit very well in OrientJS

- Live query
- New Streaming protocol of OrientDB 3.0 (OrientJS 3.0)

The first one in case have could be rewritten in order to support Observables

Now it's like

[code]

The second one, once the OrientDB 3.0 M1 is out and the protocol is stable e

[2017-01-28 23:26] igasparetto commented on #231
Nice one. Would be good to see a namespace for the event names. Perhaps an "o:".

[2017-01-29 13:36] hosseinGanjyar commented on #224
OrientJS wasn't efficient for insert massive data from **SqlServer** to **OrientDB**. I used [ETL module](http://orientdb.com/docs/2.1/ETL-Introduction.html) for massive insert, that is good idea for transpot massive data from

 Thanks from @saeedtabrizi for help me

[2017-02-01 20:06] greenlikeorange commented on #116
Is there any update for this issue ?

[2017-02-02 08:47] maggiolo00 commented on #116
hi @greenlikeorange

it's in the roadmap of OrientJS 3.0, that will provide streaming using the new streaming protocol of OrientDB 3.0

[2017-02-02 12:56] saeedtabrizi opened #232 "Support Index engine in orientjs , IF statement , Rollback , IF EXIST , IF Not Exist keywords in statements , Update Typescript definition file (orientjs.d.ts)"
According to This [doc ](http://orientdb.com/docs/2.0/orientdb.wiki/Custom-Index-Engine.html) we must have a property to define the index engine in orientjs .

is there any implementation ?

[2017-02-02 13:15] maggiolo00 commented on #232
@saeedtabrizi

what do you mean by supporting index engine in orientjs?

[2017-02-02 13:49] saeedtabrizi commented on #232
@maggiolo00 in orientjs we don't have any access to define  engine name in index create function .
i'm working on and i add it now .

[2017-02-02 15:21] saeedtabrizi commented on #232
@lvca , @luigidellaquila  , @maggiolo00 I'm working on set of feature that we discussed in #210  and **Typescript definition file ( orientjs.d.ts )** compatibility and some enhancement issues on orientjs . in the coming hours i push it , exactly .

-  index , config support engine in create config
-  support for [`if not exist `](https://github.com/orientechnologies/orientdb/issues/3597)
- `if()`

[2017-02-02 15:34] maggiolo00 commented on #232
Cool @saeedtabrizi

[2017-02-04 19:03] saeedtabrizi commented on #232
@maggiolo00 **it's done**, i test it and everything works fine . i guess this feature be useful for most of developers .
I planned to add more `sqlfunctions` and `spatial` functions to orientjs and also i will put `MoveVertex` and `CreateLink` features to orientjs in the next week  .

[2017-02-05 12:43] saeedtabrizi commented on #202
@silverfox1948  , @maggiolo00 . It was fixed in #233 & #234  merge pull  requests and also updated in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/14425 if you running `tsd` or `npm` .

After merge the new pull request you can use `npm install @types/orientjs --save-dev` to install orientjs with updated features .

[2017-02-05 12:46] saeedtabrizi commented on #184
Hi @maggiolo00  , the new orientjs features in #234 , #233 , #232 needs to be update documentation .
Already i pushed the new definition file fot type script in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/14425 .

[2017-02-06 03:50] lvca commented on #232
@saeedtabrizi wow, it's a lot of stuff. Guys, when can we merge it?

[2017-02-06 17:42] saeedtabrizi commented on #232
@lvca We are working locally with the new features that i made by `npm pack`  and our team really happy working with it .

[2017-02-07 12:47] lvca commented on #232
Wow, @saeedtabrizi you're becoming the top contributors of the month!

[2017-02-07 12:49] maggiolo00 commented on #232
Cool @saeedtabrizi
i will review it now

About observables i think for some feature like live query and the new streaming protocol
could be the best choice

[2017-02-14 10:01] maggiolo00 opened #236 "New Live Query API with Observable"
the new API
.liveQuery should return an Observable

[2017-02-14 11:01] maggiolo00 commented on #221
@CTScognitives

i'm closing this. Feel free to reopen it if you didn't solve it

Thanks

[2017-02-14 11:01] #221 closed

[2017-02-14 11:35] maggiolo00 commented on #236
Implemented with Error Handling

https://github.com/orientechnologies/orientjs/commit/ef16257e9f65a48ed6cf07ff5a7348dcfb42a89c

[2017-02-14 11:35] #236 closed

[2017-02-14 12:20] CTScognitives commented on #221
@maggiolo00  Thanks for your time. We moved from this issue long ago

[2017-02-14 16:06] saeedtabrizi commented on #231
@maggiolo00 Wow , it's cool .
Let me to sync the typescript definition file to the latest orientjs features before release the next major version .

[2017-03-07 14:46] maggiolo00 commented on #181
Implemented

[2017-03-07 14:46] #181 closed

[2017-03-16 15:10] royalpinto commented on #86
Any update on this ?

Something similar happend with me as well.

Created more than 40 edges between two nodes, then I could see them in the studio but not using `orientjs`.

After updating the setting `embeddedToSbtreeBonsaiThreshold`, edges between new nodes are working fine (I can create more than 40 edges and fetch them) but for the initial node (for which I was not able to fetch records using

[2017-03-16 15:45] maggiolo00 commented on #86
hi @royalpinto

the setting `embeddedToSbtreeBonsaiThreshold` does not change the created nodes

The support for Tree-Based Ridbag is not yet implemented.

[2017-03-16 18:00] royalpinto commented on #86
Thanks @maggiolo00 for the quick reply. I noticed that opening node/vertex from studio and saving it (update) fixes the node which was created before setting the limit. Not sure how effective it is, but at least I could fetch edges of it from `orientjs`.

[2017-03-20 09:11] maggiolo00 commented on #232
hi @saeedtabrizi

can we close this?

[2017-03-20 14:58] royalpinto commented on #86
Any ways to update nodes created before applying in the setting `embeddedToSbtreeBonsaiThreshold` ?

If I update nodes from studio, (open node and hit save), edges can be fetched from orientjs. Please let me know if there is any way to update previously created nodes programatically.

I have tried updating nodes by update query but no luck :(
Ex: `update users set updatedAt = sysdate()`

I tried i

[2017-03-21 22:23] creisle opened #238 "no error thrown on invalid port for connection"
orientdb version: 2.2.17
OS: centos6
orientjs version: 2.2.3

I was trying to connect to the orientdb server I had running. Following the example in the documentation I input

    var server = OrientDB({
       host:     'localhost',
       port:     2424,
       username: 'root',
       password: 'root'
    });

then I tried to list the databases

    var dbs = server.list()
        .then(

[2017-03-21 23:06] maggiolo00 commented on #238
hi @creisle

do you have some firewall or something that could block the connection?

this one works for me

[code]

orientjs 2.2.3

OrientDB 2.2.17

[2017-03-24 18:30] creisle commented on #238
It is possible. If a firewall were blocking the connection and the connection fails is there a way to check that? (the server isn't a promise object, so I can't do a then/catch)

[2017-03-25 08:25] saeedtabrizi commented on #232
Hi @maggiolo00
certainly yes .

[2017-03-25 08:25] #232 closed

[2017-03-28 14:56] maggiolo00 commented on #238
hi @creisle

were you able to figure out the connection problem?

Thanks

[2017-03-29 01:24] creisle commented on #238
I can get it to work with the fix I put in the initial comment (HTTPport v port). However I still can't figure out how to test if I actually succeeded in connecting as it failed silently (did not throw and error when I called OrientDB) when I was using port

[2017-03-29 15:19] #76 closed

[2017-03-29 15:19] #77 closed

[2017-03-29 15:19] #80 closed

[2017-03-31 00:51] creisle opened #239 "list inherited properties?"
orientjs version: 2.2.3
orientdb version: 2.2.17
OS: centos06

Is there a way to get the inherited properties for a class? When I try to list the properties of a class I only get the immediate properties

for example

[code]

will give me

[code]

I would have expected (hoped?) to get something like

[code]
is there a way to do that?

[2017-03-31 09:49] maggiolo00 commented on #239
hi @creisle

i think there is no way.
OrientJS uses this api to get the schema

[code]
if you execute this you will se that the properties are flat
I can mark this as enhancement, but it's more related to OrientDB than Orientjs

[2017-04-05 22:51] creisle opened #240 "error in setting date or datetime properties when creating records"
orientdb version: 2.2.17
orientjs version: 2.2.3
OS: centos06
node version: v6.10.0

I am getting an error when I try to create a record using "sysdate()" for a class with a datetime or date property

minimal reproducible script below

[code]

what i get is the following error

[code]

To test if this was an orientdb problem I tried to create the vertex using the GUI/console. That works fine

[cod

[2017-04-06 12:46] maggiolo00 commented on #240
hi @creisle

`db.rawExpression()` works only if you use query builder to create records

You use this api to create the record that means that you should give a value eg `new Date()`
because the api serialize the input Object in a binary format and send it to the server.

http://orientdb.com/docs/last/OrientJS-Class-Records.html#creating-records

If you want to use the raw expression you should us

[2017-04-06 16:42] creisle commented on #240
ok great! that works. Thank you :)

[2017-04-06 16:59] #240 closed

[2017-04-10 05:53] zhiguan-hanks opened #241 "How to capture timely CONNECTION ERROR with remote orientdb?"
Hi,

My case is maybe of a weird kind. Users access the Orientdb directly from chrome browsers by Orientjs, and keep the connection alive after signin. So once disconnection or connection errors occur, the events must be captured instantly and reconnection to be call.

I try the following.
1. in my  js code.

		odb.open().then(function(){

			odb.transport.connection.socket.once('error', (error) =

[2017-04-12 10:56] maggiolo00 commented on #241
Hi @zhiguan-hanks

are you orientjs within Electron ?

Did you try directly with nodejs socket?

[2017-04-13 00:32] zhiguan-hanks commented on #241
Hi, nice to see your reply.

Yes my orientjs is within Electron!
So the access to Orientdb completely depends on orientjs. I tried to go into orientjs lines just intending to workaround my issue mentioned here.
I need your help! Thanks.

Sunrise zhang

[2017-04-13 13:28] maggiolo00 commented on #241
hi @zhiguan-hanks

i was not able to reproduce it on OSX

did your workaround work?

[code]

[2017-04-13 13:41] zhiguan-hanks commented on #241
Can you try on Windows 7? If you are the author.

[2017-04-13 13:45] zhiguan-hanks commented on #241
I tried  over 100 times. This error catching means too much for us.

[2017-04-14 12:51] lvca commented on #241
Is this issue still relevant or does the workaround worked?

[2017-04-14 12:59] zhiguan-hanks commented on #241
I guess, I didn't express clear due to my poor English. Sorry.

I confirm the following code doesn't work. I guess it's not relevant. I haven't enough time to go further into your code.
---------------------

//Sunrise
socket.setTimeout(10);
socket.setKeepAlive(true);
 // End Sunrise
---------------------

[2017-04-14 13:03] maggiolo00 commented on #241
@zhiguan-hanks

can you try without electron if it has the same behaviour ?

[2017-04-14 13:10] zhiguan-hanks commented on #241
Ok. I will try after finishing my task in hands.

[2017-04-14 13:11] maggiolo00 commented on #241
Ok @zhiguan-hanks

let me know, otherwise i will set up a Windows environment and test it
Thanks

[2017-04-14 14:13] zhiguan-hanks commented on #241
Sure! Thanks in advance.

[2017-04-15 03:17] zhiguan-hanks commented on #241
Hi maggiolo00 , here I report my try without Electron

1. test.js
`

	var
	OrientDB = require('orientjs').ODatabase,
	config={
			"host": "192.168.1.5",
			"port": 2424,
			"name": "testDb",
			username: 'admin',
			password: 'admin',
			"useToken": true
		},
	db = new OrientDB(config);
	db.open().then( () => {
		console.log('%s@%s opened....',config.name, config.host);

		db.transport.connection.

[2017-04-16 13:33] RubenVermeulen opened #243 "All live queries are triggered even when the select statements refers to different nodes"
Hello

I'm working with the liveQuery function of orientjs. I noticed that all my live queries are triggered even when the select statement should be monitoring other nodes.

For example

[code]
When I update a user's description I expect the first live query should catch the update and the second live query shouldn't. The first live query does catch the update, but the second live query also catc

[2017-04-16 14:24] maggiolo00 commented on #243
Hi @RubenVermeulen

no it's not normal.
I saw the code and the signal is dispatched on the db object, so you catch both live update.
In OrientJS 3.0 this has been target since live query are handled now with Observable.
In 2.2x i will provide a fix

Thanks

[2017-04-16 14:53] RubenVermeulen commented on #243
Thanks for the quick reply @maggiolo00

Am I correct that OrientJS 3.0 is still in development? Do you have a timeframe when the next hotfix(es) will be available for 2.2.x?

[2017-04-17 15:29] nicolasembleton commented on #136
Hi, is it still not supported?

[2017-04-18 09:22] maggiolo00 commented on #243
hi @RubenVermeulen

yes 3.0 it's still in development and it will be out with OrientDB 3.0
For 2.2.x i think this it should be available this week

Thanks

[2017-04-18 09:23] maggiolo00 commented on #136
hi @nicolasembleton

this has been merged in master

https://github.com/orientechnologies/orientjs/pull/237

It will be available in the next release of  orientjs that should be this week

[2017-04-18 15:43] #243 closed

[2017-04-18 16:38] RubenVermeulen opened #244 "Set returning field from live query in SELECT statement"
Hello

I'm not sure if this is possible. When using live queries I'm not always interested in the whole node when this node is updated. I tried adding the fields to the SELECT statement, but without success.

**For example:**

The node has a field 'name' and a field 'description'. When I'm performing following LIVE query I expect only the field 'name' to be returned and not all fields of the node.

[2017-04-19 08:28] maggiolo00 commented on #244
Hi @RubenVermeulen

Projections are not supported yet.
Probably they will be supported in OrientDB 3.0.

[2017-04-19 09:48] theanimal666 opened #245 "MigtrationManager.listApplied fails without ensureStructure() called before"
Hi,

Following code:
[code]
fails with:
[code]

Possible solution in lib/migration/manager.js
[code]

sorry but i do not have time to clone, patch, test and create PR but the fix should be a no-brainer on your side.

kind regards,
Chirs

[2017-04-19 10:19] #245 closed

[2017-04-19 10:20] maggiolo00 commented on #245
Hi @theanimal666

Thanks for the Feedback. I've fixed it and pushed in master

Thanks

[2017-04-19 12:34] maggiolo00 commented on #245
@theanimal666

just released a new version 2.2.5 with your fix

[2017-04-19 12:44] maggiolo00 commented on #243
Hi @RubenVermeulen

OrientJS 2.2.5 is out on npm

Thanks

[2017-04-19 16:56] RubenVermeulen commented on #243
Thanks @maggiolo00 for the quick bug fix!

[2017-04-22 13:48] nomi-ramzan opened #246 "IN operator is not working with @rids list"
Hi I am trying to run this query using orientjs

I am getting empty result But when I am removing quotes from array

Then its working fine.

Here is my code
[code]
I also checked orientjs is sending these ides with quotes.
How can I solve this problem ?
Thank you

[2017-04-24 21:52] creisle opened #247 "using let variables in transactions outside of from/to/return"
OS: centos06
node version: v6.10.0
orientjs version: 2.2.3
orientdb version: orientdb-community-2.2.17

I am trying to build the following (simplified for the purposes of this question) command using the transaction builder

[code]
where range is a class with two "link" type attributes (it is expecting @rids as strings). This works when I run it in the orientdb console

my attempt in orientjs
[cod

[2017-04-26 01:21] cjpraful opened #248 "http://stackoverflow.com/questions/43617022/edge-rid-on-in-property-of-vertex-appears-as-document-in-stead-of-xxx-on-orie"
We are using OrientJS transaction mechanism in our coding to create vertex and edge. Currently facing an issue while creating edges. Sometimes, when we create edge e1 of sampleEdge from V1 to V2 edge rid (in_sampleEdge on V2) is loaded as document:{@type:document,@version:0,out:#12:3,in:#45:6}
If we query on sampleEdge then e1 appears to be #78:9
If we query on V1 then e1 appears to be out_sampleE

[2017-04-26 09:00] maggiolo00 commented on #248
hi @cjpraful

do you have a script to reproduce it?

[2017-04-26 09:49] maggiolo00 commented on #247
hi @creisle

you pass start, end as string so they are quoted.

you should not use json object in this case but a custom set  like this

[code]

That should give you

[code]

Thanks

[2017-04-26 10:02] maggiolo00 commented on #246
hi @nomi-ramzan

record ids are not strings, that is why that query is not working. In  order to use Record ids with params you can use RecordId object.

[code]

Let me know if it helps you
Thanks

[2017-04-26 11:17] saeedtabrizi commented on #231
@maggiolo00 Is there any status update  ?

[2017-04-26 11:26] maggiolo00 commented on #231
Hi  @saeedtabrizi

yes, i'm working on supporting the new protocol of OrientDB 3.0, that in case of queries the result set is a paginated stream. So probably the Observable is the best choice.
It's not pushed yet since the protocol is not frozen yet. I will ping you when it's ready to be synched with the typescript definition file

[2017-04-26 16:05] creisle commented on #247
great! thank you :)

[2017-04-26 16:13] #247 closed

[2017-04-28 00:21] amirmhzadeh opened #249 "Creating Partial Index"
----
OS: centos06
node version: v6.10.0
orientjs version: 2.2.3
orientdb version: orientdb-community-2.2.17

----

Hey guys,

Can you please help me figure out how to create a partial index based on the values of optional properties.

For example:
[code]

Or in other example:

[code]
The code of course simplified and is inaccurate at certain location for the purposes of this question.

[2017-04-28 07:09] saeedtabrizi commented on #231
@maggiolo00 it's good news  and i look forward  .

[2017-04-29 10:21] nomi-ramzan commented on #246
@maggiolo00 Thank you. I will inform you if i will face any problem.

[2017-04-29 10:21] #246 closed

[2017-05-05 12:18] maggiolo00 opened #250 "Review Query build for 3.0"

[2017-05-05 12:27] maggiolo00 opened #251 "Support new Protocol v37"
Support new messages for the new protocol v37 for OrientDB 3.0

- [x] 1. Query messages (Query,Next,Close)
- [x] 2. Tx Message
- [x] 3.  Push Message Cluster
- [x] 4.  Push Live Query
- [x]  5.  Serializer v37
- [x]  6.  RidBag Embedded/Tree support

[2017-05-05 12:27] maggiolo00 commented on #248
Hi @cjpraful

do you have any news on how to reproduce this?

Thanks

[2017-05-05 15:43] cjpraful commented on #248
@maggiolo00  sorry for the delayed response. Please find the final orientjs transaction query details below
[code]
As mentioned in the issue, after the successful execution of above transaction operation , in_edge2 property is showing wrong/corrupt value

[2017-05-08 14:21] maggiolo00 commented on #248
hi @cjpraful

After the tx
do you execute the query in studio or with orientjs?

Thanks

[2017-05-09 18:27] cjpraful commented on #248
I am executing  query via orientjs.

[2017-05-10 13:12] maggiolo00 commented on #248
hi @cjpraful

i created a new database and execute this sql in order to create the classes
[code]
then i ran this script
User#25:0

[code]

i did not experience this problem.

How can i replicate it ?

Thanks

[2017-05-10 21:28] creisle opened #252 "select one() does not throw error on multiple or no results"
orientjs version: 2.2.3
orientdb version: 2.2.17
os: centos06
node version: v6.10.0

I'm not sure if this is expected behavior or not as I was unable to find any documentation in orientjs regarding this situation specifically.

From other query builders I've often seen the `<query>.one()` function (i.e. something like http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.o

[2017-05-11 10:13] maggiolo00 commented on #252
hi @creisle

yes this is expected behavior. It always has been in this way.
I guess we cannot change it now that would lead to a breaking changes.
Maybe in 3.0 we can do this. I will mark this as enhancement

Thanks

[2017-05-18 09:17] RubenVermeulen opened #253 "RID normal query vs live query"
I noticed that the their is a difference in output for the rid in a normal query vs a live query.

While a normal query displays the rid as follows:
[code]

A live query displays the rid like this:
[code]

[2017-05-19 15:25] jpstrikesback opened #254 "Nested responses are unavoidable if a record references another record by RID (string or embedded)"
ODB 2.2.18
OJS 2.2.5

The issue is that any record that references another record in the result with a RID property (embedded or string) will return that record as a nested document instead of the RID in that property.

So I am unable to obtain a flat response from any query such a MATCH query that returns a $pathElements list of distinct vertices of different classes (fetch plans may also return

[2017-05-19 16:19] maggiolo00 commented on #254
hi @jpstrikesback
yes now automatically hydrate any RID. I did open [#219](https://github.com/orientechnologies/orientjs/issues/219) for optionally avoid this.
I will try to implement this for 2.2.x

[2017-05-19 16:33] jpstrikesback commented on #254
Making it optional would be amazing!

[2017-06-05 09:42] maggiolo00 commented on #253
Hi @RubenVermeulen

yes i noticed too. For backward compatibility i cannot change that.
So we are probably going to change that for 3.0 and use the same format

Thanks

[2017-06-16 12:42] maggiolo00 opened #256 "Session Management Refactor"
- Remove `sessionId` from the db instance
- Replace `sessionId` with a session manager in order to support multiple Sessions  (Distributed Support)

[2017-06-16 13:20] maggiolo00 opened #257 "Distributed Support for 3.0"

[2017-06-21 08:48] RubenVermeulen opened #258 "Connect to remote server not working"
Hi

I've been trying to connect to a remote OrientDB database. Unfortunately I've not been able to make the connection. I'm using following code.

PS: I've tried the Java library and there the connection succeeds.

[code]
The error I get is the following:

[code]

[2017-06-21 09:01] maggiolo00 commented on #258
Hi @RubenVermeulen

which version of OrientJS and OrientDB?

[2017-06-21 09:03] RubenVermeulen commented on #258
@maggiolo00

OrientJS: 2.2.5
OrientDB: 2.2.20

[2017-06-21 09:09] maggiolo00 commented on #258
@RubenVermeulen

which operation do you do with the Database?

Do you have a snippet to reproduce this issue?

[2017-06-21 09:16] maggiolo00 commented on #258
@RubenVermeulen

it works fine for me with this

[code]

[2017-06-21 09:28] RubenVermeulen commented on #258
@maggiolo00

I figured it out. I was trying to start live queries on types which didn't exists. Because my local version of the database contains more types than my online database I ran into the problem. A very confusing exception.

[2017-06-21 09:54] maggiolo00 commented on #258
hi @RubenVermeulen

which was the live query you where doing?
You should get parsing error exception.

[2017-06-21 10:43] RubenVermeulen commented on #258
@maggiolo00

I was using the following.

[code]

The exception gave a parse error, but didn't stated where the exception occurred.

[2017-06-22 15:42] #258 closed

[2017-06-27 13:47] RubenVermeulen opened #259 "liveQuery: index out of range"
Hi

I've been experiencing this issue for some time now and I assuming it's a bug in either the driver or in OrientDB itself.

I'm using the "liveQuery" function in orientjs and on random occasions I get an **index out of range** exception. It's not limited to a single class. It's enough to trigger the problem with a live query without any validation. For example just use following code.

[code]

[2017-06-27 14:04] maggiolo00 commented on #259
Hi @RubenVermeulen

let me try to replicate it

Thanks

[2017-06-27 14:08] maggiolo00 commented on #259
Can you paste here your connection configuration?

do you use pool with token?

[2017-06-27 14:09] RubenVermeulen commented on #259
[code]

[2017-06-27 14:13] maggiolo00 commented on #259
Do you use directly the ODatabase Api?

do you have a script or a way to reproduce it?

[2017-06-27 14:17] RubenVermeulen commented on #259
Yes, I use the ODatabase.

[code]
The object assign return the following:
[code]

[2017-06-28 22:08] cityy opened #260 "query() - create cluster using params"
Hey folks,
I was wondering if it is possible to create a cluster using query() with a parameter.

Example:
[code]
Results in the following sql query:
`create cluster "someText"`

Now "someText" is a string literal and orientdb wants something that looks like:
`create cluster someText`

Is this just not possible or am I missing some knowledge here? I haven't found a solution investigating so far un

[2017-06-29 09:11] RubenVermeulen commented on #259
Did you manage to reproduce the exception and find a solution?

[2017-06-29 09:16] maggiolo00 commented on #259
Hi @RubenVermeulen

i may have been able to reproduce it.  I have to confirm it yet.
But i think there is a bug in some case in buffer handling.
I will work on it ASAP, and let you know

Thanks

[2017-06-29 09:18] RubenVermeulen commented on #259
Thanks for the update!

[2017-06-29 09:41] RubenVermeulen opened #261 "Assertion `next > 0' failed"
Hi

When performing updates on collection which are monitored with the `liveQuery` method I get following exception.

[code]
I'm connecting to a remote OrientDB server.

**Versions**
OrientDB: 2.2.20 (community edition)
OrientJS: 2.2.5

[2017-06-29 09:47] maggiolo00 commented on #261
Hi @RubenVermeulen

i think it could be related to

https://github.com/orientechnologies/orientjs/issues/259

[2017-06-29 09:50] RubenVermeulen opened #262 "libc++abi.dylib: terminating with uncaught exception of type Orient::parse_exception"
Hi

When performing updates on collection which are monitored with the liveQuery method I get following exception.

[code]
I'm connecting to a remote OrientDB server.

**Versions**
OrientDB: 2.2.20 (community edition)
OrientJS: 2.2.5

[2017-06-29 09:51] RubenVermeulen commented on #261
Could be yes, I'm just making sure you get an overview of all the exceptions related to the live queries.

[2017-06-29 09:53] maggiolo00 commented on #262
Also here it should be related to

https://github.com/orientechnologies/orientjs/issues/259

[2017-06-29 21:16] cityy commented on #260
Any chance? Sorry for bugging and being impatient. I would really appreciate a short feedback whether it's a limitation of the api or what direction I need to look in to get an idea about how to solve this.

[2017-06-29 21:27] cityy commented on #260
I think I eventually figured I was just approaching it the wrong way.

[code]

This seems to be working. Sorry for bloating the issues list.

[2017-06-29 21:27] #260 closed

[2017-06-29 21:30] maggiolo00 commented on #260
Hi @cityy

sorry for the late response. You were doing it right but the current version of the driver has some limitation on  params handling. This is resolved in the development version that will be OrientJS 3.0.

I will try to backport it to 2.2.x

[2017-06-29 21:31] maggiolo00 commented on #260
The current workaround yes it's this

[code]

[2017-06-29 21:33] cityy commented on #260
Thanks for getting back to me though!

[2017-06-30 15:58] maggiolo00 commented on #259
hi @RubenVermeulen

just a quick update. I'm working on a fix.
It should be done for Monday. I will keep you posted

Thanks

[2017-07-03 15:15] maggiolo00 commented on #259
Hi @RubenVermeulen
it should be fixed. I'm running some intensive tests. If all goes well
i will publish the new version tomorrow.

Thanks

[2017-07-03 15:17] RubenVermeulen commented on #259
Thanks for the update. I appreciate the effort you're putting into this.

[2017-07-03 16:02] #259 closed

[2017-07-03 19:34] cityy opened #263 "Query Builder: create() Cluster support?"
As far as I can see it is currently not possiblet to `create()` an edge in a specifiec cluster. For vertices you can use `insert()` as an alternative but for edges there doesn't seem to be one?

[2017-07-04 11:09] maggiolo00 commented on #263
Hi @cityy

there is no direct support for cluster with fluent api but you can do this.

[code]

[2017-07-04 11:35] cityy commented on #263
Cool, thanks!

[2017-07-04 11:45] Neglexis commented on #259
Hey @maggiolo00, @cuvelierm and me have taken over @RubenVermeulen's project at our company. I went ahead and pulled the package from git to see if it was solved for our case, and haven't had any crashes so far, so can confirm that the update solved our issues!

[2017-07-04 12:33] maggiolo00 commented on #259
hi @Neglexis

thanks for the updates. I will publish the new package then

[2017-07-04 12:57] cuvelierm commented on #261
Just tested the new release you made for fixing this error. The error is still showing up, although it moved from the console to a C++ error dialog.

![image](https://user-images.githubusercontent.com/8874455/27830982-10894f72-60c9-11e7-8610-5dbacb26ad7f.png)

Any further help on fixing this would be greatly appreciated.

[2017-07-04 13:00] maggiolo00 commented on #261
hi @cuvelierm

i was not able to reproduce this with the fix. If you have an hint on how to reproduce it it would help me a a lot for fixing it

Thanks

[2017-07-04 13:02] maggiolo00 commented on #261
Do you have also the JS stack?

[2017-07-04 13:07] maggiolo00 commented on #261
Does this happen on live query or normal query?

[2017-07-04 13:11] #263 closed

[2017-07-04 13:15] cuvelierm commented on #261
Node version 8.1.1
On live queries
No, I do not have a JS stack, somehow I got a C++ Error box showing up.

[2017-07-04 13:16] maggiolo00 commented on #261
Let me try with that node version

[2017-07-04 13:18] maggiolo00 commented on #261
Do you have more less the content of that kind of records?

How many live query are you doing with a single db instance?

[2017-07-04 13:18] cuvelierm commented on #261
the single instance is doing approximately 50 livequeries

[2017-07-04 13:20] maggiolo00 commented on #261
Ok on different entity ?

[2017-07-04 13:21] cuvelierm commented on #261
There is one livequery for each collection, the routing of updates, inserts and deletes is what my server currently should be doing.

[2017-07-04 13:22] maggiolo00 commented on #261
Ok Thanks

[2017-07-04 13:30] maggiolo00 commented on #261
@cuvelierm

how often do you get this exception? Is it easily reproducible in your environment?

[2017-07-04 13:31] cuvelierm commented on #261
about once every 2 minutes, so yeah pretty easily

[2017-07-04 13:33] Neglexis commented on #261
As an update, I've now also connected to the same server with @cuvelierm's package, and I'm seeing the updates without my server crashing

[2017-07-04 13:37] maggiolo00 commented on #261
@Neglexis

so it's not crashing for you with the fix?

@cuvelierm
that would be awesome. Let me try some other intensive test  first then if i'm not able to reproduce it

[2017-07-04 13:38] Neglexis commented on #261
Correct!

[2017-07-04 13:39] maggiolo00 commented on #261
That is strange. same node version?

what about OS?

[2017-07-04 13:40] cuvelierm commented on #261
I'm on Windows 10, @Neglexis uses mac OSX.
Both on Node 8.1.1 and npm 5.0.4

[2017-07-04 13:50] cuvelierm commented on #261
It just stopped happening after a restart, also redid all npm modules and now it seems to work. Sorry for the hassle.

[2017-07-04 13:53] maggiolo00 commented on #261
Ok keep me updated if you see it again

Thanks

[2017-07-05 10:43] maggiolo00 commented on #261
Hi @cuvelierm

if you can confirm that you are not getting this error anymore, i will publish
the new version of the driver

Thanks

[2017-07-05 10:47] cuvelierm commented on #261
Yes I do can confirm, did not get any further errors yesterday nor today.
Thank you for the quick response.

[2017-07-05 13:36] maggiolo00 commented on #261
@cuvelierm

Thanks

[2017-07-05 13:36] #261 closed

[2017-07-05 13:37] #262 closed

[2017-07-06 19:42] jpstrikesback commented on #254
Any updates on this?

[2017-07-10 12:21] royalpinto commented on #197
@maggiolo00
Nice approach to the circular reference issue during serialisation https://github.com/orientechnologies/orientjs/issues/197#issuecomment-256937010

However, I am facing an issue with this particular approach (and even with `orientjs.jsonify`)
According to the doc:

[code]

This approach and even `JSON.stringify` makes a depth first traversal. So, if there is a record, which is present

[2017-07-10 13:30] maggiolo00 commented on #254
Implemented in the PR

[2017-07-10 13:30] #254 closed

[2017-07-10 13:30] maggiolo00 commented on #219
Implemented in the PR from @jpstrikesback

[2017-07-10 13:30] #219 closed

[2017-07-11 18:58] royalpinto opened #265 "Setting attributes to query result records/objects."
What would be the best way of traversing the result object, processing and adding additional information to the query result records.
#### Scenario:
I have songs(Vertex=Song) and followers(Vertex=User). When follower follows a song, I need to store followed date information too in the edge. Something like
[code]
The Test Data:
[code]
Now, I am trying to query these records and traverse them and pu

[2017-07-12 08:28] maggiolo00 commented on #265
hi @royalpinto

 OrientJS resolve records in result set in order to rebuild in memory relationships between objects. That means that if you modify the song instance associated to `Bob` you will also modify the instance associated to Bob. To avoid that you can create a new Song Object

in map like this

[code]

[2017-07-12 09:00] royalpinto commented on #265
Hi @maggiolo00 ,

Thanks for your suggestion. Will do a quick test and come back to you on this.

[2017-07-12 12:01] royalpinto commented on #265
Hi @maggiolo00 ,

Your suggestion worked. Thanks again!

[2017-07-12 12:01] #265 closed

[2017-07-16 07:04] royalpinto opened #266 "Unable to handle maximum number of concurrent connections Error/Warning."
Hi,

Problem:
When maximum connections to the db server has reached and is not allowing any allowing any new connections, `orientjs` simply exits the process with exit code `0`. How do we handle this error ?

Script:
[code]

This script silently exists without any error message when maximum connections limit is reached.
I can see error from orientdb log file:
[code]

[2017-07-16 07:12] royalpinto commented on #266
Ideally should have printed wither `OK` in success case or printed an error in case of failure. But nothing get's printed.
I also tried adding an error event listener to server but no luck:
[code]

[2017-07-17 13:31] maggiolo00 commented on #266
hi @royalpinto

how do you pass the 1000 sessions limit?

Do you have an app running and the run this script?

[2017-07-19 10:49] maggiolo00 commented on #266
@royalpinto

let me try to reproduce it. I will keep you updated

Thanks

[2017-07-19 11:14] saeedtabrizi commented on #249
Hi @amirmhzadeh
I guess you propose a need for feature really .
as i know you must create a feature or enhancment issue in orientdb project .
it's related to https://github.com/orientechnologies/orientdb/issues/7384 issue .

Thanks
Saeed Tabrizi

[2017-07-20 09:03] maggiolo00 opened #267 ".remove() should support field removal"
[code]
should be translated in

[code]

if values are missing

[2017-07-20 09:06] royalpinto opened #268 "The field 'FIELD' has been declared as EMBEDDED but an incompatible type is used"
OreintDB Version: `2.2.21`

With OrientJS `2.2.6`, unable to insert record with object as a property. It throws an error message:
`message: 'The field \'User.info\' has been declared as EMBEDDED but an incompatible type is used. Value: {}\r\n\tDB name="embeddedtest"'`

It was working fine with OrientJS `2.1.11`.

The complete script:
[code]

May be EMBEDDED is not the suitable type for JS Object ?

[2017-07-20 09:41] #267 closed

[2017-07-20 09:50] maggiolo00 commented on #268
hi @royalpinto

let me check

[2017-07-20 10:04] maggiolo00 commented on #268
Hi @royalpinto

`EMBEDDED` are supported but they means "Embedded Document"  usually with a class

if you want to use them you should use this syntax

[code]

Otherwise you can just use "EMBEDDEDMAP" instead of "EMBEDDED"

[2017-07-20 11:00] royalpinto commented on #268
@maggiolo00 Thanks for the suggestion.

I think `EMBEDDEDMAP` will be easier for my scenario.

However, a quick question regarding the first option:
// data with an additional property '@type' ?
[code]

[2017-07-20 12:01] maggiolo00 commented on #268
@royalpinto

yes

[2017-07-20 12:16] royalpinto commented on #268
Thanks @maggiolo00

[2017-07-20 12:16] #268 closed

[2017-07-20 12:50] maggiolo00 commented on #266
Hi @royalpinto

i've reproduced. I'm working on a fix

[2017-07-20 13:17] #266 closed

[2017-07-20 14:19] saeedtabrizi opened #269 "[FEATURE,TYPESCRIPT,DOCUMENTATION] An update for orientjs typescript definition file ."
Hi dear **OrientDB** and **Orientjs** users .

I'm pleased to say a new update for **orientjs** definition type has been published in **npm** repository  by the following address  : [@types/orientjs v3.0.0](https://www.npmjs.com/package/@types/orientjs).
for using the latest orientjs definition type file you can use the following command in your typescript project .

- `npm install @types/orientjs

[2017-07-21 11:48] dastoori opened #271 "Circular reference when the `include` method is used in the `MATCH` command"
When I use the [`include`](https://orientdb.com/docs/2.2/SQL-Methods.html#include) method in the `MATCH` command, the output has circular reference, but when I write similar query with the `SELECT` command, the output is fine.

Examples:

**`MATCH` command:**

*(This is just an example, my real query is much more complex than this)*
[code]

<details>
<summary><b>OrientJS output</b> (Click to open)

[2017-07-24 10:14] maggiolo00 commented on #269
hi @saeedtabrizi
thanks
I've just merged the PR

[2017-07-24 10:14] #269 closed

[2017-07-24 15:23] maggiolo00 commented on #29
It will be supported in protocol V37

https://github.com/orientechnologies/orientjs/issues/251

[2017-07-24 15:23] maggiolo00 commented on #86
It will be supported in protocol V37

https://github.com/orientechnologies/orientjs/issues/251

[2017-07-30 16:50] dastoori commented on #271
@luigidellaquila, @maggiolo00, What is the status of this issue?

[2017-07-31 18:17] maggiolo00 commented on #271
hi @dastoori

sorry for the late reply. I will try to reproduce it tomorrow and give you a feedback

Thanks

[2017-08-01 15:47] maggiolo00 commented on #271
Hi @dastoori

the issue seems to be on the server. I'm working on a fix.

Thanks

[2017-08-02 09:53] maggiolo00 commented on #271
Hi @dastoori

fixed. It will be available in the next GA release 2.2.25. It should be out soon.

[2017-08-02 09:53] #271 closed

[2017-08-04 14:15] #116 closed

[2017-08-04 14:15] lvca commented on #116
Implemented in v3.0.0-M2.

[2017-08-04 14:45] #136 closed

[2017-08-04 14:45] lvca commented on #136
Already supported.

[2017-08-04 15:00] nicolasembleton commented on #136
Great. Thanks.

[2017-08-04 16:55] #107 closed

[2017-08-04 16:55] maggiolo00 commented on #107
Implemented in branch develop for OrientJS 3.0

[2017-08-04 16:56] maggiolo00 commented on #107
Implemented in branch develop for OrientJS 3.0

[2017-08-04 22:25] tiagodavi opened #272 "BUG on Connections?"
I've received this error when I tried to do a load test on my API using Orientjs. When I increase the number of clients orientjs dies!

0|bim-stag |     at createUnsafeBuffer (buffer.js:39:12)
0|bim-stag |     at allocate (buffer.js:182:12)
0|bim-stag |     at Function.Buffer.allocUnsafe (buffer.js:142:10)
0|bim-stag |     at new Buffer (buffer.js:79:19)

0|bim-stag |     at Connection.handleSocke

[2017-08-04 22:26] tiagodavi commented on #272
RangeError: Maximum call stack size exceeded
    at Buffer.Uint8Array (native)
    at FastBuffer (buffer.js:12:5)
    at createUnsafeBuffer (buffer.js:39:12)
    at allocate (buffer.js:182:12)
    at Function.Buffer.allocUnsafe (buffer.js:142:10)
    at new Buffer (buffer.js:79:19)

[2017-08-05 04:06] lvca commented on #180
Supported in v3.0.

[2017-08-05 04:06] #180 closed

[2017-08-05 04:16] lvca commented on #184
@saeedtabrizi what is missing in this issue?

[2017-08-05 04:49] saeedtabrizi commented on #184
@lvca it's about documentation for added features to orientjs.
- if not exist options in  schema operations.
- supporting sequences.
- using raw expression .

[2017-08-05 04:56] saeedtabrizi commented on #184
@lvca i recently update typescript .d.ts definition file for the latest orientjs features.
It is available in npm repository via following command :
'npm install @types/orientjs --save-dev '
This command can be documented for typescript users .

[2017-08-05 04:58] lvca commented on #209
@maggiolo00 is this already supported, right?

[2017-08-05 05:01] lvca commented on #210
@saeedtabrizi did you send any PR we missed?

[2017-08-05 05:09] saeedtabrizi commented on #210
@lvca already merged as we discussed in https://github.com/orientechnologies/orientjs/issues/232 . this issue can be close but it need to documentation in orientjs .
I add some test case for supporting 'IF' statement in transaction statements.

[2017-08-05 05:16] saeedtabrizi commented on #231
@lvca, @maggiolo00 is there any update or documentation update for this.

[2017-08-05 05:17] #210 closed

[2017-08-05 05:19] #211 closed

[2017-08-05 07:46] maggiolo00 commented on #272
Hi @tiagodavi

which is your orientjs configuration?

Do you have  a script to reproduce it?

[2017-08-05 07:48] maggiolo00 commented on #209
@lvca

it's not supported yet.

https://github.com/orientechnologies/orientjs/issues/250

[2017-08-05 07:49] maggiolo00 commented on #231
Hi @saeedtabrizi

there is not docs yet. Those are new APIs that are coming with OrientJS 3.0.
I will keep you updated for it

Thanks

[2017-08-08 19:06] tiagodavi commented on #272
The same problem can be found here -> https://github.com/orientechnologies/orientjs/issues/116

I think this problem isn't related to the  "total records fetched" but this problem seems to be related to the "total buffer stored" into a variable in nodeJS.

[2017-08-12 12:45] jbilcke opened #273 ""Maximum call stack size exceeded" trigerred by remote OrientDB exception"
On OrientJS 2.2.6 + OrientDB 3.0 (which actually works fine with orientjs!)

 I got this infinite recursion error in the client, triggered by a server error :

[code]

This was caused by an exception on the remote database side, which I fixed after going through the db server log (I was trying to run a query relying on a a vertex class that did not exist yet, causing an OCommandExecutionException)

[2017-08-12 12:56] maggiolo00 commented on #273
hi @jbilcke

yes orientjs 2.2.6 works with OrientDB 3.0 since it will use the 2.2.x protocol.

this recursion probably is due to parsing error from the server.

How can i reproduce this?

Are you able to reproduce this 2.2.x?

[2017-08-21 16:57] leonliang33 opened #274 "nativeDeserializer.deserialize is not a function"
Trying to use the OrientJS on an electron-redux-react project but I keep getting this error. The code works when copy and pasting into the electron console but not through react?

   var server = OrientDB({
      host:       'localhost',
      port:       2424,
      username:   'root',
      password:   'root'
    });

    var db = server.use({
      name:     'WebResults',
      username: 'admin

[2017-08-21 17:07] maggiolo00 commented on #274
hi @leonliang33

if you use this in a single  file `index.js` with node does it work?

Can you check if you have installed in node_modules `orientjs-native` ?

Can you help me on the setup with `electron-redux-react` in order to reproduce this?

[2017-08-21 17:32] leonliang33 commented on #274
I just checked and I do have the orients-native installed.
It was running from a component, but I just moved it to the root index.js but I still get the same problem.

Stripping unnecessary code down the index.js is simply
`
initialStore = {
}
const store = configureStore(initialState);
const history = syncHistoryWithStore(hashHistory, store.store);

var OrientDB = require('orientjs');
var base64

[2017-08-21 17:49] maggiolo00 commented on #274
Hi @leonliang33

did you use a starter kit for `electron-redux-react`?

can you advice one so i can boot up the environment for testing?

Thanks

[2017-08-21 18:11] leonliang33 commented on #274
Yeah, I believe I used this one for boilerplate:
https://github.com/chentsulin/electron-react-boilerplate

[2017-08-21 18:14] maggiolo00 commented on #274
ok thanks

[2017-08-22 16:41] maggiolo00 commented on #274
Hi @leonliang33

i've reproduce it.
i think the main problem is that orientjs rely on a native extension of nodejs written c++.
Let me investigate more

Thanks

[2017-08-25 15:04] maggiolo00 commented on #274
Hi @leonliang33

i've found the solution with that boilerplate. Somehow webpack + native extension has problem.
So the key is to declare the `orientjs` dependency in `./app/package.json`

That solves the issue. By digging i've found the solution here.

https://github.com/amilajack/erb-sqlite-example#how-it-works

[2017-08-25 15:06] #274 closed

[2017-08-25 20:37] igasparetto commented on #126
Guys, this should be in the docs!

[2017-09-05 10:51] guylichtman commented on #202
If you have the types at: `@types/orientjs`, why do you still have the folder: `typescript/orientjs` ?

It was a bit confusing for me.

[2017-09-05 12:26] saeedtabrizi commented on #202
Hi @guylichtman
It's a (`typescript/orientjs`) only a mirrored version file for development syncing purpose that you can use or not  . if you prefer to don't using the `@types` repository you can use the internal version of definition file that included with `orientjs` package .

Some packages in the typescript world using the internal definition file for the ease of use and integration purpose .

[2017-09-05 15:09] guylichtman commented on #202
Hi @saeedtabrizi , thanks for the clarification.

I also noticed that for function `db.class.create()` the parameter `ifnotexist` is defined as a parameter as part of the typescript definition, but the actual code doesn't deal with this. It looks like this was added as part of #234. And if i understand correctly this hasn't been released yet.

Any idea when this will be released?

[2017-09-05 18:36] saeedtabrizi commented on #202
@guylichtman Yes , some functionalities merged but not released yet and planned to orientjs **version 3** as i know .
If you want to use `if , rollback , sequence` statement in the transactions you can fork and pack your own orientjs offline package .
I'm using my own offline packed version from orientjs forked repository and it's working fine , but i believe the orientjs can be release #234 and #

[2017-09-11 03:02] saeedtabrizi opened #275 "[Enhancement] Migration files not listed when using typescript tsnode tool ."
Hi , Many of typescript developers may needed to run their project via [ts-node](https://www.npmjs.com/package/ts-node) . it's a tool to making rapid development and debugging in typescript envionment .
So when we use the **orientjs** with **ts-node** everything works fine but  there is an exception for **migration** files .
As i traced migration files be tested in **manager.js** file with the fol

[2017-09-12 13:41] maggiolo00 commented on #275
hi @saeedtabrizi

do you have an open PR for this, or i can just copy your mentioned commit?

Thanks

[2017-09-12 15:50] saeedtabrizi commented on #275
Hi @maggiolo00
I have PR in https://github.com/orientechnologies/orientjs/pull/276 but failed to coverage . please review it .
Thanks
Saeed Tabrizi .

[2017-10-02 14:34] maggiolo00 commented on #275
@saeedtabrizi  PR Merged.

Thanks

[2017-10-02 14:34] #275 closed

[2017-10-03 03:12] nvtin opened #278 "Issue with migrations"
Hi guys.  I followed the ticket, also followed the answer of @kurtcorbett for this issue on another ticket which was closed at 2015 (https://github.com/orientechnologies/orientjs/issues/76). But today it happened to me even I did as he guided, can I reopen it here?
I am trying to make migrations with orientjs as in docs, steps at (https://github.com/orientechnologies/orientjs/issues/76) also but I

[2017-10-03 06:09] nvtin commented on #278
I am sorry. It come from my side. I have found the issue I am getting. The password I used have blank string, so it didn't work. I tried to change my password and it worked.
So I will close this issue. Thanks.

[2017-10-03 06:09] #278 closed

[2017-10-04 08:15] maggiolo00 opened #279 "Not possible to use server after db = server.use?"
https://stackoverflow.com/questions/46536616/not-possible-to-use-server-after-db-server-use

[2017-10-04 15:35] #279 closed

[2017-10-04 15:38] maggiolo00 commented on #172
Fixed by this

https://github.com/orientechnologies/orientjs/issues/279

[2017-10-04 15:38] #172 closed

[2017-10-06 03:26] nvtin commented on #189
@saeedtabrizi This is awesome. I got the same issue and thank God, you was here with solution. Good job.

[2017-10-07 10:44] nvtin opened #280 "[Orientjs migrate] How to wait for the query executed done before finishing migration - nodejs"
Hi guys.
I am using migration to update position for messages based on users.
I mean I will query to get users from DB, so from user, I get messages and update position for them.
I use sequence to increment position for message

Version 1: see my code below
[code]

[code]
I have tried use async water fall, each... see my code below
Version 2:

[code]

Result: => Nothing happened.
I dont know what

[2017-10-08 12:53] marudupandi opened #281 "TypeError: Cannot read property 'operations' of null"
Hi,
Connection is working fine with below configuration
db: {
		activeVendor: 'orientdb',
		username: 'root',
		password: 'xxx',
		host: 'localhost',
		port: '2424',
		database: 'xxxxx',
		databaseUsername: "admin",
		databasePassword: "admin"
	}

Once the orient db service stopped. I got below error

 message: 'connect ECONNREFUSED 127.0.0.1:2424'

which seems good.

Once the server getting up ag

[2017-10-09 10:05] maggiolo00 commented on #280
Hi @nvtin

Just to understand the use case
 why are you creating sequences for each user?

[2017-10-09 16:02] nvtin commented on #280
Hi @maggiolo00
User have many messages. And in user profile page, I will show their messages with default ordered by position. I don't want message duplicated by position. That's why I create sequence.
And if I use same sequence for all message, the position will break for each user.
example:
User A have 5 messages with postion will be 1,2,3,4,5.
User B have 6 messages with position will be 1,2,3,

[2017-10-10 02:48] nvtin commented on #280
Hi @maggiolo00
After put Promise somewhere in the code, It worked
[code]

[2017-10-10 06:46] maggiolo00 commented on #280
Hi @nvtin

from the up/down method you should always return a Promise/chain of promise.
In this way the migration manager waits until the migration is finished

[2017-10-10 07:58] maggiolo00 commented on #280
@nvtin

did you solve it ?

can i close this or do you still need help?

Thanks

[2017-10-10 09:09] wolf4ood opened #282 "SSL Support"

[2017-10-11 16:39] jpstrikesback commented on #279
Previously I was able to do this:

[code]

dbServer.exists now throws an exception on server credentials.

Any tips?

[2017-10-12 08:01] maggiolo00 commented on #279
Hi @jpstrikesback

which error do you get?

Do you have this problem with the latest release of orientjs 2.2.7?

[2017-10-12 11:06] jpstrikesback commented on #279
I'll paste the exact error here soon, but yes it is specific to v2.2.7, when I pinned to 2.2.6 there is no error.

[2017-10-12 11:52] maggiolo00 commented on #279
Ok @jpstrikesback

[2017-10-19 16:30] jpstrikesback commented on #4
db.record.update also exhibits this behaviour (after an update, edges are removed from the record but left in the graph). Assuming this is expected from the Record API in OrientJS, what is the best way to update the docs for this @maggiolo00 ?

[2017-10-20 01:06] jpstrikesback commented on #279
turns out this is user error... we had some wrong credentials in there, sorry to waste your time.

[2017-10-20 09:39] nvtin commented on #280
Hi @maggiolo00  Sorry for late reply.
I have resolved it. Thanks so much for your time to support.

[2017-10-20 09:39] #280 closed

[2017-10-24 23:51] cloudle commented on #89
Any update on this? I'm going to use this on my project..
Not really sure now is already safe for us to start using Pool or not?
Thanks for any help ✌️

[2017-11-01 08:58] mindnuts commented on #89
@maggiolo00 Would you say this feature is still experimental?

We are keen to use this functionality and we are not sure if Orient technologies recommend the pool feature to be used in Production environments.

Looking forward to your reply. Cheers.

[2017-11-06 09:42] mindnuts commented on #89
@lvca Sorry to sound desperate but we are in dire need of pooling and just want a confirmation from Orient Technologies that connection pooling is stable and some other best practices around Connection Pooling.

Cheers

[2017-11-06 10:19] maggiolo00 commented on #89
Hi @mindnuts

The available pool now is the one configured via

[code]

where you use one instance of `db` and for each operation a different connection will be used.

The above pool is not yet well tested
A stable version of the pool will be provided in the new version of the driver 3.0 and will be out with OrientDB 3.0, but it will have different api, for meeting the stateful transaction require

[2017-11-06 12:23] mindnuts commented on #89
Thanks @maggiolo00 We will use the manual pool for now.

[2017-11-06 21:14] andy-ms commented on #184
Why not [bundle](http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) types with the package so they won't have to be copied to DefinitelyTyped and installed separately?

[2017-11-06 21:31] saeedtabrizi commented on #184
@andy-ms It's good idea for ease of use in typescript . but for integration with `bluebird `and `nodejs` .d.ts files , i prefer to use  DefinitelyTyped packages .

[2017-11-06 21:33] andy-ms commented on #184
You should be able to `npm install --save @types/node @types/bluebird` in your package to get those dependencies.

[2017-11-06 21:38] saeedtabrizi commented on #184
@andy-ms I agree with you completely . If @maggiolo00 inform to me about updating definition for v3.0.0 , so  i can update package.json to use the bundled definition file for typescript users .
Thanks.

[2017-11-08 15:28] DarkKnight1992 commented on #167
is there a way to use async queries ?

[2017-11-08 15:40] maggiolo00 commented on #167
Hi @DarkKnight1992

it will be available in OrientDB 3.0 with the new streaming protocol and in OrientJS 3.0 with Observable

Thanks

[2017-11-08 17:31] DarkKnight1992 commented on #167
thanks for the quick response.

Is there a estimated release month ?

[2017-11-09 15:49] georgiana-b opened #284 "select()...one() sometimes returns undefined even though the record exists"
I am trying to build upsert functionality for a vertex. My code looks like this:

[code]

The problem is that sometimes `existingBuyer` is `undefined` even though the buyer actually exists. Since I have a unique index on `id` when the transaction is committed with `create` instead of `update` I get:

`Cannot index record #133:197: found duplicated key '6181c270-0b87-4a59-bfa8-669cc21f346e' in inde

[2017-11-09 15:50] georgiana-b commented on #284
I also noticed that this issue occurs only the first time I run the script, when there are both creates and updates. If I run it again after all the Buyers have been created and only updates execute, this issue doesn't occur.

[2017-11-09 16:53] georgiana-b commented on #284
@maggiolo00 Just create a graph db, fill in its details in `.env`, the do `npm run migrate` and then run `node scripts/import_data.js  path/to/data/sample/file.json`.
I sent you a data sample over email so that you give it a try.

[2017-11-09 17:30] georgiana-b commented on #284
Thank you for looking into this so swiftly!

[2017-11-10 08:17] maggiolo00 commented on #284
Thanks
@georgiana-b  i will give it a try

[2017-11-13 16:14] Eric24 opened #285 "UPDATE x ADD list = {"ddd":4} fails"
On ODB 2.2.29, a record that contains:
`list: [{"xxx":1},{"zzz":3},{"yyy":2}]`

After doing:
`UPDATE x ADD list = {"ddd":4}`

I would expect the result to be:
`list: [{"xxx":1},{"zzz":3},{"yyy":2},{"ddd":4}]`

But the result is:
`list: [{"xxx":1},{"zzz":3},{"yyy":2},4]`

[2017-11-16 11:25] luigidellaquila commented on #285
Hi @Eric24

It was a bug, I just pushed a fix for this. The fix will be released with 2.2.31

Thanks

Luigi

[2017-11-16 11:25] #285 closed

[2017-11-16 12:04] georgiana-b opened #286 "Migration manager .up() remains hanged after completion"
I use `MigrationManager.up()` 2 times in my app: in a migrate script, where I call `process.exit()` after it finishes, and in my tests, as a before hook.
The problem is that this function remains hanged even after all the migrations have been executed and the `then` after it was called. I'm not so advanced in Node.js but I guess we could describe this as lacking an `end` event.
This is not a probl

[2017-11-16 13:11] maggiolo00 commented on #286
Hi @georgiana-b

does the `migrationMan.up().then((migrated) => console.log(migrated))`

console.log get called?

[2017-11-16 15:20] georgiana-b commented on #286
@maggiolo00 Yes, that's what outputs that last array.
But then the process remains hanged.
For example if I have a before hook like:

[code]

my tests execute but once they are all done the test process remain hanged.
This phenomenon doesn't happen if I return other promises in that hook. With a hook like the one below tests run predictably and the process ends after all tests have been run.

[cod

[2017-11-16 15:30] georgiana-b commented on #286
You can find the whole example [here](https://github.com/tenders-exposed/elvis-backend-node/blob/6c24f8f6927ecca8d128c10158b79b7257760abd/test/helpers.js).

[2017-12-02 17:23] georgiana-b commented on #286
For anyone interested, I couldn't avoid this problem with Mocha and I ended up switching to [Ava.js](https://github.com/avajs/ava).

In Ava I use the same strategy of migrating up in a before hook but the process doesn't remain hanged. So, this issue might in fact be caused by how Mocha handles the `Migration.Manager.up()` promise not with the promise itself.

Feel free to close this if you don't

[2017-12-05 15:47] tiagodavi opened #287 "Cannot UPDATE the record"
Does anyone know why it happens?

OrientDB.RequestError: Cannot UPDATE the record #87:11 because the version is
not the latest. Probably you are updating an old record or it has been modified by another
user (db=v7 your=v6)

What should I do to avoid it?

Thanks.

[2017-12-05 15:53] luigidellaquila commented on #287
Hi @tiagodavi

This is the typical error due to optimistic transactions and concurrent updates.
Probably you are updating the same record from two different threads/processes, so one of the two fails because it has an old version of the record.

If you could share some more details about how you are doing these updates, it would help us give you some more specific advice

Thanks

Luigi

[2017-12-05 16:03] tiagodavi commented on #287
Javascript is single thread so it's to be more than one threads. I have been using PM2 in order to create diferent processes and that might be the problem.  but Shouldn't the database deal with concurrent processes by itself?

Thanks

[2017-12-05 16:09] luigidellaquila commented on #287
hi @tiagodavi

No, the database does not automatically merge changes.

Here you can find some docs that explain how it works:
http://orientdb.com/docs/2.2.x/Transactions.html
http://orientdb.com/docs/2.2.x/Concurrency.html

You can easily fix the problem with a commit/retry approach, at application level or using a batch script (See http://orientdb.com/docs/2.2.x/SQL-batch.html)

I hope it helps

[2017-12-05 18:15] tiagodavi commented on #287
Nice. I'll check it out. Thank You.

[2017-12-13 04:44] Eric24 commented on #279
@lvca - Wait a minute. This may have been user error on @jpstrikesback 's part, but this is a real bug that I originally reported.

[2017-12-21 18:00] davidm-public opened #288 "LiveQuery nullpointer exception"
was trying out LiveQueries, ran into this exception:

[code]

turns out that in order to make LiveQueries, turns out that you have to set `useToken: true`
ie:

[code]

[2017-12-29 13:52] luigidellaquila commented on #287
Hi @tiagodavi

Did you have a chance to check the resources I provided? Is this issue still relevant?

Thanks

Luigi

[2018-01-09 19:02] jhonny111s opened #289 "how to perform bulk insert in transaction"
var trx = db.let('bulkitems', function(p){
      p.insert().into("tabletobulk")
         .set([{name: 'item1'}, {name: 'itemN'}])
   })
   .commit().return('$bulkitems').all()
   .then(
      function(results){
         console.log(results); //only save last item
      }
    );

[2018-01-13 20:24] rekuzar opened #290 "db.qery gives unhandled exception"
I tried the statement in OrientDB Studio and it works fine but OrientJS seems not be able to handle the response?

Code:

[code]

Error:

[code]

[2018-01-15 19:02] UltraMarco opened #291 "Accented characters are not correctly parsed"
`SELECT FROM Utente WHERE identità=:id AND attivo=true`

In OrientDB Studio this query is ok, but when executing with OrientJS with binary transport, I get this error:

`com.orientechnologies.orient.core.sql.parser.TokenMgrError: Lexical error at line 1, column 33.  Encountered: "\u00e0" (224), after : ""`

the character at column 33 is the "**à**" (\u00e0)

[2018-01-15 23:11] UltraMarco commented on #291
OrientDB 2.2.30 and OrientJS 2.2.7

[2018-01-16 11:40] luigidellaquila commented on #291
Hi @UltraMarco

Special characters are allowed in indentifiers, but you have to back-tick quote them:

[code]

I hope it helps

Thanks

Luigi

[2018-01-16 11:41] UltraMarco commented on #291
Perfect, thanks.

Marco

Il 16 gen 2018 12:40 PM, "luigidellaquila" <notifications@github.com> ha
scritto:

[2018-01-16 11:42] #291 closed

[2018-01-18 11:53] vikram-shityalkar commented on #287
I have quick question on this thread, suppose I am connecting from two different servers to single database  which means two different connections, still the same issue will occur?

[2018-01-18 11:55] luigidellaquila commented on #287
Hi @vikram-shityalkar

Optimistic locking (and ConcurrentModificationException) is intended specifically to guarantee a transactional behavior when multiple applications/servers/clients connect to the same database, so yes, if you have two servers that manipulate the same data concurrently, you have to manage this kind of exceptions

I hope it helps

Thanks

Luigi

[2018-01-18 11:55] #287 closed

[2018-01-22 08:50] cuvelierm commented on #244
Since the release is closing in of OrientDB 3.0, will this be added or not yet?

[2018-02-05 07:49] ameerthehacker opened #293 "Unable to unsubscribe livequery"
I can't find any way to unsubscribe a live query

[2018-02-05 09:07] luigidellaquila commented on #293
Hi @ameerthehacker

Which version of OrientDB are you using?

Thanks

Luigi

[2018-02-05 09:15] ameerthehacker commented on #293
Hi @luigidellaquila

OrientJS Version: 2.2.7
OrientDB Version: 2.2.31

Thanks

[2018-02-05 13:20] ameerthehacker opened #294 "Is modifying the __in__ and __out__ columns affect the orientdb performance"
I have been modifying the table created by OrientDB to manage the edges which have __in__ and __out__ columns. If I modify the in and out column values directly will it affect the performance of the DB?

[2018-02-05 13:25] luigidellaquila commented on #294
Hi @ameerthehacker

What kind of modifications are you doing?
As long as you respect the basic structure, you should have no performance cost, but please be careful when playing with these attributes at low level, because you could find yourself with an inconsistent graph

Thanks

Luigi

[2018-02-05 13:30] ameerthehacker commented on #294
Hi @luigidellaquila
I need to switch an edge from one vertex to another, so rather than deleting the edge and then creating it again I'm trying to just update the out property of the intermediate table that orientdb uses for storing edges.

[2018-02-05 13:37] luigidellaquila commented on #294
Ok, got it, in this case (and if you do everything in the right way) you should have no problems

Thanks

Luigi

[2018-02-05 13:41] ameerthehacker commented on #294
Hi @luigidellaquila
Thanks for the help!

[2018-02-07 11:29] royalpinto opened #295 "Queries get's queued up and executes one after the other"
### OrientDB Version: 2.2.32, 2.2.11
### Java Version: 1.8
### OS: Debian 8

## Expected behavior
I am executing 2 queries from OrientJS library from a single NodeJS process. Both queries start at the same time (one after the other immediately). The first query is bit huge and takes a while to get the result. The second query is really small and should not take a long time (When being executed alo

[2018-02-08 10:13] maggiolo00 commented on #295
Duplicated here
https://github.com/orientechnologies/orientdb/issues/8079

[2018-02-08 10:13] #295 closed

[2018-02-09 11:02] igasparetto opened #296 "Empty string values are not saved"
In Studio I can set a string attribute to be empty or "".
OrientJS seems to be ignoring the value completely.
We have performed many tests here and it looks to be a bug in the drive.
Thanks

[2018-02-09 11:29] maggiolo00 commented on #296
Hi @igasparetto

which api do you use for setting the value?

Thanks

[2018-02-09 11:51] igasparetto commented on #296
Hi @maggiolo00

Not sure I understood the question.

We have our own API. We use NodeJS. OrientJS connects to the DB and runs the required actions (insert, update, etc).

In Studio, if I run this query, it updates the record:
`select from MyClass`
`{
    "result": [
        {
            "@type": "d",
            "@rid": "#262:0",
            "@version": 3,
            "@class": "MyClass",

[2018-02-09 13:05] igasparetto commented on #296
Kill me.
Problem in my code.
Please close this ticket.

[2018-02-09 14:25] #296 closed

[2018-02-12 05:00] royalpinto commented on #157
Hi @tglman, @maggiolo00,
Any updates on this or any workarounds? I was wondering how will this even work if selected records have thousands of edges connected. wouldn't it bring down the performance? (eventually, application would die going out of memory)

If it's not possible currently with binary protocol, is there a way to enforce OrientJS to use HTTP protocol?

[2018-02-13 04:33] royalpinto opened #297 "Active connections doesn't limit to pool.max"
OrientDB: 2.2.31 Enterprise
Java: 1.8
OrientJS: 2.2.7, 2.1.11

With below config number of connections should be limited to 10 but they go more than that. With 100 parallel queries, I could see 100 + 1(Studio) connections.
[code]

Even without using the pool like below, connections are really huge. With 100 parallel queries, I could see 100 + 1(Studio) connections but all queries get's executed an

[2018-02-14 12:15] royalpinto opened #298 "Auto retry on connection drop"
Is there any way of letting OrientJS to auto-reconnect when the connection drops like we have `autoReconnect` in Mongoose.

Also, if this is not supported yet, what is the best way to reconnect when pooling is used and when pooling is not used.

Without pooling, I was using the following way:
[code]

Is this is the correct approach or do we have a better way of doing this?
Also, what is the best a

[2018-02-16 05:26] krngd2 opened #299 "Unhandled rejection OrientDB.ConnectionError [ECONNREFUSED]: connect ECONNREFUSED 127.0.0.1:2424"
I am getting this error when trying to connect to server's database fro nodejs application
name: 'OrientDB.ConnectionError [ECONNREFUSED]',
code: 'ECONNREFUSED',
message: 'connect ECONNREFUSED 127.0.0.1:2424',
data: {} }

[2018-02-19 06:45] royalpinto commented on #297
Any updates/comments on this?

[2018-02-19 11:11] maggiolo00 commented on #297
Hi @royalpinto

let me check on that

[2018-02-19 11:43] #297 closed

[2018-02-19 11:45] maggiolo00 commented on #297
Hi @royalpinto

i've just pushed a fix for session management with token.  It will solve the serialization of query issue

[2018-02-25 17:22] hosseinGanjyar opened #300 "what's code for select limit of records?"
I searched into your documentation and not found any code for select by orientjs with limit!

[2018-02-28 11:48] cuvelierm commented on #300
Limits are some of the easier functions to use.

[code]

This will retrieve the 10 last records from `myTable` ordered descending by `createdAt`

Part of the documentation can be found [here](https://orientdb.com/docs/last/Pagination.html) and other parts [here](https://orientdb.com/docs/last/SQL-Query.html). Look for `limit`

[2018-03-10 08:09] ivansglazunov commented on #293
I am too

try it
[code]
but:

[code]

read sources, but not found any buildin solutions for send unsubscribe token

related with #273

[2018-03-10 09:23] ameerthehacker commented on #293
@ivansglazunov did your unsubscribe query  worked or caused a stack overflow

[2018-03-10 09:28] ameerthehacker opened #301 "Easy issue labelling"
Hi i would like to suggest the usage of https://github.com/apps/question-tagger to label questions automatically. I created this probot app to support easy labelling of questions in the issues using NLP for big opensource projects

[2018-03-10 19:13] ivansglazunov commented on #293
@ameerthehacker I can not check if it worked, because the process drops when error throws

[2018-03-10 20:35] ivansglazunov commented on #293
This monkey patch fix this problem temporary.

I dont know how it will affect the performance of the rest of the system. Unsubscribe with this is working!

When I understand how it is safe to change the function, that would not break everything else, I'll do Pull Request.

[code]

[2018-03-10 22:03] ivansglazunov commented on #293
But after that, any liveQuery is no longer live ...

[2018-03-10 22:22] ivansglazunov commented on #293
May be live query auto unsubscribe when LiveQuery lost all listeners, or when call removeListener?

[2018-03-11 03:59] ameerthehacker commented on #293
Nope @ivansglazunov It does not auto-unsubscribe. I was building a product and at that time I tried everything to unsubscribe and nothing worked

[2018-03-11 09:34] ivansglazunov commented on #293
How you gets list of active tokens in the database?
At leisure, I'll try to make a better patch.

[2018-03-11 12:41] maggiolo00 commented on #293
Hi @ivansglazunov

this should be the correct way.

[code]

I think there is some problem on the protocol level with handling the response of unsubscribe.
I will dig on this tomorrow. Maybe i can also add an API for unsubscribe

[code]

on the live query Object WDYT?

[2018-03-11 12:44] ameerthehacker commented on #293
@maggiolo00 That would be of great help. If you can check out my pull request it would be also of great help!

Thank You

[2018-03-12 09:57] maggiolo00 commented on #293
Hi @ameerthehacker @ivansglazunov

i've just pushed a fix. If you can validate the fix with the `master` version i will publish the new version of OrientJS on NPM.

Thanks

[2018-03-14 00:22] UltraMarco opened #303 "Are nested projections available in OrientJS?"
I'm using OrientJS 2.9 and OrientDB v3.00-RC2.
The problem is that my nested projections work only in Studio, not if I use `odb.query()`.
`MATCH / return` workaround works, but any `SELECT <projection>: { <nested> } FROM <anything>` is not hydrating projections.
Am I missing something obvious?
Grazie,

Marco

[2018-03-15 01:27] ivansglazunov commented on #293
Last 3 days i try it with many tests. I did not see any problem when working from a master branch.

I'm just build to do something very dependent to this issue. The subscription interface for query results, as in the mongo cursors, with the events added, changed, removed, with the experimental hierarchical queries (as graphql but... faster, little, recuresive support and many many):

[code]

[2018-03-15 10:24] maggiolo00 commented on #293
@ivansglazunov

thanks i'm going to release it on NPM then

[2018-03-21 10:42] pankajnarola1995 commented on #299
same error.. could anyone answer for this??

[2018-03-22 09:38] georgiana-b opened #304 "Query that works though ODB Studio fails through OrientJS"
I have the following query:

[code]

When I execute it through OritentDB studio, it works without problems:
![working-edge-query](https://user-images.githubusercontent.com/8862002/37761673-feb78a8a-2dc2-11e8-8557-9bf2741e5910.png)

But when I execute it from my app through OrientJS, ODB raises the following errors (excerpt from ODB logs):

[code]

This is how the error looks in OrientSJ:

[code]
T

[2018-03-22 10:30] maggiolo00 commented on #303
Hi @UltraMarco

OrientJS works with 3.0RC2 but uses the old protocol and the old executor that does not support nested projection. We are planned the support in OrientJS for the new protocol. Some work is there but it's not released yet. It will be available after OrientDB 3.0 is out i guess.

Thanks

[2018-03-22 11:05] georgiana-b commented on #304
I just it a try with `OrientJS 2.2.10` straight from `master` and I had the same problem.

[2018-03-22 11:15] UltraMarco commented on #303
Ok, thank you

Marco

[2018-03-22 11:53] krngd2 commented on #299
Due to lack of proper community support, i have switched to MangoDB

[2018-03-22 11:55] maggiolo00 commented on #299
Hi @krngd2

sorry to hear that. This error usually means that the server is not running on localhost:2424?

Did you check that the server is running?

Which version of orientjs and OrientDB?

[2018-03-25 04:20] royalpinto commented on #297
Hi @maggiolo00 , this doesn't seem to have resolved the issue. The active number of connections still go beyond the pool.max mentioned in the OrientJS config.

When I increase the number of parallel queries in the snippet: https://gist.github.com/royalpinto/def7a2fe214e98cc07fa708d67c20b43 to > 1000, OrientDB throws `Reached maximum number of concurrent connections`

[2018-03-26 15:09] maggiolo00 commented on #297
hi @royalpinto

i guess the problem is in the database open. For each query it tries to acquire a session.

If you change your code with this at the bottom, you shouldn't see this problem anymore.

[code]

Let me try to fix it

Thanks

[2018-03-29 00:21] ivansglazunov commented on #293
I found a strange bug when I started to have more than one LiveQuery. I tried very hard to find this bug. But while it boils down to the incomprehensible for me, the failures of several existing liveQuery.

[2018-03-29 09:15] maggiolo00 commented on #293
Hi @ivansglazunov

which are the symptoms of this bug?

[2018-03-29 20:39] ivansglazunov commented on #293
I'll recheck everything, and when I can formulate the symptoms in the form of code, I'll post it.

[2018-04-02 02:34] #44 closed

[2018-04-05 15:11] hosseinGanjyar opened #305 "pagination in big vertice"
I have tow queries:

[code]
This take ~**2 seconds**,
but below query take ~**10 seconds**:
[code]
1- This is not efficient for big than it query, for exp vertice with 10,000,000 records.
2- Is there pagination with index in orientjs? like this: https://orientdb.com/docs/2.2.x/Pagination.html#usage-of-indexes

[2018-04-05 20:35] saeedtabrizi commented on #305
Hi @hosseinGanjyar
why you don't use `db.query(...)`  to write custom query against the **index** or **cluster** or `class`?
I think you should optimize your'e data and using the clusters or indexes for increasing `CRUD` efficiency .

[2018-04-05 22:46] hosseinGanjyar commented on #305
Hi @saeedtabrizi ,
Thanks for answer, I used from `db.query(...)`  but this is not my problem. I want using skip for paging. How I optimize my data?
I had indexing for any property in every nodes.
Please show me a solution with sample.
thanks

[2018-04-06 15:18] maggiolo00 commented on #304
Hi @georgiana-b

Studio uses the new parser/executor. I think that is the problem. OrientJS still point to the old one.

I see that it's throwing ` java.lang.ClassCastException`

Do you have a simple dataset to reproduce the problem?

Thanks

[2018-04-10 09:06] georgiana-b commented on #304
The error from ODB Server  logs is the first stack trace I pasted in the issue:

[code]

Or you're referring to another log?

[2018-04-10 09:28] georgiana-b commented on #304
I'd be happily switch to the new parser and see if this issue disappears.
Could you outline how to make the switch?

[2018-04-10 11:06] maggiolo00 commented on #304
hi @georgiana-b

you cannot switch to the new parser. It should be available in the new version of OrientJS 3.0 with the support of new OrientDB 3.0 protocol. But it will be out in the next months

[2018-04-10 13:36] maggiolo00 commented on #304
@georgiana-b

do you have a small dataset/ schema that we can use to reproduce?

[2018-04-10 14:09] georgiana-b commented on #304
Yes, the schema is defined in [migrations](https://github.com/tenders-exposed/elvis-backend-node/tree/master/migrations). Just clone [our project](https://github.com/tenders-exposed/elvis-backend-node) and run `npm run migrate`.

To populate the database we use the NDJSON files in the  `Digiwhist` table [on opentender.eu](https://opentender.eu/download#digiwhist). We have an import script that can

[2018-04-17 12:50] 33Fraise33 opened #306 "Error on delete in update on OrientDB 3.0.0"
Exact error:

[code]

When I run this code in the console online I'm seeing no issue, running this through orientjs though results in an error. Our previous working code on 2.2 did not work in the console or through orientjs on the 3.0 DB:

[code]

[2018-04-18 13:10] 33Fraise33 opened #307 "Make the 'host' & 'port' option unneeded for connection with distributed servers"
Currently a configuration as follows is needed when connection to a distributed set of servers:

[code]
Now we can check the returned servers available in the distributed config as follows:
[code]

The issue is that when you add the first server to the host field you get a duplicate value in your servers array. When leaving host empty it adds a localhost entry in the servers array. It should be mo

[2018-04-24 08:14] zufanka commented on #304
Hi @maggiolo00 !
FYI: as this is *the* blocker issue that keeps our project from moving to ODB3 (which we really need to do as fast as we can), we are trying our luck on [bountysource](https://www.bountysource.com/issues/56326850-query-that-works-though-odb-studio-fails-through-orientjs)

[2018-04-24 09:04] maggiolo00 commented on #304
Hi @zufanka @georgiana-b

sorry for the late response let me check on this.

[2018-04-24 12:13] maggiolo00 commented on #304
Hi @zufanka @georgiana-b

just to understand was this query working on 2.2.x?

Thanks

[2018-04-24 12:56] maggiolo00 commented on #304
Hi @georgiana-b @zufanka

we were able to reproduce this. Seems that there is a problem with the `!=` operator in this query and the old parser/executor. For a temporary workaround you can use `<>` operator should work.
Meanwhile we will try to the fix for this

[2018-04-25 15:49] georgiana-b commented on #304
Meanwhile we will try to the fix for this.

You're right, it works with `<>` instead of `!=`. That's great, thank you!

[2018-04-25 23:11] hosseinGanjyar opened #308 "Explain of query"
I can get explain of query in **orientdb**, But I don't excute that in orientjs driver.
How I can using this query into **orientjs** query()?

[code]

I'v got this error:

[2018-04-26 12:41] georgiana-b commented on #304
Hi @luigidellaquila!

I just gave this a try in `v3.0.1-SNAPSHOT - Veloce (build c9383db365d1dc1f5a1b3475befee016ab2182c7, branch develop)`.

It's peculiar that if I try to execute the original query  with `!=` through OrientJS it works now but from OrientDB Studio I get:

[code]

I assume this is a problem with ODB Studio because in the server this error is not logged.

Anyway, just to confirm th

[2018-04-26 12:49] luigidellaquila commented on #304
Hi @georgiana-b

Yes, that's a completely different problem that I'm investigating now. I'd say it's a regression we introduced very recently, so it should be easy to fix

Thanks

Luigi

[2018-04-26 12:57] georgiana-b commented on #304
Then I'd say this is solved. Feel free to close it whenever you're done with it.

If I can assist you with trying out other snapshots let me know.

Thanks a lot!

[2018-04-27 07:15] luigidellaquila commented on #304
Thank you very much @georgiana-b , I also pushed a fix for the remaining problem, now we can consider this fixed

Thanks!

Luigi

[2018-04-30 09:36] tglman commented on #308
Hi @hosseinGanjyar,

Do you see any error on the server log ?

Regards

[2018-05-01 23:42] vgjenks opened #309 "mac os node-gyp rebuild error: unknown type name"
Mac OS High Sierra 10.13.4
Node 9.8.0 (Mac OS not brew)
npm 5.6.0
XCode 9.3

Created a new project and tried to install the orientjs package. Got the following output:

[code]

[2018-05-02 15:32] loopmode opened #311 "Question/Help wanted: User authentication / password comparison"
Hi

Having a class `AppUser` that extends from `OUser`, when creating a new entry via
[code]
the password is automatically encrypted.

When the user attempts to log in and sends a plain password, how can we check whether it matches the encrypted password in the database?

[2018-05-02 16:49] loopmode commented on #311
I found some workarounds, but I'm not it's the right way. Seems I am missing something possible with orientjs only.

Instead of extending from `OUser`, I use a generic class `AppUser` so that the password does not get encrypted by orientjs.

Instead, I use `bcrypt` to manually encrypt the password and store it:

[code]

Then, at login, I fetch the user by name and use `bcrypt.compare` to validate

[2018-05-13 14:46] georgiana-b commented on #304
Hi @luigidellaquila @maggiolo00 !

I'm encountering this issue with another query:

[code]

When I run this in OrientDB Studio I get this:

![buyer_name_query_odb_studio](https://user-images.githubusercontent.com/8862002/39968387-a470972a-56d4-11e8-92f0-10af559ede67.png)

But when I run it from OrientJS I get:

[code]

This is the error in OrientDB logs:

[code]

I'm using:

`OrientJS 2.2.10`
`Ori

[2018-05-14 06:50] luigidellaquila commented on #304
Hi @georgiana-b

It seems to be a different problem, I'm checking it now, I'll let you know asap

Thanks

Luigi

[2018-05-14 08:30] luigidellaquila commented on #304
Hi @georgiana-b

I just pushed a fix and created a new snapshot, could you please check and let me know if it solves the problem?

Thanks

Luigi

[2018-05-14 08:36] georgiana-b commented on #304
Awesome! I'll give it a try right now.

[2018-05-14 10:18] georgiana-b commented on #304
@luigidellaquila I just tried it again and I get the same error.

Just to make sure I run the version that contains your fix I'll tell you what I did:

- `git pull origin develop`  and got [your recent commit](https://github.com/orientechnologies/orientdb/commit/57aa1df078911f48f17f576ac1a51b104e1578b)
- `mvn clean install -DskipTests`
- `./distribution/target/orientdb-community-3.0.1-SNAPSHOT.dir

[2018-05-14 10:29] luigidellaquila commented on #304
Mmm... yes, the version seems to be correct, let me double-check

Thanks

Luigi

[2018-05-14 13:29] luigidellaquila commented on #304
Hi @georgiana-b

I managed to test it on the original database and to replicate the exact problem.
I pushed another fix, now it should be OK

Thanks

Luigi

[2018-05-14 14:58] georgiana-b commented on #304
@luigidellaquila  Indeed it work now. Well done.

Feel free to close this.

Much appreciated!

[2018-05-14 15:03] luigidellaquila commented on #304
Hi @georgiana-b

Thanks you very much for your feedback!

Closing then, thanks

Luigi

[2018-05-14 15:03] #304 closed

[2018-05-23 05:28] SpencerSharkey commented on #309
Same

[2018-05-27 22:23] mahmed8003 opened #312 "Error on closing database connection"
Following code giving error at closing of db connection.
[code]

Error is:
[code]

[2018-05-30 16:46] mehdizarepour opened #313 "OrientDB throws error when I use new range syntax in the projection on OrientDB v3.0.1"
### OrientDB Version: 3.0.1
### OrientJS Version: 2.2.10
### Java Version: 1.8
### OS: Linux

## Expected/Actual behavior

When I use square brackets in the projection to get a range of items (like `[x..y]`), OrientDB throws an error, while when I run the same query using OrientDB Studio it works fine.

My query using OrientJS:
[code]

Error:
[code]

## Steps to reproduce

[code]

[2018-05-31 05:17] saeedtabrizi commented on #313
Hi @mehdizarepour
I guess this issue occurred when use wrong or incompatible binary protocol in orientjs  to connect  ODB v3.0.
Did  you try with `db.query` command ?

[2018-05-31 07:55] mehdizarepour commented on #313
Hi @saeedtabrizi
Yes, I did. the `db.query` command throws the same error.

[2018-05-31 15:08] maggiolo00 commented on #313
Hi @mehdizarepour, @saeedtabrizi

orientjs still use the protocol version 33, that is not using the new SQL engine and syntax.

A new version of orientjs with the new protocol support will probably be shipped the next month.

Thanks
Enrico

[2018-06-08 15:28] maggiolo00 opened #314 "Create an API runInTransaction for 3.0"

[2018-06-12 10:29] maggiolo00 opened #315 "Create an API for retry"

[2018-06-12 12:10] maggiolo00 opened #316 "Docs for the new APIs in 3.0"

[2018-06-12 12:51] #315 closed

[2018-06-12 12:51] #314 closed

[2018-06-17 06:08] Leeingnyo opened #317 "Missing linkedType at Property"
https://github.com/orientechnologies/orientjs/blob/master/lib/db/class/property.js

There is a linkedClass only, so I can't use Embedded List with Link String.

[2018-06-18 10:27] #317 closed

[2018-06-27 11:19] #90 closed

[2018-06-27 21:59] antypasD opened #320 "Issue with update - remove"
I am sorry if this has been asked before but I did a quick search and did not found something.
I am having a problem with a query similar to "update #48:1 remove tags[0]", where "tags" is an Embedded list. When I ran the command in the console it works just fine but when I use db.query("update #48:1 remove tags[0]"); in node it does nothing.
I was wondering if there is an issue with the brackets b

[2018-06-28 07:40] mahmed8003 commented on #320
@antypasD There is a code snippet from one of my project. that may help.
[code]

[2018-06-29 15:43] maggiolo00 opened #321 "Replace Buffer() with Buffer.alloc()"

[2018-06-30 21:57] tolgaulas commented on #293
Hello,
Is there a way to store the token as soon as we start liverquery? According to documentation  at [https://orientdb.com/docs/2.2.x/Live-Query.html](https://orientdb.com/docs/2.2.x/Live-Query.html) the LIVE SELECT FROM PERSON command should return a token. But I could not find it in orientjs return objects.

[2018-07-02 16:16] #321 closed

[2018-07-03 10:19] maggiolo00 commented on #316
Done.  it's in beta. It will be moved into the main docs once the orientjs.3.0.0 is released

https://orientdb.com/docs/last/orientjs/OrientJS-beta.html

[2018-07-03 10:19] #316 closed

[2018-07-03 10:21] maggiolo00 commented on #313
Hi @mehdizarepour

we shipped the first version of the new OrientJS driver 3.0 with the complete support of OrientDB 3.0 features .
It's in beta now
https://www.npmjs.com/package/orientjs/v/3.0.0-beta.0

Documentation is here

https://orientdb.com/docs/last/orientjs/OrientJS-beta.html

[2018-07-03 10:33] maggiolo00 commented on #293
Hi @tolgaulas

you can use the API `unsubscribe` in order to do that

Example
[code]

[2018-07-03 10:36] maggiolo00 commented on #273
Hi @jbilcke

we just started shipping OrientJS 3.0 with the complete support of new OrientDB 3.0 features.
It's still in beta

here it's the [release](https://www.npmjs.com/package/orientjs/v/3.0.0-beta.0)

and there it's the [documentation](https://orientdb.com/docs/last/orientjs/OrientJS-beta.html)

[2018-07-03 10:37] maggiolo00 commented on #256
Already implemented

[2018-07-03 10:37] #256 closed

[2018-07-03 10:40] maggiolo00 commented on #251
Hi @saeedtabrizi

yes it is related to the new protocol implementation, since the new protocol enable the new parser executor.

Btw we have released the new version in beta with the new protocol support

here it's the [release](https://www.npmjs.com/package/orientjs/v/3.0.0-beta.0)

and there it's the [documentation](https://orientdb.com/docs/last/orientjs/OrientJS-beta.html)

[2018-07-03 10:40] #251 closed

[2018-07-03 10:42] maggiolo00 commented on #214
Already Implemented

[2018-07-03 10:44] maggiolo00 commented on #28
Not valid anymore.

In the new OrientJS version the rest api support has been dropped

https://orientdb.com/docs/last/orientjs/OrientJS-beta.html

[2018-07-03 10:44] #28 closed

[2018-07-03 10:47] maggiolo00 commented on #11
Not valid anymore. It's better to use the official gremlin-js APIs

http://tinkerpop.apache.org/docs/current/reference/#gremlin-javascript

[2018-07-03 10:47] #11 closed

[2018-07-03 10:54] maggiolo00 commented on #288
Hi @davidm-public

yes the token is required for live queries

https://orientdb.com/docs/last/orientjs/OrientJS-Query-Live-Query.html

[2018-07-03 10:54] #288 closed

[2018-07-03 10:56] UltraMarco commented on #303
Great! Thanks for the update

[2018-07-03 11:00] maggiolo00 commented on #290
@aschwietert

I guess if it works on Studio it's a problem of compatibility.

OrientJS 2.2.10, does not handle  the new  OrientDB 3.0 protocol with the new parser/executor

Btw the first version of OrientJS 3.0 is now available in beta with nested projection and OrientDB 3.0 features support

Here it's the [release](https://www.npmjs.com/package/orientjs/v/3.0.0-beta.0)

and the[ documentation](ht

[2018-07-03 11:02] tolgaulas commented on #293
Hi @maggiolo00,

Thank you and I like to unsub later by another thread not in the same one, so I need to store/use the token.

[2018-07-03 11:33] maggiolo00 commented on #293
@tolgaulas
in 2.2.10 you can access the token in the events

Something like this.

[code]

Btw if you are using OrientDB 3.0, we are starting to ship the new version of OrientJS that supports all 3.0 features
 It's in beta now

Here it's the [release](https://www.npmjs.com/package/orientjs/v/3.0.0-beta.0)

and the[ documentation](https://orientdb.com/docs/last/orientjs/OrientJS-beta.html)

[2018-07-03 13:41] #214 closed

[2018-07-03 13:48] maggiolo00 commented on #231
Unfortunately we fallback to using Node.js Stream, for supporting OrientDB 3.0 paginated result set in OrientJS. We did a benchmark and the overhead created by Observable was to much.

The new version of OrientJS is in beta now with OrientDB 3.0 features

Here it's the release

https://www.npmjs.com/package/orientjs/v/3.0.0-beta.0

and here it's the documentation of the new APIs

https://orientdb.

[2018-07-03 13:50] #231 closed

[2018-07-03 13:54] igasparetto commented on #231
Is that a final decision?

[2018-07-03 14:12] maggiolo00 commented on #231
@igasparetto

yes we saw 20-30% of performance decrease Observable vs Node.JS Stream.
We prefer to not add this performance loss by default for users that do not use Observable.

Maybe we can add it as optional dependency if rx-js is installed?

[2018-07-12 09:22] HariKiran9 opened #322 "Unable to clone or do npm install"
while trying to do npm install orientjs, getting the following error
npm install orientjs
npm ERR! code ETIMEDOUT
npm ERR! errno ETIMEDOUT
npm ERR! network request to https://registry.npmjs.org/orientjs failed, reason: connect ETIMEDOUT
npm ERR! network This is a problem related to network connectivity.
npm ERR! network In most cases you are behind a proxy or have bad network settings.
npm ERR! ne

[2018-07-17 06:54] maggiolo00 commented on #322
Hi @HariKiran9

did you solve it?

[2018-07-17 09:18] freeart opened #323 "return after $current.field1, $current.field2 returns error"
But in OrientDB Studio it works and documentation says it is valid sql

[2018-07-17 10:52] maggiolo00 commented on #323
H @freeart

which version of OrientDB are you using?

[2018-07-17 11:19] freeart commented on #323
Hi, v3.0.4
But the problem in nodejs driver because it works via http api

[2018-07-17 12:25] maggiolo00 commented on #323
Hi @freeart

i was asking because the OrientJS 2.x does not support the new binary protocol and query engine of OrientDB 3.0.

We did release the first OrientJS 3.0 beta version that supports it

You can find the documentation of the APIs here

https://orientdb.com/docs/last/orientjs/OrientJS-beta.html

And install it with

[code]

[2018-07-17 13:42] freeart commented on #323
It returns the same error
[code]

[2018-07-17 14:10] maggiolo00 commented on #323
Hi @freeart

did you use the new APIs as documented here

https://orientdb.com/docs/last/orientjs/OrientJS-beta.html

If you use the old api it will not use the new Protocol and Query Engine

[2018-07-17 14:15] freeart commented on #323
I use query raw method
https://orientdb.com/docs/last/orientjs/OrientJS-beta.html#query
What is it "Query Engine"?

[2018-07-17 14:17] maggiolo00 commented on #323
@freeart

do you have a snippet to reproduce this issue?

It's the new SQL query parser/ executor in 3.0

[2018-07-17 14:39] maggiolo00 commented on #323
hi @freeart

Works for me with these steps

Create a `test` database and execute  those statements

[code]

Then from OrientJS 3.0-beta with this script

[code]

I get

[code]

[2018-07-17 14:41] freeart commented on #323
Hmm.. What the different between .query and .command?

[2018-07-17 14:44] maggiolo00 commented on #323
@freeart

query is for idempotent statement like `select`

Command is for `insert` `update` ... statement that changes the state of the databases

if you run query for `insert` or `update`  you will get an exception from the database

[2018-07-17 14:55] freeart commented on #323
Ok, command works fine!
I used ``query`` because old driver hasn't ``command`` method, only ``query``.
Thanks for your help!

[2018-07-17 15:00] maggiolo00 commented on #323
Yes we did change the APIs in order to support new protocol feature such as Streaming and Stateful Sessions for Server Transactions.

[2018-07-17 15:03] #323 closed

[2018-07-18 03:36] HariKiran9 commented on #322
No, the issue is still persistent.

[2018-07-24 07:27] riker09 opened #324 "GitHub reports hoek dependency as a security issue"
Please consider updating your dependency on the `request` package. This package uses `hawk` which in turn uses `hoek` in a certain version which has a security issue (at least in the eyes of GitHub, which is a bug, see [here](https://github.com/hapijs/hoek/issues/247#issuecomment-386708295)).

[2018-07-31 16:46] creisle opened #325 "How to contribute to documentation"
I have been looking through the tests and noticing there is quite a bit of functionality that is undocumented in the user manual. I would like to help out and contribute to the user manual but I'm not 100% sure how to go about it. Is that something that is possible? It doesn't look like the user manual sources is in this repo

[2018-07-31 17:28] careerscale commented on #325
@creisle  https://github.com/orientechnologies/orientdb-docs is the repo for the documentation. FYI

[2018-07-31 19:48] creisle commented on #325
ok great! thanks

[2018-07-31 19:48] #325 closed

[2018-08-02 18:29] creisle opened #326 "Updated Edge returned with non-associated Node"
orientdb version: 2.2.35
orientjs version: 2.2.7
node version: 8.11.2
os: centos07

I have an edge connecting two nodes A and B. I update the edge so that it connects nodes B and C instead. However when I select node A, the edge still appears as a related edge (even though the out/in of the edge disagree). I expected it to show up as a related edge of B/C after the update and NOT as a related edge

[2018-08-02 18:49] maggiolo00 commented on #326
Hi @creisle

how do you update the edge?

[2018-08-02 19:49] maggiolo00 commented on #326
Hi @creisle

you should use  update edge statement in order to ensure graph consistency

[code]

Which statement did you use for deleting edge?

Thanks

[2018-08-02 20:04] creisle commented on #326
@maggiolo00 I used
[code]

To use the UPDATE EDGE instead, how do I do so? do I just modify the statement to put EDGE in front of the RID?

[code]

I tried following a format similar to that suggested for delete but I get an SQL error because it puts a comma between EDGE and the RID

That said, even when I add it as string 'EDGE <RID>' for the update I still have the same issue

[2018-08-03 08:33] maggiolo00 commented on #326
Hi @creisle

do you have a sample script to replicate this?

Thanks

[2018-08-04 13:22] Leeingnyo opened #327 "Query result is different with orientdb studio"
OrientDB version 3.0.4
orientjs version 3.0.0 beta 0

The result of below query is correct with what I expected, the rows of name that all different.

[code]

But with `db.query()` in orientjs, The result is

[code]

So I did 'distinct' job programmatically with js `Set`.
Is nested query not supported yet?

[2018-08-04 13:35] maggiolo00 commented on #327
Hi @Leeingnyo

yes nested query should be supported by using orientjs 3.0.0 beta 0.

Which APIs are you using?

Are you using the new APIs documented here ?

https://orientdb.com/docs/last/orientjs/OrientJS-beta.html

[2018-08-04 15:33] Leeingnyo commented on #327
Ah.. Thank you! I used the old API...

[2018-08-04 15:33] #327 closed

[2018-08-13 13:53] tderoock commented on #309
Same

[2018-08-13 14:01] wolf4ood commented on #309
Hi @SpencerSharkey  @tderoock

did you check on this?

https://stackoverflow.com/questions/46872922/broken-c-std-libraries-on-macos-high-sierra-10-13/47401866

Let me know if it helps

[2018-08-13 14:07] tderoock commented on #309
Hi Wolf4food,

My include dir was containing a higeher openssl version.

Renaming the include dir yields

`error /Users/tderoock/DevelopmentTVH/fe-met-mobile/node_modules/angular-cli/node_modules/node-sass: Command failed.
Exit code: 1
Command: node scripts/build.js
Arguments:
Directory: /Users/tderoock/DevelopmentTVH/fe-met-mobile/node_modules/angular-cli/node_modules/node-sass
Output:
Building:

[2018-08-13 16:13] petervavro opened #328 "How to add value without parentheses to final query ?"
My circumstances :

1. I am using transaction to save various records to a class. [(Transactions in OrientJS)](https://orientdb.com/docs/3.0.x/orientjs/OrientJS-Transactions.html)
2. I want to set values to field of LINKSET type.

My SQL query supposed to look following way  :

[code]
How can I set non string content ( _list($aa) || list($bb)_ ) to the statement please ?

Thank you !

[2018-08-13 16:25] saeedtabrizi commented on #328
Hi @wolf4ood
Is the `rawExpression` method is not documented well yet .
It must be useful in some cases that not implemented in orientjs but there is in latest version of OrientDB .

[2018-08-13 16:29] wolf4ood commented on #328
Hi @saeedtabrizi

it is documented here

https://orientdb.com/docs/last/orientjs/OrientJS-Query-Insert.html#raw-expressions

[2018-08-14 19:21] petervavro opened #329 "Unable to set more RIDs from variables to LINKSET field using transactions"
Here is my SQL returned from trx.toString() :

[code]

It works but...

Let's focus on following part where I am setting "inOperation" (LINKSET) :
`inOperation = list($oOperationalDays0) || list($oOperationalDays1)`

**ISSUE : It won't save both RID, only the first one.**

In OrientDB studio the query above does not work so I have to adjust it the following way :

[code]
This works without issue,

[2018-08-14 20:05] petervavro commented on #329
OK, I am sorry but I just found solution :

`inOperation = [$oOperationalDays0,$oOperationalDays1]` works well.

My confusion was most probably caused by possible bug in OrientDB I have mentioned [here](https://github.com/orientechnologies/orientdb/issues/8467).

Processing the SQL query in OrientDB Studio won't work, but here it does.

Thanks.

[2018-08-19 18:47] igasparetto commented on #231
Sorry for the delay in replying.
I think that would be an option, but thanks for letting us know.
Thanks

[2018-09-13 04:36] big213 opened #331 "UPDATE ... SET || Operator Not Supported"
OrientDB 3.0+ changed the UPDATE ADD feature and replaced it with the `||` operator, as stated here: https://orientdb.com/docs/3.0.x/release/3.0/Upgrading-to-OrientDB-3.0.html#update-add

While it works fine on the studio interface, the `||` operator does not work when sent through OrientJS@beta, which is supposed to support OrientDB 3.0+ features. I get the following error:

`Error on parsing com

[2018-09-13 07:47] luigidellaquila commented on #331
Hi @big213

Which exact OrientDB version are you using? I just tried this from Studio on v 3.0.7 and it seems to work fine

[code]

Any clue on how to reproduce the problem?

Thanks

Luigi

[2018-09-13 13:56] big213 commented on #331
Hi @luigidellaquila , thanks for checking into this issue. I am using OrientDB v3.0.7 and the studio works fine for the `||` operator, but the problem is when I try to run the command from my app using the orientjs@3.0.0-beta1. It gives me the error described above. I think it might be an issue with orientjs not recognizing the `||` operator properly.

[2018-09-13 14:19] wolf4ood commented on #331
Hi @big213

when using orientjs@3.0.0-beta1, are you using the new APIs?

https://orientdb.com/docs/3.0.x/orientjs/OrientJS-beta.html

Thanks

[2018-09-13 14:34] big213 commented on #331
@wolf4ood , my mistake, I upgraded from an older orientjs to orientjs@3.0.0-beta1 and I assumed that the API would work the same way. It appears that the API is completely different for 3.0.0. I will try again later today and report back with any issues.

[2018-09-13 14:37] wolf4ood commented on #331
Hi @big213

yes
in order to support OrientDB 3.0 features the API are changed.

The old api are there for backward compatibility, but they still use the old protocol

Thanks

[2018-09-13 14:38] big213 commented on #331
Have just tested it with the new API, all appears to be working well. Thanks for the help and apologies for the false alarm.

[2018-09-13 14:38] #331 closed, assigned to wolf4ood

[2018-09-14 02:53] big213 opened #332 "Link Maps Unsupported (Field Type 16)"
OrientJS Version: 3.0.0-beta1
OrientDB Version: 3.0.7

I am attempting to `SELECT` a field from a record, and the field is a link map. When I select the field, I get this error: `Error: Unsupported field type 16 for field someField`

Steps to reproduce (with valid rids):
`INSERT INTO V SET someField = { "foo": #1:1 }`
`SELECT someField FROM #2:0`

[2018-09-14 08:10] wolf4ood commented on #332
Hi @big213

thank you for raising this issue. Let me check

[2018-09-14 10:02] wolf4ood commented on #332
Hi @big213

i've just pushed a fix for LinkMap. Let wait for the CI then we can release

`3.0.0-beta2` with the fix

Thanks

[2018-09-14 10:54] wolf4ood commented on #332
Hi @big213

i've just published `3.0.0-beta2` on NPM. Can you confirm that is fixed?

Thanks

[2018-09-14 14:31] big213 commented on #332
Hi @wolf4ood

Thanks for the quick fix. That fieldtype seems to be working now, but when I run my query, I'm getting another error:

`Error: Unsupported field type 21 for field undefined`

I am not sure which type that is, I have many different fields and field types for that record. Maybe you could look into field type 21?

[2018-09-14 14:36] big213 commented on #332
Also, just a general question... I am using pooled sessions with orientjs 3.0, it works a bit different from v2.2. Is it common practice to acquire a session from the pool to run a query, and then close the session immediately after the query is complete? Let's say I have 10 queries to run in a single action, I guess I should `pool.acquire()` and `session.close()` for each of those queries?

[2018-09-14 14:36] wolf4ood commented on #332
Hi @big213
Let me check it should be decimal field.

let me fix this

[2018-09-14 14:39] wolf4ood commented on #332
hi @big213

yes it is a common practice to acquire a session, do the work and the release.

Depends on the use case, but if you want to run them in true parallelism yes.

With 1 session you can spawn more queries but they will be enqueued on server side since they have the same `sessionId` associated with the session. If you want to run them in parallel you should use more sessions

[2018-09-15 08:41] sudhamab opened #333 "Invalid TO vertex for edge when using Batch updates"
Hi Team,

I am using OrientJS version 3.0.0-beta.1

And  trying to do a batch update using code as below

[code]

However, I get an error "Invalid TO vertex for edge".  I was expecting to get a reference to the updated record and then use that to create an Edge from the User to that Vertex.

I faced the same issue when using transactions as well.

Am I missing something?

[2018-09-17 06:45] luigidellaquila commented on #333
Hi @sudhamab

Please try to add a RETURN AFTER to the UPDATE statement:

[code]

Thanks

Luigi

[2018-09-17 11:09] wolf4ood commented on #332
Hi @big213

i've just pushed a fix for decimal type in develop

[2018-09-17 14:45] luigidellaquila commented on #333
Hi @sudhamab

I found a bug and fixed it, it will be released with OrientDB v 3.0.8

Thanks

Luigi

[2018-09-17 15:12] #333 closed, assigned to luigidellaquila

[2018-09-17 15:20] big213 commented on #332
@wolf4ood Thanks very much for that, I am away from the computer but I will try it soon and get back to you. It looks like a new version was not pushed, should I wait for the new version to update or just update the relevant node_modules file to test it?

[2018-09-17 15:26] wolf4ood commented on #332
Hi @big213

let me update the package on npm

Thanks

[2018-09-17 15:50] wolf4ood commented on #332
@big213

just published `orientjs@3.0.0-beta.3`

Thanks

[2018-09-18 02:03] big213 commented on #332
All good now, thanks very much!

[2018-09-18 02:03] #332 closed, assigned to wolf4ood

[2018-09-18 04:10] big213 opened #334 "OrientJS 3.0: SELECT *, otherField FROM #1:0 Syntax Not Working"
OrientJS Version: 3.0.0-beta3
OrientDB Version: 3.0.7

Steps to reproduce error:
`INSERT INTO V SET someField = 'foo', otherField = 'bar'`
`SELECT *, otherField FROM #1:0`

When I attempt to perform the 2nd `SELECT`, the `session.query(query, params)` gets stuck and does not return. The statement works fine on the OrientDB Studio.

[2018-09-18 04:23] big213 commented on #334
Also, I just wanted to know the use of `session.query` versus `session.command`. The 1st one only accepts idempotent queries, and the 2nd one accepts both idempotent and non-idempotent queries. I guess I don't understand what the point of the 1st one is then. Is it faster, or is it just to help the user separate the queries between idempotent and non-idempotent?

[2018-09-18 05:53] big213 opened #335 "OrientJS 3.0: Error when using null params"
OrientJS Version: 3.0.0-beta3
OrientDB Version: 3.0.7

Steps to reproduce error:
`INSERT INTO V SET foo = null`
`session.query("SELECT FROM #1:0 WHERE foo = :foo", { params: { foo: null } })`

Results in this error:
`Unhandled rejection TypeError: err.isTokenException is not a function`

[2018-09-18 06:21] saeedtabrizi commented on #184
Hi @wolf4ood , may i know your plan for publish v3 release date ? I want to update typescript definition file as we discussed here .
Thanks
Saeed

[2018-09-18 08:54] wolf4ood commented on #184
Hi @saeedtabrizi

we are doing  bunch of beta releases. I think the final release will come the next week.

Do you need help with the typescript definition for the new APIs?

Thanks

[2018-09-18 09:45] wolf4ood commented on #334
Hi @big213

i was not able to reproduce this issue. do you have a script to reproduce this?

About `session.query` and `command` apart from idempotent difference, the main difference is that query is really streamed, and the statement and execution plan are cached, meanwhile that could not be the same when using command to change things around. And also you can separate query from command (read fr

[2018-09-18 10:04] wolf4ood commented on #335
Hi @big213

i've just pushed a fix. It will be available on the next release

Thanks

[2018-09-18 10:05] #335 closed, assigned to wolf4ood

[2018-09-18 14:38] big213 commented on #334
@wolf4ood Thanks for clarifying that question, the caching makes sense. I think it is best to use query when it is available, then.

As for the issue, I think it has to do with incoming or outgoing edges. Try this:

`INSERT INTO V SET someField = 'foo', otherField = 'bar'` '#1:0'
`INSERT INTO V SET id = 2` '#2:0'
`CREATE EDGE E FROM #2:0 TO #1:0`
`SELECT *, otherField FROM #1:0`

[2018-09-18 18:48] saeedtabrizi commented on #184
Hi @wolf4ood
So good news .
I need to know the changes list and deprecation in v3.0 APIs exactly , so i review the code changes in main branch at the next week .
Definitely, i will update typescript definition file after know it .

Thanks

[2018-09-19 14:14] wolf4ood commented on #334
@big213

thanks, i've reproduced it. Let me try to fix it

[2018-09-20 12:16] sudhamab commented on #333
thanks Luigi! Glad you found the issue

[2018-09-20 12:36] mindnuts commented on #322
@HariKiran9 Does not seems to be orientjs specific issue. Try switching your DNS to google DNS (8.8.8.8) and try again.

[2018-09-20 13:09] #334 closed, assigned to wolf4ood

[2018-09-20 13:10] wolf4ood commented on #334
Hi @big213

I've found the issue. Seems to be in OrientDB itself instead of  OrientJS.

I've just pushed a fix and it will be available in 3.0.8 GA

Thanks

[2018-09-25 02:21] jymcheong opened #336 "orientjs@3.0.0-beta.1 - Live Query - Exception: LINKBAG should never appear in a projection"
### Exception Message
Exceptions at server side, after which no more output from test harness.

[code]

### Test Harness Code
[code]

### Test Harness Output

[code]

[2018-09-25 08:47] wolf4ood commented on #336
Hi @jymcheong

yes it is a server side issue. It has been solved and it will be released in 3.0.8

See here
https://github.com/orientechnologies/orientjs/issues/334

Thanks

[2018-09-25 08:55] #336 closed, assigned to wolf4ood

[2018-09-25 11:09] jymcheong commented on #336
Hi @wolf4ood

Noted with thanks.

Regards.

[2018-09-28 08:55] riker09 commented on #324
Okay, the *real* culprit seems to be the package `istanbul-coveralls`. Any timeline on when this will get fixed for the 2.2.x branch?

[2018-10-01 03:07] big213 commented on #335
Hi @wolf4ood

OrientDB 3.0.8 just rolled out recently, and it seems to be working well so far. However, null params as described in this issue are still not working. In fact, it doesn't throw any error anymore, the query just doesn't return. I guess it is not a huge isssue, I just switched the param to `''` for now, but any chance you could push the fix to npm so I can test it?

[2018-10-01 13:24] wolf4ood commented on #335
Hi @big213

i've published `orientjs-3.0.0` let me know if it is ok

Thanks

[2018-10-04 04:01] big213 commented on #335
@wolf4ood All good now, thanks!

[2018-10-07 00:41] big213 opened #338 "v3.0.0: DELETE EDGE #9:1 Syntax Not Working"
OrientJS Version: 3.0.0
OrientDB Version: 3.0.8

Steps to reproduce error:
`session.command("DELETE EDGE :foo", { params: { foo: "#9:1" } })`

Results in this error:
`Encountered " ":" ": "" at line 1, column 13.
Was expecting one of: ...`

[2018-10-08 09:58] luigidellaquila commented on #338
Hi @big213

A parameter (`:foo` in this case) as a target for DELETE EDGE is currently not supported.
I'm marking this as an enhancement, it will likely be supported soon.

In the meantime, you have to use a different syntax like

[code]

Just make sure to pass the parameter as a RID object (not as a string), or use `convert()` method, ie `:foo.convert("LINK")`

Thanks

Luigi

[2018-10-09 02:38] big213 commented on #338
@luigidellaquila Alright, thank you. I hope it can be supported soon, but the proposed syntax will suffice in the meantime. However, the `DELETE EDGE :foo` syntax does work fine on the OrientDB 3.0.8 Studio.

[2018-10-11 16:33] #338 closed, assigned to nobody

[2018-10-16 15:21] petervavro opened #339 ".all() does not returns full data for ":{*}""
The query is e.g. `SELECT in("ConnectedClass"):{*} AS fieldName FROM ExampleVertexClass`

`.all()` is not returning the object with record data, just `@rid` instead.

I wish to get embed full record data. Is this a bug ? How to do this please ?

Thanks

[2018-10-16 15:27] luigidellaquila commented on #339
Hi @petervavro

I think the following will help:

[code]

Thanks

Luigi

[2018-10-16 15:27] luigidellaquila commented on #339
Please do not use `.all()`, use nested projections instead

[2018-10-17 19:52] petervavro commented on #339
Thank you Luigi but this does not work with `.all()` .. Do you have another idea please ?

BTW, that query works perfectly in OrientDB Studio.

[2018-10-17 19:56] petervavro commented on #339
Could you please be more specific about this ? How to ? Thank you

[2018-10-18 06:30] luigidellaquila commented on #339
Hi @petervavro

I'm afraid I'm not getting your point...
Which is your exact query?

Thanks

Luigi

[2018-10-22 04:45] nicolasembleton commented on #307
From reading the source, the `first` server (host/post) will be added to the `servers` pool at boot-up. The `easy` way to fix your issue is to not duplicate the host/port in the `servers` list.
It would be nice to `not` have to do that though as the notion of `host/port` is quite confusing in a distributed mode. Even though the doc says `only 1 server out of the whole pool must be on`, it feels li

[2018-10-22 04:47] nicolasembleton commented on #298
In a distributed environment that wouldn't be needed but for for single servers setup that would be really nice to have.

[2018-10-23 05:12] petervavro commented on #339
Query :
`SELECT in("ConnectedClass"):{*, @Rid, @Class, @Version} AS fieldName FROM ExampleVertexClass`

1. For this query `.all()` is not getting `@Class, @Version` returning `@Rid` only. So, it does not work for me.
2. You wrote :

 So how to use nested projections ? Could you please be more specific about this ? Thank you

[2018-10-23 09:59] wolf4ood commented on #339
Hi @petervavro

do you have an example that fails?

I've got this example

[code]

And i get the same result Studio/OrientJS

Which version of OrientDB and OrientJS do you have?

[2018-10-23 12:07] wolf4ood commented on #303
Hi @UltraMarco

i'm closing this. The version of OrientJS 3.0 has been released with the support for the new protocol and  nested projection

Thanks

[2018-10-23 12:07] #303 closed

[2018-10-23 12:18] UltraMarco commented on #303
Great!

Il mar 23 ott 2018, 14:07 Enrico Risa <notifications@github.com> ha scritto:

[2018-10-23 12:31] wolf4ood commented on #293
Hi @ameerthehacker

OrientJS 3.0.0 is out with direct APIs for unsubscribing

https://orientdb.com/docs/3.0.x/orientjs/Session.html#live-queries

Thanks

[2018-10-23 12:31] #293 closed

[2018-10-26 13:36] smolinari commented on #311
@loopmode - That is actually the proper way to do it. As I understand ODB, the OUser Class is there for ODB's internal user access system and really shouldn't be messed with.

Scott

[2018-10-26 14:16] loopmode commented on #311
Alright thanks. I got used to it by now, and it performs well.

[2018-10-26 14:16] #311 closed

[2018-10-31 05:56] dargolith opened #340 "Nested projections not working as in studio"
Nested projections are not working as described in the documentation or as in studio, or I am using the driver in the wrong way.

**orientjs v3.0.0
orientDB v3.0.10**

Init:
`CREATE VERTEX V SET a = {key1: "val1", key2: "val2"}, b = 2, c = 3`

**Studio**
[code]
**orientjs:**
[code]
The first output, from studio, is the expected one.

Seems everything including and after ":" in projections is just

[2018-10-31 10:00] wolf4ood commented on #340
Hi @dargolith

can you share the code on how you get the db instance?

Thanks

[2018-10-31 16:34] dargolith commented on #340
@wolf4ood

Sure!

I tried both:
[code]
and
[code]

I also tried both using:
`db.select(['*:{b}']).from('V').all().then(r => console.log(r));`

and

`db.query('SELECT *:{b} FROM V').then(r => console.log(r));`

Which should be the same thing, except the first gets passed through buildStatement() and then into .query().

[2018-10-31 17:00] wolf4ood commented on #340
Hi @dargolith

that could be the problem. Try to use the newest APIs documented here.

https://orientdb.org/docs/3.0.x/orientjs/OrientJS.html

They make use of the new 3.0 protocol and should work with nested projections

Let me know if it helps
Thanks

[2018-11-01 15:10] dargolith commented on #340
@wolf4ood

Thanks for the solution! It definitely works using the provided instructions.

For anyone wondering, I use this code now (using async/await atm, but pure .then works fine as well of course):
[code]

Thanks again! :)

[2018-11-01 15:12] #340 closed, assigned to wolf4ood

[2018-11-02 02:27] petervavro commented on #339
The example works in Studio but OrientJS does not return the same result. In other words it seem like OrientJS does not support "Nested projections".

OrientDB version : 3.0.8
OrientJS version : 3.0.0

Thanks.

[2018-11-02 02:44] petervavro opened #341 "Getting error by processing subqueries in "projections""
### Running this :
[code]
### Getting error :

`{ OrientDB.RequestError: Error on execution of command: sql.SELECT (SELECT * FROM TableB), fieldI, fieldII FROM TableA
        DB name="dbtest"
    at child.Operation.parseError (/node_modules/orientjs/lib/transport/binary/protocol33/operation.js:905:13)
    at child.Operation.consume (/node_modules/orientjs/lib/transport/binary/protocol33/operation.

[2018-11-02 10:40] wolf4ood commented on #341
Hi @petervavro

seems that is no valid query.
did you check if this query works on Studio?

Thanks

[2018-11-02 14:56] petervavro commented on #341
Yes I did, the query runs without issues on Studio.
It seems like OrientJS does not accept subqueries.
BTW, I am using OrientDB version 3.0.8 .

[2018-11-02 14:59] wolf4ood commented on #341
@petervavro

did you use the latest APIs of OrientJS 3.0?

https://orientdb.org/docs//3.0.x/orientjs/OrientJS.html

Thanks

[2018-11-02 17:31] petervavro commented on #341
I am using "version": "3.0.0". Thank you.

[2018-11-02 18:12] wolf4ood commented on #341
How do you get the db instance?

Thanks

[2018-11-02 18:39] petervavro opened #342 "Error: pool is draining and cannot accept work"
### I am trying :

[code]

### I am getting :

`Client closed
Error: pool is draining and cannot accept work
    at Pool.acquire (/node_modules/generic-pool/lib/Pool.js:434:9)
    at Promise (/node_modules/orientjs/lib/client/pool/index.js:36:10)
From previous event:
    at ONetworkPool.acquire (/node_modules/orientjs/lib/client/pool/index.js:34:12)
    at ONetworkBinary.acquireConnection (/node_m

[2018-11-02 18:40] petervavro commented on #342
Node version : v10.11.0

[2018-11-02 19:45] petervavro commented on #341
### This way :

`var server = OrientDB({
   host:     '10.0.1.5',
   port:     2424,
   username: 'root',
   password: 'root_passwd',
});

var db = server.use({
   name:     'GratefulDeadConcerts',
   username: 'admin',
   password: 'admin_passwd'
});`

[2018-11-02 19:50] wolf4ood commented on #341
@petervavro

this are the old APIs.

Please check the new APIs that make use of the new binary protocol

https://orientdb.org/docs//3.0.x/orientjs/OrientJS.html

This should solve the issue

Thanks

[2018-11-02 19:56] petervavro commented on #341
Thank you. I tried but I am getting this :
#342

[2018-11-02 20:43] wolf4ood commented on #342
@petervavro
you are closing the client before the query is fired.
By closing the client all the pools are closed. You should do something like this,
that close the session and then the client after the query is finished
[code]

[2018-11-03 02:03] petervavro commented on #342
Thank you so much. This works well.

I would like to ask one more favor. I guess, that will be useful for more people here (at least for me 👍 ). Could you please rewrite this to "async/await" version ?

Thank you.

If is possible I really appreciate that !

[2018-11-03 02:08] petervavro commented on #341
Now it works perfectly. Thank you ! ...But I need to say that  the documentation is really confusing. Or did I miss something ?

[2018-11-04 15:30] petervavro opened #343 "How to use "runInTransaction" ?"
I am sorry but I got a little bit confused. So, there is a new way how to use API transactions and that is described [here](https://orientdb.org/docs//3.0.x/orientjs/OrientJS.html#transaction). I am using transactions the way described [here](https://orientdb.org/docs//3.0.x/orientjs/OrientJS-Transactions.html).

Could you please present an example how can I merge these properly ?

Thank you !

[2018-11-04 15:57] petervavro opened #344 "From the beginning until the end. What and when supposed to be performed ?"
Could you please specify when the following tasks are supposed to be performed from Node JS Architecture point of view.

- OrientDBClient.connect > ? (e.g. Before server is created ?)
- client.sessions > ?
- pool.acquire() > ?

- session.close() > ? (e.g.: After request ?)
- pool.close() > ?
- client.close() > ?

Thank you !

[2018-11-05 04:00] petervavro opened #345 "Weird behaviour of "rawExpression" in Transaction Builder"
I am running similar code  :
[code]
[code]
Issue : For some unknown reason the content of **"links"** is added to **"batted"** as well.

This weird behaviour appeared after I started to use it the way described [here](https://orientdb.org/docs//3.0.x/orientjs/OrientJS.html). Before, I was connecting to DB this way :

[code]
I will appreciate any advice, this is really weird. Thank you.

[2018-11-05 14:58] wolf4ood commented on #342
Hi @petervavro
yes i will put example also with async/await

Thanks

[2018-11-05 15:03] wolf4ood commented on #343
Hi @petervavro

there is a main difference. Transactions as reported [here](https://orientdb.org/docs//3.0.x/orientjs/OrientJS-Transactions.html) works as a transactions builder. That means client side you generate a batch transaction using the APIs and then a single batch script is sent to the server (Old APIs but still valid in 3.0.x if you want to run a server side only tx).

Since OrientDB 3.0

[2018-11-05 15:07] wolf4ood commented on #344
At the boostrap of your application

At the boostrap of your application

When you need a session in the request for doing queries

When you are done with your logic

At the shutdown of the application

At the shutdown of the application

[2018-11-05 15:08] wolf4ood commented on #344
You can find an example here in a simple chat application with ExpressJS

https://github.com/orientechnologies/orientjs-example

[2018-11-05 15:33] petervavro commented on #343
Great , thank you , I really appreciate you explanation but I am sorry I still unsure how to use it.
Here is an example :
[code]

Could you please do us all a favor and rewrite this to JS example where you use "runInTransaction", so we can see how to use it.

I really appreciate that because for me in this case this would be more than thousand words :) 👍

[2018-11-05 15:45] wolf4ood commented on #345
@petervavro

Probably it's a bug. let me check ASAP.

Thanks

[2018-11-05 15:55] petervavro commented on #345
Please do, this is something urgent. I am stucked already a few days with this. Thank you.

[2018-11-05 16:48] wolf4ood commented on #345
Hi @petervavro

i've just pushed a fix. Let me wait for the CI then i can make a new release 3.0.1 with this fix

[2018-11-05 17:25] petervavro commented on #345
@wolf4ood Thank you so much. I am happy you found it. I am really stucked with this one. Do you think you can provide me with the fix / code before it is released ( like now :) ), ASAP, this is really blocking me to continue, I really appreciate that.

[2018-11-05 17:40] wolf4ood commented on #345
Hi @petervavro

Just published 3.0.1 on NPM with the fix. Let me know if that works for you

Thanks

[2018-11-05 17:41] wolf4ood commented on #341
@petervavro

I'm improving the docs. It should be out in the next days. I'm adding also async/await examples

Thanks

[2018-11-05 20:14] petervavro commented on #345
@wolf4ood BUG disappeared, works great, Thank you so much !

[2018-11-05 20:55] wolf4ood commented on #345
Cool

[2018-11-05 20:55] #345 closed, assigned to wolf4ood

[2018-11-06 11:48] wolf4ood commented on #344
Hi @petervavro

i've added the same example rewritten with  async/await.

https://github.com/orientechnologies/orientjs-example

Let me know if it helps

[2018-11-06 11:50] wolf4ood commented on #342
Hi @petervavro

i've added an example example with  async/await.
https://github.com/orientechnologies/orientjs-example

Let me know if it helps

Thanks

[2018-11-11 21:07] myflowpl commented on #344
Good question!
Answer should be added to the docs!

[2018-11-12 12:34] myflowpl opened #346 "INSERT INTO with CONTENT synax error when using params v3.0"
OrientDB 3.0.10
OrientJS 3.0.1

this works:
[code]
and this:
[code]

generates error:
[code]

It was working on 2.2 version
any ideas what i'm doing wrong ?

[2018-11-12 16:19] wolf4ood commented on #346
Hi @myflowpl

let me check

[2018-11-13 10:48] wolf4ood commented on #346
Hi @myflowpl

seems a limitation of the new parser shipped in 3.0.x.
I've got the same exception with Java Driver

[2018-11-13 10:55] myflowpl commented on #346
@wolf4ood thanks for quick response!

I wish to migrate to 3.0 but this limitation is really holding me back

do you know any work around or other easy method to insert records witch are big json structure ?

should we re post this issue on orientdb ?
or may be there are any other related issues already

[2018-11-14 18:19] ghost opened #347 "Docs: async/await in examples?"
The current examples use `.then()` for working with Promises.  `async`/`await` support has been in Node since v4, and is a significantly simpler way of working with Promises that's gaining wide adoption.

For example, the Record API (in 3.1):
[code]
Using `async`/`await`, this becomes a lot nicer:
[code]

A possible stumbling block might be that `await` can only be used inside an `async` function,

[2018-11-14 18:33] ghost opened #348 "Docs: Server/Database or Client/Session?"
I'm a little confused about which APIs are currently recommended for use.

The current docs, 3.0, have docs that recommend using the Client and Session objects for connecting to and working with Orient:
[code]
The v3.0 docs also only document a `Client` API and a `Session` API. They appear to drop the `Record`, `Class`, `Index`, and `Function` APIs (even though those continue to work in v3.0, even

[2018-11-16 13:49] wolf4ood commented on #348
Hi @milaniliev

`Record, Class` are not deprecated since Session is an extension of the old Database with new behaviour.
There are some docs missing of this api with new Session one. I'm working on this

[2018-11-16 13:50] wolf4ood commented on #347
Hi @milaniliev

we have started the work on the new docs with `async/await`

see here
https://orientdb.com/docs/3.0.x/orientjs/OrientJS.html

We will reflect this on all the docs of OrientJS 3.0.x

Thanks

[2018-11-17 19:06] ghost commented on #347
Yup, I see it. Awesome!

[2018-11-17 19:07] ghost commented on #348
That's great news, thanks!

[2018-11-17 21:11] ghost opened #349 "(Please Disregard)"

[2018-11-17 21:27] #349 closed, assigned to nobody

[2018-11-17 21:45] lightningthought opened #350 "Error: No query with id <..> found probably expired session"
We receive the following error when attempting to run an `INSERT INTO ... FROM SELECT ... ` using the new Client/Session APIs:

`No query with id <..> found probably expired session`

We've created a small reproduction program at:
https://gist.github.com/milaniliev/6d4c5411c6b9469830d9aa705d0831d1

This causes the error reproducibly when ran against the default Docker image for `3.0.10` using the

[2018-11-18 14:55] wolf4ood commented on #350
Hi @lightningthought

i've reproduced it. Seems more a problem of the server that closes the running queries.
Let me check more and get back to you

Thanks

[2018-11-18 18:33] lightningthought commented on #350
Okay, thank you!

[2018-11-19 18:50] wolf4ood commented on #350
Hi @lightningthought

@tglman  found and fixed the issue on the server.

https://github.com/orientechnologies/orientdb/commit/5633a65daa63bbfcdc9e45c0efa3dcfea48878a0

It will be available in the next OrientDB 3.0.x release

[2018-11-19 18:50] #350 closed, assigned to wolf4ood, tglman

[2018-11-20 14:57] lightningthought commented on #350
That's great news! Thank you very much for the quick response and fix.

[2018-11-20 15:42] wolf4ood commented on #346
Hi @myflowpl

i've tested the fix [here](https://github.com/orientechnologies/orientdb/issues/8666) also in orientjs and works fine

Thanks

[2018-11-20 15:42] #346 closed, assigned to wolf4ood, luigidellaquila

[2018-11-22 12:04] mpduffey opened #351 "Class List Does Not Update"
I built a node.js/Express API with OrientJS to query my OrientDB database. I use getClassList() [shown below] to retrieve a refreshed class list from the database to send back to the client in response to requests to refresh the class list, and add a new class or delete an existing class from the database. The function works well when refreshing a class list and when adding a new class, delivering

[2018-12-12 00:42] Leeingnyo opened #352 "Query result is different results by orientjs API version"
I'm moving to OrientJS 3.0 new API now (using OrientDBClient, sessions).
However, I met different results with new API. My model is roughly

[code]

And here is my query

[code]

with the old API, the result is correct as expected,
but with the new one, no match records...

And I tried `SELECT name.values() FROM Song` on orientdb studio, the output is a list of empty.
I think that it's a bug on Or

[2018-12-13 12:54] Leeingnyo commented on #352
After some tests, I decided to run the query `SELECT * FROM Song WHERE "relations" in unionall(name.ko, name.hangul, name.latin)` instead.
Is there any other better way?

[2018-12-13 13:01] wolf4ood commented on #352
Hi @Leeingnyo

is name a map right?

[2018-12-13 13:15] Leeingnyo commented on #352
No, It's `EMBEDDED` type. `Name` is Linked Class.

[2018-12-13 13:23] Leeingnyo commented on #352
I found another way. I can get expected results with a query `SELECT * FROM Song WHERE "relations" in name.asList()`

[2018-12-14 01:26] creisle opened #353 "Error on creating property with minimum value"
## Version Information
OrientJS: v3.0.1
OrientDB: v3.0.6
node: v8.11.2

## Steps to reproduce

I am currently migrating from code that was using 2.X.X to 3.X.X, I run into the following error when I try to create a property which has a minimum value.

[code]

Am I supposed to be using different syntax in v3.X.X ?

[2018-12-18 03:22] dargolith opened #354 "Can't get client to close when session creation throws"
**Versions**
[code]
**Problem**
If the OrientDBClient.session call throws (for instance of the db doesn't exist) it seems impossible to cleanup the client state (?), thus preventing expected termination.

**Code**
[code]

**Expected behavior**
To terminate correctly.

**Actual behavior**
Locks / hangs forever.

[2018-12-18 13:53] wolf4ood commented on #353
Hi @creisle

it should be the same apis, let me check

[2018-12-20 13:39] wolf4ood commented on #354
Hi @dargolith

i've just pushed a fix. It will be available in the next OrientJS version 3.0.2

Thanks

[2018-12-20 13:40] #354 closed, assigned to wolf4ood

[2018-12-20 13:46] wolf4ood commented on #351
Hi @mpduffey

OrientJS caches the schema, that's why probably you still see the deleted class.
You can pass the setting in order to refresh the cache.

[code]

Let me know if this helps

[2018-12-20 14:03] dargolith commented on #354
Great! :) Thanks!

[2018-12-20 17:05] wolf4ood commented on #352
Hi @Leeingnyo

is it working now?

[2018-12-21 14:00] wolf4ood commented on #352
Hi @Leeingnyo

i've reproduced and fixed the issue which was in OrientDB as you guessed.
I'm closing this since I've raised an issue on OrientDB project.

Thanks

[2018-12-21 14:00] #352 closed, assigned to wolf4ood

[2018-12-21 15:06] #341 closed, assigned to wolf4ood

[2018-12-21 15:34] Leeingnyo commented on #352
Hi @wolf4ood

Thank you for fixing! I'll wait for next version up

[2018-12-27 11:37] wolf4ood commented on #353
Hi @creisle

i've just pushed a fix. It will be available in the next OrientJS release

[2018-12-27 11:37] #353 closed, assigned to wolf4ood

[2018-12-27 13:30] wolf4ood commented on #353
Hi @creisle

OrientJS 3.0.2 is available on NPM with this fix.
Thanks

[2018-12-27 13:31] wolf4ood commented on #354
Hi @dargolith

OrientJS 3.0.2 is available on NPM with this fix.
Thanks

[2019-01-03 14:55] wolf4ood commented on #282
https://github.com/orientechnologies/orientjs/commit/0774f6705dfb6defc7cf4fcf2c1aa807da5d877f

[2019-01-03 14:55] #282 closed

[2019-01-04 14:20] wolf4ood commented on #1
Fixed with the new Session APIs

https://orientdb.com/docs/3.0.x/orientjs/OrientJS.html

[2019-01-04 14:20] #1 closed

[2019-01-04 14:21] #2 closed

[2019-01-08 01:16] creisle opened #355 "Error creating a mandatory not null property"
orientjs version: 3.0.2
orientdb version: 3.0.6

I am running into an error creating non-null properties.

[code]

I think this may be a typo in the property creation logic
/orientjs/lib/client/database/class/property.js

line 202 seems to have the all not on the db command like the other property statements
[code]

whereas I would have expected

[code]

[2019-01-08 01:25] creisle opened #356 "Create Index Error: Cannot execute query on non idempotent statement"
orientdb version: 3.0.6
orientjs version: 3.0.2

I run into the following error when I try to create an index

[code]

[2019-01-08 09:51] wolf4ood commented on #356
Hi @creisle

how do you create the index?

[2019-01-08 10:07] wolf4ood commented on #355
Hi @creisle

thanks for raising this issue. Indeed there was a typo. Fixed and pushed.
It will be available in the next OrientJS 3.0.3 release

[2019-01-08 10:07] #355 closed, assigned to wolf4ood

[2019-01-08 20:59] creisle commented on #356
Hi @wolf4ood,

Sorry about that, I have now extracted the code to a minimal reproducible version
[code]

as far as I can tell it just seems to happen on creating any index using db.index.create?

[2019-01-09 11:58] wolf4ood commented on #356
Hi @creisle

thanks for the reproducer. I've pushed a fix. It will be available in the next OrientJS release

[2019-01-09 11:58] #356 closed, assigned to wolf4ood

[2019-01-09 12:03] wolf4ood commented on #356
Hi @creisle

we have just release OrientJS 3.0.3 with the fix.
Thanks

[2019-01-09 12:03] wolf4ood commented on #355
Hi @creisle

we have just release OrientJS 3.0.3 with the fix.
Thanks

[2019-01-24 01:36] dargolith opened #357 "How to make long lived live queries?"
When I start a live query everything works great, until after some time has passed. Then the live query stops working without any error messages (even if vertices are created, callback is not called).

Here is the function I've created which performs the liveQuery.
[code]

Then I just use it like:
[code]

The callback does fire for a while, but then (not sure exactly after how long) it stops being

[2019-01-24 15:50] wolf4ood commented on #357
Hi @dargolith

it should last as long as the connection is alive.
Did you restart the app or the server meanwhile?

After how many minutes/hours do you notice this behaviour?
Thank

[2019-01-25 13:07] petervavro commented on #267
Sorry guys, this seems to be done but I can not get it to work even in v3.0.3. Please give me a hint why. Thank you !

[2019-01-28 21:40] petervavro opened #358 ".remove() does not allow field removal"
Sorry guys, this seems to be done but I can not get it to work even in v3.0.3. Please give me a hint why. Thank you !

_Originally posted by @petervavro in https://github.com/orientechnologies/orientjs/issues/267#issuecomment-457567158_

[2019-02-01 13:26] dargolith commented on #357
Hi, sorry for the late answer. Been really busy.

It was a bit difficult to target the exact time it took to stop working. After a while I found that it had to do with the keep-alive of the underlying sockets somehow. If no data is sent for 15 minutes, the socket dies.

The workaround I did was to make an update operation to the database every 10 minutes to a dummy record, triggering the callback

[2019-02-04 15:23] petervavro commented on #358
Hi guys, any updates on this please ?

[2019-02-05 23:16] petervavro opened #359 "DATETIME : Wrong timezone conversion"
## Expected behavior
Database timezone : "**GMT-05:00**"
The value in _DATETIME_ field is **2019-02-01T05:00:00.000Z**.
".all()" supposed to response "Fri Feb 01 2019 **00:00:00 GMT -0500 (-05)**" in date object.

## Actual behavior
I am getting "Fri Feb 01 2019 **05:00:00 GMT -0500 (-05)**".

Is this a BUG please ?

Thank you.

[2019-02-06 16:02] petervavro commented on #359
Solved. The issue was caused by the confusion about timezone config. I am sorry and thanks !

[2019-02-06 16:02] #359 closed, assigned to nobody

[2019-02-06 16:10] petervavro commented on #328
I wanted to close this but link = 404 PAGE NOT FOUND.

[2019-02-06 16:19] petervavro commented on #339
The issue was caused by the way I used OrientJS.

Before, I have used approach described here : https://orientdb.org/docs/3.0.x/orientjs/OrientJS-Server.html

The problem was solved when I use it the way described here :
https://orientdb.org/docs/3.0.x/orientjs/OrientJS.html#connect-to-orientdb

Thank you !

[2019-02-06 16:19] #339 closed, assigned to wolf4ood

[2019-02-11 15:08] wolf4ood commented on #358
Hi @petervavro

do you have a test snippet to reproduce this issue?

[2019-02-13 18:28] dargolith commented on #358
Hi!

I have the same problem with using .remove() to remove a property.

Try this on localhost db test with credentials root / root.
[code]

Output:
`UPDATE V REMOVE `

Expected:
`UPDATE V REMOVE someProp`

Am I using it wrong? Another question, if I want to remove several properties, what is the syntax? Calling it several times? Using an array?

Appreciate any help. :)

[2019-02-14 16:27] wolf4ood commented on #358
Hi @petervavro  @dargolith

i've just pushed ad fix and released OrientJS 3.0.4.

@dargolith
you should use multiple remove calls

[2019-02-14 16:28] #358 closed, assigned to wolf4ood

[2019-02-14 16:34] wolf4ood commented on #357
@dargolith thanks let me try to reproduce it

[2019-02-15 15:26] petervavro opened #360 ""pool.close()" is missing in async/await example."
Hi there,

I am really thankful to @wolf4ood for async/await example : [https://github.com/orientechnologies/orientjs-example](https://github.com/orientechnologies/orientjs-example)

I have an additional question about that :
Could you add `pool.close()` to the example please ?

Thanks

[2019-02-15 15:35] wolf4ood commented on #360
hi @petervavro

in this case i think it's not needed. In general the sessions pool should be closed at app shutdown or when you are done with the pool. For example when testing.

[2019-02-15 15:39] #342 closed, assigned to wolf4ood

[2019-02-15 15:41] #344 closed, assigned to nobody

[2019-02-15 15:58] petervavro commented on #360
Thank you for the quick reply. It is pity that you will not add it there because at least for me would be really helpful. I would understand better its intention of usage in an example case.

But on the other side, I understand it might make the example more complex and less understandable, so for that reason, I agree with you.

[2019-02-15 15:58] #360 closed, assigned to wolf4ood

[2019-02-21 13:17] domguard opened #361 "Not able to modify vertex in Studio UI"
oops

[2019-02-21 13:23] #361 closed, assigned to nobody

[2019-02-24 17:24] quantpioneer opened #362 "Queries with multiple selectors do not work in OrientJS"
### Issue: Queries with multiple selectors (e.g. `select *, inE().name`) do not work in OrientJS v3.0.4 (see query example below)

OrientDB version: 3.0.6
OrientJS version: 3.0.4
OS: Windows 10

## Steps to reproduce

**SQL**

    insert into V set name = 'a';
    insert into V set name = 'b';
    create edge from (select from V where name = 'a') to (select from V where name = 'b') set name = 'tes

[2019-02-24 17:27] quantpioneer commented on #362
Just noted that this also doesn't work with `batch()`.

This works:

    let batch = `begin;
        let x = TRAVERSE out() FROM (select from V where name = 'a') WHILE $depth < 2;
        let y = select * from (select expand($x));
        commit;
        return $y;`;
    const result = await session.batch(batch).all();

But this doesn't:

    let batch = `begin;
        let x = TRAVERSE out() FROM

[2019-02-25 06:06] quantpioneer commented on #362
This issue seems to be fixed in OrientDB 3.0.15 GA Community Edition

[2019-02-25 11:56] wolf4ood commented on #362
@JeanPaulvB

ok so the problem was actually in OrientDB and not OrientJS.

Thanks @JeanPaulvB

[2019-02-25 11:56] #362 closed, assigned to wolf4ood

[2019-02-26 22:01] creisle opened #363 "Documentation Change: Transaction Builder with orientdb v3.X.X"
### orientjs version
v3.0.4
### orientdb version
v3.0.14
### OS version
Centos07

Following the examples here http://orientdb.com/docs/3.0.x/orientjs/OrientJS-Transactions.html
 I am migrating code that previously worked with orientdb 2.X.X. However now the same function will no longer work, Could we add to the documentation a note to specify this to users?

Using orientdb v2 the documentation exa

[2019-03-01 22:03] creisle opened #364 "How to use limit with v3.X"
orientjs version: 3.0.4
orientdb version: 3.0.14
OS version: centos07

With v2.X the query limit was given the same as the params and not part of the query string. Has that changed? When I am running a query

[code]

results is returning more than 1 record

[2019-03-04 09:55] wolf4ood commented on #364
Hi @creisle

`limit`  in 2.2.x was part of the protocol. And thus was serialized as parameters.

From 3.0.x the limit should be expressed in the query itself

[code]

[2019-03-05 22:03] petervavro opened #365 "Available session in the pool ?"
My objective is to control whether all the session are closed. For this purpose I would like to get information the number of open and available session. How can I accomplish that ?

I figured, there are some description props in pool object for this purpose. Where can I find a documentation for that please ?

Thank you !

[2019-03-06 10:14] wolf4ood commented on #365
Hi @petervavro

there is no documentation about that. But you can accomplish that with this methods

https://github.com/orientechnologies/orientjs/blob/develop/lib/client/pool/index.js#L66

Which wrap the underlying pool library.

Under the hood we use generic pool, you can refer here for the documentation

https://github.com/coopernurse/node-pool#pool-info

Let me know if you need other info

Tha

[2019-03-11 13:51] nomi-ramzan opened #366 "Fetch plan for link type"
Hi I am using
version 3.0.17
schema:
[code]
Query:
[code]

it is still not expanding any linked record. Can you please correct my query.
Thank you

[2019-03-11 13:58] wolf4ood commented on #366
Hi @nomi-ramzan

are you using the new APIs with 3.0.x of OrientJS?

[2019-03-11 13:59] nomi-ramzan commented on #366
Yes I am using all latest versions orientdb( 3.0.17 ) orientjs ( 3.0.4 )

[2019-03-11 14:01] wolf4ood commented on #366
Are you using the API with client and sessions described here right?

https://orientdb.com/docs/3.0.x/orientjs/OrientJS.html

[2019-03-11 14:15] nomi-ramzan commented on #366
Ye I am sure. and following this [example](https://github.com/orientechnologies/orientjs-example/blob/master/orientjs-chat-example-async-await/index.js)
OrientDB: 3.0.17
Orientjs: 3.0.4
Node: v8.12.0

[2019-03-11 14:16] wolf4ood commented on #366
Ok, because fetch plan with the new APIs are deprecated. You should use nested projection

for fetching linked objects

https://orientdb.com/docs/3.0.x/sql/SQL-Projections.html

[2019-03-11 14:19] nomi-ramzan commented on #366
OK Thank you. Let me check that.

[2019-03-25 01:38] petervavro opened #367 ".unwind not working"
[code]

returns : `SELECT * FROM TableA`

It ignores **unwind**. What is wrong with this please ?

[2019-03-26 22:20] wolf4ood commented on #367
Hi @petervavro

sorry for the late response, i will give it a look tomorrow

Thanks

[2019-03-26 22:21] wolf4ood commented on #366
Hi @nomi-ramzan

was the link helpful ?
can we close this issue?

Thanks

[2019-03-26 23:38] wolf4ood commented on #364
Hi @creisle

did it solve the issue?

can we close this?

Thanks

[2019-03-26 23:39] #347 closed, assigned to wolf4ood

[2019-03-26 23:40] #301 closed

[2019-03-26 23:41] #309 closed

[2019-03-26 23:42] #300 closed

[2019-03-26 23:44] wolf4ood commented on #305
@hosseinGanjyar

the new protocol supports pagination and also OrientJS v3

https://orientdb.com/docs/3.0.x/orientjs/Session.html#streaming

Thanks

[2019-03-26 23:44] #305 closed

[2019-03-27 06:17] hosseinGanjyar commented on #300
Thanks for answer. I'll check it.

[2019-03-27 08:34] wolf4ood commented on #365
Hi @petervavro

did you check on this?

Can we close it?

Thanks

[2019-03-27 09:05] wolf4ood commented on #367
hi @petervavro

i've just pushed a fix for this. It will be available in the next OrientJS release

Thanks

[2019-03-27 10:03] wolf4ood commented on #367
Hi @petervavro

i've just published on npm OrientJS 3.0.5 with this fix

Thanks

[2019-03-27 10:03] #367 closed, assigned to wolf4ood

[2019-03-27 20:57] petervavro commented on #367
I did upgrade to 3.0.5 but unfortunately, it still does not work.

[2019-03-27 22:25] wolf4ood commented on #367
Hi @petervavro

how is your code different from this test case?

https://github.com/orientechnologies/orientjs/blob/3.0.5/test/database/database-statement-test.js#L706

Thanks