[2019-03-27 22:50] petervavro opened #368 ""$parent.$current" does not work in .let"
[code]
In all lines **$testVar = null** except the first one.

`console.log(r.toString())` = `SELECT $testVar FROM TableA LET $testVar = $parent.$current.someField`

In Studio : $testVar = `"its value"` for every record.

What do I do wrong, please?

[2019-03-28 09:00] wolf4ood commented on #368
Hi @petervavro

let me check. Seems more related OrientDB. Let me try to repoduce this

Thanks

[2019-03-28 09:34] wolf4ood commented on #368
Hi @petervavro

i've checked. It was an OrientDB but. It has already been fixed.

It will be relased in the next ODB GA version 3.0.19. Thanks

https://github.com/orientechnologies/orientdb/commit/b72e51a86b2d0cab710d2cad29efc78a2184622a

[2019-03-28 09:34] #368 closed, assigned to wolf4ood, luigidellaquila

[2019-04-03 00:14] petervavro opened #369 "Error: Resource not currently part of this pool"
I am randomly getting following error :
[code]
Restart of the server is required in order to get it to work again.

There are 0 sessions open at that moment. I using [hapi-orientdb](https://github.com/petervavro/hapi-orientdb).

What is wrong, please ?

[2019-04-03 10:01] wolf4ood commented on #369
Hi @petervavro

do you have a script to reproduce this?

Thanks

[2019-04-04 00:41] Chimba123 commented on #108
@wolf4ood how far with that ODB and graphql example/tutorial it would help a lot.

[2019-04-04 00:44] Chimba123 commented on #108
@wolf4ood I really need it I don't want to shift to Neo4j and Cypher because of the licensing issues and I don't want to learn another query language though Neo4j is really good but I ran away from it and i do not want to go back to it ODB is great just docs

[2019-04-04 23:36] creisle commented on #364
Yes I am able to run the query

[2019-04-04 23:36] #364 closed, assigned to wolf4ood

[2019-04-04 23:44] creisle opened #370 "Unsupported Protocol : 36"
orientdb: v2.2.37
orientjs: v3.0.5
nodejs: 8.11.2
OS: centos07

I would like to use some of the newer features in orientjs 3.X.X but I am unable to upgrade to orientdb v3 currently.

It is not clear to me from the documentation what the requirements are. v3.X.X says the api's are backwards compatible which would have lead me to assume that I should be able to use 3.X.X with orientdb 2.X.X? Is that

[2019-04-05 08:42] wolf4ood commented on #370
Hi @creisle

unfortunately those new apis works only with OrientDB 3.0.x.

You can still use OrientJS 3.. with OrientDB 2.2.x but you need to use the legacy API

https://orientdb.com/docs/3.0.x/orientjs/OrientJS-Legacy.html

Let me know if this helps

Thank

[2019-04-09 09:16] Eomm opened #371 "Question: how to navigate a big graph with studio"
Hello,
I'm trying to execute some queries but all of these fails badly (the Studio tab go in out-of memory):

![image](https://user-images.githubusercontent.com/11404065/55788219-34555280-5ab8-11e9-8f3f-fdc552ae7642.png)

[code]

My graph is like [this](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFJcbiAgICBQKChQdWJsaXNoZXIpKS0tPnxTZWxsfFMoKFNlZ21lbnQpKVxuICAgIEMoKEN

[2019-04-09 09:28] wolf4ood commented on #371
Hi @Eomm

Studio is not designed for displaying big graphs. It uses svg under the hood.

The typical limit is 500 nodes and 1000 edges.

If you need to display a bigger graphs you could use external tools

You could try this for example which was recently open sourced

https://github.com/ArcadeAnalytics/arcadeanalytics

Thanks

[2019-04-09 10:05] Eomm commented on #371
Thank you for the explanation, I will give it a try 👍

[2019-04-09 10:05] #371 closed, assigned to wolf4ood

[2019-04-09 21:39] npetruzzelli opened #372 "V8 Deprecation Warnings For deserializer.vcxproj"
When executing `npm install --save orientjs`, I receive the following messages:

[code]

-   Windows 10
-   Node `v10.15.3`
-   npm `6.4.1`
-   windows-build-tools `5.1.0` <https://github.com/felixrieseberg/windows-build-tools>
    -   <https://github.com/nodejs/node-gyp/blob/5fb19f5f104938ecd3ec5d993763927f94cdffdf/README.md#on-windows>

[2019-04-10 15:22] Eomm opened #373 "Question: usage of indexes and perfomance tips"
Hello,
I built this graph:

![image](https://user-images.githubusercontent.com/11404065/55890645-60093300-5bb3-11e9-81f3-be414f654dcc.png)

13 `Segment` connected to a total of 14,871,406 `Contact`

This is the query I wrote to traverse the red path:

[code]

I build also some indexes:

+ Contact.gender NOTUNIQUE_HASH_INDEX / engine: HASH_INDEX
+ Contact.name NOTUNIQUE / engine: CELL_BTREE

But lo

[2019-04-10 15:34] wolf4ood commented on #373
Hi @Eomm

i see that it uses the index UniqueClient which is correct.

Could you run

[code]

to get stats on execution?

Thanks

[2019-04-10 15:47] wolf4ood commented on #373
@Eomm
you could try also the match variant which it can be faster

[code]

[2019-04-11 07:56] Eomm commented on #373
The output is:

[code]
---

That query return in **2 seconds**!
I'm using stream API and I notice also that this query emit `data` really soon; instead, the first query emit all the `data` event in some sec after ~20 min
I'm astonished 😲

I need to explore more the `match` API and add some counter 😅

This is my snippet if could help to prototype fast:

[code]

[2019-04-12 13:14] saeedtabrizi commented on #184
Hi @lvca , @wolf4ood
Recently i have an update for typescript definition that available in npmjs [@types/orientjs](https://www.npmjs.com/package/@types/orientjs) .
I just update the builtin orientjs .d.ts file version  to latest definition file in PR https://github.com/orientechnologies/orientjs/pull/374
Thanks.

[2019-04-15 11:47] wolf4ood commented on #4
Hi,
i've added a test case for this issue. It's not valid anymore.

It works with OrientDB 3.0.x and OrientJS 3.0.x

[2019-04-15 11:47] #4 closed

[2019-04-15 11:52] wolf4ood commented on #89
Hi All,

i'm closing this. The new OrientJS API provide this out of the box with sessions pool

https://orientdb.com/docs/3.0.x/orientjs/Client.html#sessions

[2019-04-15 11:52] #89 closed

[2019-04-15 11:55] wolf4ood commented on #372
Hi @npetruzzelli

is this blocking the install? orientjs native should be optional and if you are using OrientJS 3.0.x with the new protocol it's not needed anymore, so you can ignore those warnings

Thanks

[2019-04-15 11:57] wolf4ood commented on #373
Hi @Eomm

the difference should be that the first one execute the traversal and then limit the results,

meanwhile the latter returns the first 100 matched items

[2019-04-15 12:00] wolf4ood commented on #306
Hi @33Fraise33

Switching to new OrientJS API
https://orientdb.com/docs/3.0.x/orientjs/OrientJS.html

Should solve the issue

Thanks

[2019-04-15 15:57] npetruzzelli commented on #372
@wolf4ood - I don't think it affected the install. It is something I've only noticed in various packages since upgrading from Node 8.x to 10.x. My understanding is that it isn't broken now, but it may break in the near future (somewhere between Node 11 and 14 maybe?), so I wanted to file a bug since I didn't see one already.

I ended up having to switch to a different package since the project isn

[2019-04-18 10:07] wolf4ood commented on #203
Coverage has been improved to 80%

https://github.com/orientechnologies/orientjs

[2019-04-18 10:07] #203 closed

[2019-04-18 10:09] wolf4ood commented on #167
Streaming support is available in OrientJS 3.0.x

https://orientdb.com/docs/3.0.x/orientjs/Session.html#streaming

[2019-04-18 10:09] #167 closed

[2019-04-18 10:10] wolf4ood commented on #148
Streaming support is available in OrientJS 3.0.x

https://orientdb.com/docs/3.0.x/orientjs/Session.html#streaming

[2019-04-18 10:10] #148 closed

[2019-04-18 10:18] wolf4ood commented on #365
Hi @petervavro

i'm closing this. The APIs above should answer your question.

Let me know if you need other infos

Thanks

[2019-04-18 10:18] #365 closed, assigned to wolf4ood

[2019-04-18 10:45] wolf4ood commented on #322
Closing this, since it's not related to OrientJS

[2019-04-18 10:45] #322 closed

[2019-04-18 10:54] wolf4ood commented on #366
Hi @nomi-ramzan

Let me know if you need other info.
Meanwhile i'm closing this

Thanks

[2019-04-18 10:54] #366 closed, assigned to wolf4ood

[2019-05-27 06:17] Leeingnyo opened #375 "orientjs migration command cause to lock database"
Hi,

I upgraded orientdb to 3.0.19 just before.
and modified the addresses at `orientdb-server-config.xml` from `0.0.0.0` to `localhsot`.

After I executed `orientjs migrate list`, it stopped.
trying to connect to the database with the orientdb console, it said `Database is locked by another process, please shutdown process and try again`
However, Orient Studio connected to database well.

the ver

[2019-05-28 03:45] Leeingnyo commented on #375
I think my database is broken...
After throwing away old `databases` folder, it looks all good.
Thank you

[2019-05-28 03:45] #375 closed, assigned to nobody

[2019-06-12 23:35] #370 closed, assigned to wolf4ood

[2019-06-12 23:36] creisle commented on #238
This works in v3.0.0+

[2019-06-12 23:36] #238 closed

[2019-06-12 23:56] creisle opened #376 "Error parsing query on select from list of record Ids (v3)"
## Version info
orientdb version: 3.0.14
orientjs version: 3.0.5
nodejs version: v10.13.0

## Expected Behaviour

The same query previously worked in v2.2.X and works when done in the orientdb console but throws an error when using orientjs v3+

## Observed Behaviour

throws the following error message

[code]

## Min Reproducible Example

[code]

[2019-06-26 22:32] creisle opened #377 "java.lang.ClassCastException Query Builder Error (v3.X.X)"
## System information
Orientjs version: 3.0.5
orientdb version: 3.0.20
node version: v10.13.0

## Expected Behaviour

The insert operation to suceed

## Actual Behaviour

Throws this error
[code]
## Minimum Reproducible Example
[code]

I think this has something to do with the "MIN" constraint

[2019-06-26 22:38] creisle commented on #377
It also worth nothing that I can create this record using the same class schema successfully when done though the db console bypassing orientjs

[2019-06-29 13:46] moonlitSpider opened #378 "Read and Write Local Database?"
Does orientjs support reading/writing a local ("plocal"?) database?

If so, must OrientDB be at or above a particular version; and can you point me to some examples of using orientjs against a local database?

Thank you.

[2019-07-01 10:15] wolf4ood commented on #378
Hi @moonlitSpider

it is not possible. Only JAVA or JVM languages can work with local databases.

Thanks

[2019-07-01 10:17] #378 closed, assigned to wolf4ood

[2019-07-03 09:14] wolf4ood commented on #377
Hi @creisle

the main problem is on the wired protocol. OrientJS when serializing number uses `Long` java type, but in this case the property is integer. And that explains the class cast exception. OrientDB
should automatically convert to the declared type on the schema. I've provided a fix. It is on testing now. If the tests passes it will be available in the next release

Thanks

Enrico

[2019-07-03 10:59] wolf4ood commented on #377
Hi @creisle

the fix has been merged. It will be available in the next OrientDB 3.0.22 release

Thanks

[2019-07-03 10:59] #377 closed, assigned to wolf4ood

[2019-07-03 16:01] creisle commented on #377
Great! Thank you :)

[2019-07-05 19:36] creisle opened #379 "Default string whitespace error"
## Version Information
orientdb: 3.0.20
orientjs: 3.0.5
node: v10

## Behaviour

Throws an error when the default value of a string field contains white space

## Steps to reproduce

[code]

the error observed was as follows

[code]

[2019-07-16 23:52] creisle commented on #377
Hi @wolf4ood,

I just tried this is orientdb 3.0.22 and the error is still there

[2019-07-18 17:49] creisle opened #380 "Filtering against record ID list fails"
## version info
orientjs: 3.0.5
orientdb: 3.0.22
node: v10

## Description
When filtering a collection using CONTAINSANY against a list of records if params are used for the records. However this works if params are not used

## Steps to reproduce

[code]

which logs
[code]

[2019-07-18 17:50] creisle commented on #376
Note that this may be related to https://github.com/orientechnologies/orientjs/issues/380 ? Unsure if select from list of records is treated the same as filtering against a list of records

[2019-07-23 13:08] svarunbe opened #381 "[Documentation] Please provide clear documentation"
The documentation is not clear with respect to which API is present in which version.

Eg:
1. Server, Database, Client and Sessions API - which of them should be used in the current version?
2. Record, Class, Index, Functions API - Are these deprecated?
3. Please provide examples for 'Match' query and complex relation scenario.
4. And improve the documentation as early as possible.

[2019-07-29 12:55] wolf4ood commented on #381
Hi @svarunbe

1.
as written here the Server/Database API are kept for backward compatibility
http://orientdb.com/docs/3.0.x/orientjs/OrientJS.html

2.
Nope.
3.
What do you mean an example of Match?
Did you check the tutorial of demodb?

https://orientdb.com/docs/3.0.x/gettingstarted/demodb/DemoDB-Introduction.html

Thanks

[2019-07-29 13:02] wolf4ood commented on #380
Hi @creisle

i've tried your snippet. If you replace `bob` with bob's rid in the param it will work since the parameter will be the record id and not the entire record

[code]

let me know if this helps

Thanks

[2019-07-29 13:11] wolf4ood commented on #376
Hi @creisle

i've checked this syntax is not supported

[code]

if you want to use parameters in the target you have to use one 1 param like this

[code]

let me know if this helps

Thanks

[2019-07-29 22:07] creisle commented on #376
@wolf4ood I get a different error when i try that

[code]

error message
[code]

I can select from a collection when not using parameters (ex. if I sub them in directly)

[code]

[2019-07-29 22:12] creisle commented on #380
ok, I can do that. Thanks!

[2019-07-29 22:12] #380 closed, assigned to wolf4ood

[2019-08-02 05:31] mehdizarepour opened #383 "Issue with creating seed files (migration)"
Base on issue #76 I've created my migration files and it works fine, But how can I create seed files?
There isn't any explanation in orientjs docs.
tnx.

[2019-08-09 09:43] wolf4ood opened #384 "Proper pause/resume support on Streams"
From OrientJS v.3 the returns of a query is a NodeJS streams, in order to support the new pagination feature of OrientDB 3.0.x. So it is possible to pause a stream and resume it later in time.

[code]

This works fine, but still OrientJS, will request for the next page, if available, even if the stream is paused, that can result in high memory footprint due the records being cached in the stream b

[2019-08-19 08:36] #384 closed, assigned to wolf4ood

[2019-08-20 07:12] alexmm11 opened #387 "Error on parsing query parameter"
I'm trying this query:

[code]

but i'm getting this error:

![Captura de pantalla de 2019-08-20 01-58-37](https://user-images.githubusercontent.com/521303/63324700-32b15c00-c2ee-11e9-812b-434629d955b7.png)

only works in this way:
[code]

The **":"** is supposed to set the variable value in the params object, but it does nothing.

[2019-08-20 10:15] wolf4ood commented on #387
Hi @alexmm11

did you try

[code]

[2019-08-21 23:53] hsr-ci opened #389 "pool connections not working on aws"
I have this code that works on my local machine but not on AWS. It fails when I try to get a session out of a pool by doing `pool.acquire()`. Looks like the `client.sessions()` call is also implicitly calling `pool.acquire()`, but that call works for me.

[code]
... later in the code
[code]
Error:
[code]

Any ideas what could go wrong here?

[2019-08-22 02:35] alexmm11 commented on #387
Thanks Enrico, It works perfectly!! :ok_hand:

[2019-08-22 08:08] wolf4ood commented on #389
Hi @hsr-ci

`Cannot select the server` means that the connection was lost somehow.

Can you reach the server from orientjs machine?

Are they in the same machine?

Are you running standalone or distributed OrientDB?

Thanks

[2019-08-22 12:44] xavierdenis commented on #357
Hi, same issue here using java client. LiveQuery seems ok and then stops working for an unknown reason. No error notification on client and one "live query interrupted by socket close" on server logs.

[2019-08-22 15:26] hsr-ci commented on #389
Hi @wolf4ood

It's a standard standalone setup but using a docker image based on your docker image 3.0.22 and running in AWS ECS.

The server is on AWS. I can reach it from the webserver (AWS too). In fact, I have another piece code in the webserver that doesn't use orientjs and connects directly to port 2480. That submits queries successfully.
I can submit queries to the OrientDB server on AWS fr

[2019-08-22 16:02] wolf4ood commented on #389
@hsr-ci

if the call `client.sessions()` works first time means that the connection is available otherwise an immediate error would arise. If the next `pool.acquire()` fails could mean that there is something wrong going on at network level.
So if you point from your laptop the remote AWS ODB instance does it work?

Thanks

[2019-08-22 16:15] hsr-ci commented on #389
Yes, it works if I point my laptop to AWS ODB instance.
Laptop `--2480-->` AWS ODB = works
Laptop `--2424-->` AWS ODB = works
AWS `--2480-->` AWS ODB = works
AWS `--2424-->` AWS ODB = _doesn't work_

[2019-08-22 23:44] hsr-ci commented on #389
Since you mentioned "there is something wrong going on at network level", could it be the AWS ELB isn't fond of the binary protocol being used here? I'm using a Network/TCP ELB, so I doubt that could be an issue, but that's the only thing being bypassed when I connect to AWS ODB from my laptop.

[2019-08-23 08:42] wolf4ood commented on #389
Hi @hsr-ci

you are using load balancer at TCP level between OrientJS and OrientDB?

[2019-08-23 09:32] wolf4ood commented on #387
👍

[2019-08-23 09:32] #387 closed, assigned to wolf4ood

[2019-08-23 09:33] hsr-ci commented on #389
Yes, @wolf4ood , it's at TCP level.

[2019-08-23 09:34] wolf4ood commented on #389
@hsr-ci

that could explain the behaviour. Could you try to disable just for testing?

Thanks

[2019-09-05 06:46] #95 closed

[2019-09-13 10:45] hsr-ci commented on #389
Hi @wolf4ood ,

Yes, the load balancer was incompatible with the pooling mechanism/protocol.

So I had to resort to using an individual session per request instead of using a pooled session, and it works with the same AWS/Load Balancer setup. Thanks for your help.

[code]
[code]

[2019-09-17 11:26] saeedtabrizi commented on #184
Hi @lvca , @wolf4ood
I have updated typescript definition file to the latest new API changes  in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38389 .

[2019-09-21 02:59] AaronTrazona opened #391 "Connection Pooling Retry"
Hi,

I just want to confirm if the connection pooling will have a connection retry if one of the distributed servers went down.

Scenario:
I have 3 servers: server1, server2, server3.
I stopped 2 servers(server1 and server2), the connection pool still working since server3 still up.
So, I started those 2 servers are down. All servers are up now. I assume all connection pool should be up for 3 serv

[2019-09-23 14:22] wolf4ood commented on #391
Hi @AaronTrazona

yes it should. Work , OrientJS should get the notification of the network topologies from the server.

Seems that the notification of server 1 and 2 going online is missing and orientjs still think that the  servers are all offline.
Let me double check

Thanks

[2019-09-25 09:14] #202 closed

[2019-09-25 20:51] #373 closed, assigned to wolf4ood

[2019-09-27 08:37] adriancoca opened #392 "Maximum call stack size exceeded when using select *"
If the next query is used i get the error from image

select  *,
    $task.key as status,
    $task.@rid as subtask,
    $contact as contact,
    $agent.username as agent,
    in('IS_A')[0].tojson() as task from Offer
     LET $task= last(in('IS_A').in('PART_OF')),
      $contact=out('FOR')[0],
       $agent=$task.in('WORKS_ON')[0]

![image](https://user-images.githubusercontent.com/7643185/657548

[2019-09-27 08:41] wolf4ood commented on #392
Hi @adriancoca

which version of OrientJS  are you using?

Do you use the new APIs?

Thanks

[2019-09-27 09:07] adriancoca commented on #392
Hi, I am using "orientjs": "2.2.6", I also tried with "3.0.6".
Nodejs version 12.9.0 and Orient db 3.0.23.
LE: Orient db 3.0.23

LEE: I was using the old api. Switching to the new one solved my problem.
Thanks a lot.

[2019-09-27 10:47] #392 closed, assigned to nobody

[2019-09-30 07:16] wolf4ood commented on #389
:+1:

[2019-09-30 07:16] #389 closed, assigned to nobody

[2019-10-01 09:00] alexmm11 opened #393 "Query lucene fulltext index"
Hi, the [lucene fulltext docs](http://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html#searchclass) explains how to query a field using search_class in the form:
[code]
For instance:
[code]
So i'm wondering if is possible do the query using ":" to include the string parameter value in the params object of the query, just like:
[code]
 Instead of using something like:
[code]
I tried like this

[2019-10-04 15:59] nmeeda commented on #295
why did we close this item? what is the solution for this, we are facing same issue, I tried creating connection each request and increased pool size  also tried usertoken, nothing worked, please let me know the solution.

[2019-10-04 16:06] wolf4ood commented on #295
Hi @nmeeda which version of orientjs and orientdb are you using?

Thanks

[2019-10-09 09:54] tafenton opened #394 "Live query continues to run after unsubscribe"
Hi,
I can create live queries that behave as expected. When I try to unsubscribe, I get:

`"{unsubscribed:277737044,unsubscribe:true,token:277737044}"`

However, when the next update occurs, the live query triggers anyway. At the moment the only way I have to clear a live query is to restart the database.

My code is in Clojure, adapted from your Java API documentation:

`(.execute (OCommandSQL. (

[2019-10-09 10:02] luigidellaquila commented on #394
Hi @tafenton

If you are using v 3.0 I strongly suggest you to use the new LiveQuery API
[code]

I'll try to check the legacy one, but I'm not sure I'll be able to fix it in short time

Thanks

Luigi

[2019-10-09 10:54] tafenton commented on #394
Hi Luigi,
Thanks for your extremely quick response!

I now see that the new API is shown in the Reference section of the docs, but the [tutorial](https://orientdb.org/docs/3.1.x/java/Live-Query-Java.html) in the 3.1 docs still shows the old version.

The new API works perfectly - thank you for your help.

[2019-10-17 08:22] tomscreen opened #395 "Create Edge query command hangs with lightweight edges"
Using version 3.0.7 of orientjs library to interact with version 3.0.23 of OrientDB.

Problem manifests as a "hung promise" when executing a 'create edge' query on a session against the database. e.g.... (code for illustration)

`let query = CREATE EDGE rel FROM #57:0 to #49:0
return session.command(query).all().then(function(res) {
   ...
})`

The code never gets into the next 'then' function.

P

[2019-10-18 11:58] #394 closed, assigned to luigidellaquila

[2019-10-18 12:01] wolf4ood commented on #393
Hi @alexmm11

i think they cannot work as today. the searchClass takes a string and it does not apply parameters.

So this one will be the query passed to lucene `"+name: :val1 *  +description: :val2"`

Let me check if we can find a way

Thanks

[2019-10-18 12:03] wolf4ood commented on #393
Probably for now the best way is to do

[code]
and use only 1 param query with `+name:${val1}*  +description:${val2}` the lucene query content

[2019-10-18 13:43] wolf4ood commented on #395
Hi @tomscreen

i've managed to reproduce it and identify the issue.

I'm working on a fix. Thanks

[2019-10-25 17:19] grimace opened #396 "how to coerce string to RecordID"
I have a Vertex ( Data ) that has a tags field ( LINKLIST ) which I'm storing as recordIDs - in string format like this:
[code]
When I update the Data Vertex I get an exception:

[code]

I really don't want to expand and replace the Vertices  before saving the record to the DB.  Is there a way to coerce these to @RIDs?

[2019-10-29 14:07] wolf4ood commented on #396
Hi @grimace

how are you updating the vertex ?

Thanks

[2019-10-29 16:06] grimace commented on #396
I'm using orientjs:
in this, article contains a number of fields, there are 2 linklist fields:

        content - has a list of RIDs for other Articles
        tags       - has a list of RIDs for Tags

[code]

[2019-10-30 08:51] wolf4ood commented on #395
Hi @tomscreen

i've just pushed a fix. It will be available in the next release of OrientJS

Thanks

[2019-10-30 08:51] #395 closed, assigned to wolf4ood

[2019-11-01 18:40] grimace opened #397 "can't create or update record with key containing "-""
I have 'Event' records with fields like this ( x-cost-type ).  I can not create/update any records and include that field in the update.

I can create/update a Vertex like this (note underscore instead of dash):

[code]

but not like this:

[code]

Is there a way around this? Or do I just not understand some limitation of ODB? I can create these fields in studio ( and via Java ) but not orientjs.

[2019-11-02 11:42] saeedtabrizi opened #400 "[BUG] Sequence get call raising error"
When we call the sequence methods an error occured :
`'Cannot execute query on non idempotent statement: CREATE SEQUENCE ....`
This is a bug when we use `ODatabaseSession`.

[2019-11-04 08:23] #400 closed, assigned to wolf4ood

[2019-11-07 22:06] Davenporten opened #402 "OrientJS looks for protocol28, but only protocol33 present."
I'm using orientjs 3.0.8 to connect with an instance of a orientdb 3.0.14. When I try to run my react gui which imports orientjs I get the error

Module not found: ./protocol28 in /mnt/c/Users/607959/Documents/SI_Project/gui_demo/node_modules/orientjs/lib/transport/binary

Looking into the code I see where connection.js is asking for protocol28, but in node_modules there is only protocol33. I'm no

[2019-11-08 13:52] Davenporten opened #405 "Dependency issues and errors when installing from npm."
I installed orientjs via npm and now have orientjs@3.0.8 on my project. In my code I have an import statement like

`import OrientDB from 'orientjs';`

Just to note, I'm running this on the WSL of my windows machine. I'm trying to use orientjs in a react app and when I start the app I get the following:

Error in ./~/orientjs/lib/transport/binary/connection.js
Module not found: ./protocol28 in ...

[2019-11-08 13:54] Davenporten commented on #402
This issue did not give all the information, sorry for my mistake. Please see #405

[2019-11-08 13:54] #402 closed, assigned to nobody

[2019-11-08 23:01] grimace opened #406 "can I use OrientDBClient to load a record directly"
I'm looking for something like
```load(rid)```
as in java or
```db.record.get(rid)```

what options are there to load a record directly?

[2019-11-09 00:00] grimace commented on #406
as it turns out:
```record.get(rid)```
is the call to make

[2019-11-09 00:00] #406 closed, assigned to nobody

[2019-11-11 08:36] wolf4ood commented on #405
Hi @Davenporten

Are you using OrientJS in Electron? or a normal Web app?

Thanks

[2019-11-12 13:13] Davenporten commented on #405
Hi @wolf4ood thanks for taking a look at this.

It was running in just a normal web app. And over the weekend I installed orientjs@2.2.11 via npm, moved my code to a pure node instance, and things seem to be working. I don't know why these protocol dirs were missing and these other errors were occurring though when installing orientjs@latest.

Thanks!

[2019-11-15 16:28] amirrezamahyari opened #407 "slow performance in order by"
Hi
i have a class with 2m records
when i run query in orientdb studio , query runs in 0.044 sec

`SELECT * FROM Job WHERE status='waiting' AND queue=#27:0 AND queue.status='resume' ORDER BY  timestamp asc,  priority asc LIMIT 3`

but same query in orientjs takes about 20 sec

[code]

when i remove `.order(["timestamp ASC", " priority ASC"])` line its better and runs in 3sec.
all fields i used in q

[2019-11-15 17:20] saeedtabrizi commented on #407
Hi @amirrezamahyari
As i see the two different query appears here .
First of all you must be implement same query in **orientjs** to compare results .
I guess this is not related to orientjs , but you must improve your query plan for better result .

[2019-11-15 17:35] amirrezamahyari commented on #407
hi @saeedtabrizi
i also test` db.query('SELECT * FROM Job WHERE status="waiting" AND queue=#27:0 AND queue.status="resume" ORDER BY timestamp asc, priority asc LIMIT 3')`
but same result its take time about 20 sec ...
in orientdb studio it take  0.044 sec

[2019-11-18 09:16] wolf4ood commented on #407
Hi @amirrezamahyari

which API are you using of OrientJS.

This

http://orientdb.com/docs/3.0.x/orientjs/OrientJS-Legacy.html

Or this

http://orientdb.com/docs/3.0.x/orientjs/OrientJS.html

Thanks

[2019-11-18 11:35] smehdi21 opened #408 "Filter on undefind value don't return vertices"
hello,
orientjs version: 3.0.8
orientdb version: 3.0.10

Filter on **null Property != "String"**  not work using orientJs but work fine using the orientdb studio

Exemple 1 :

        const result1 = await odb.query("select from V where nullValue != 'true' ");
        console.log(result1)

result :

        Array(0) []

Exemple 2 :

        const result2 = await odb.query("select from V where  nul

[2019-11-18 11:40] wolf4ood commented on #408
Hi @smehdi21

which API of OrientJS are you using?

This one
http://orientdb.com/docs/3.0.x/orientjs/OrientJS-Legacy.html

or

http://orientdb.com/docs/3.0.x/orientjs/OrientJS.html

Thanks

[2019-11-18 12:38] amirrezamahyari commented on #407
Hi @wolf4ood
i use legacy

[2019-11-18 13:09] wolf4ood commented on #407
Hi @amirrezamahyari

that should explains the difference with Studio. Studio and OrientJS 3.0 with new API uses the new parser/executor in OrientDB 3.0.x while the legacy api for backward compatibility uses the old parser/executor.

Try the new OrientJS API, and let me know if it's the case.

Thanks

[2019-11-18 14:11] smehdi21 commented on #408
Hi,
We use the old API one.
migration is planned but not done yet.
Thanks

[2019-11-20 15:15] alancnet commented on #209
@wolf4ood Re-up on this. This has been a huge headache for me, as I am using OrientDB to store JSON documents from Office 365 Graph APIs, and some of their fields are reserved keywords.

[2019-11-20 19:29] kkaustubhvyas opened #409 "No enum constant com.orientechnologies.orient.core.metadata.schema.OType.NUMBER"
OrientDB Version: 3.0.25
Java Version: 1.8.0_232
OS: Ubuntu 18.04.3
orientjs version ^2.2.1
Using OrientDB docker image latest

Expected behavior
Migrations are supposed to run smoothly

Actual behavior
Database and tables get created but fails at some step giving following error:

`{ OrientDB.RequestError: No enum constant com.orientechnologies.orient.core.metadata.schema.OType.NUMBER at child.Op

[2019-11-20 20:23] kkaustubhvyas commented on #409
sorry, supposed to post in ORM repository

[2019-11-20 20:23] #409 closed, assigned to nobody

[2019-11-21 07:04] rohitpatil7892 opened #410 "How to pass the clusters count when creating a class?"
I want to pass a number of the cluster when I am creating a new class.

`Let clusterNO = 10`  Custom clusters count
`Query = CRETAE CLASS className CLUSTERS ${clusterNO} `
 How to manage this query in OreintJS create function
`Instance.DB.create(className) `How to pass the cluster count for creating a clusters of that class?

Create function of OreintJS support to set default **CLUSTER** not for c

[2019-11-21 09:48] rohitpatil7892 opened #411 "How to pass parallel parameter in executes long running select query's parallelly"
I want to execute a long-running query for select data
this query holds the database waiting for a response and application is going to wait for the state
I want to execute that query in parallelly so need to pass **PARALLEL**  in select query

OrientJS **select function** not supported that parameter is any other way to perform this query?
`SELECT [ <Projections> ] [ FROM <Target> [ LET <Assignme

[2019-11-21 09:51] wolf4ood commented on #410
Hi @rohitpatil7892

it is not supported yet in the class API.
You have to create by hand with SQL statement if you want to change the number of clusters.

I will mark this as enhancement, we may want to support this in the future

Thanks

[2019-11-21 14:47] wolf4ood commented on #411
Hi @rohitpatil7892

Parallel is not supported yet in the query builder. It should be trivial to add. I will mark this as enhancement for the next releases.

It will be something like this

[code]

Thanks

[2019-11-22 17:03] hethcox opened #412 "npm issue with parse-function"
I just built a new app with the latest orientjs. When I started the app I got this error:
<blah blah blah>/node_modules/orientjs/lib/db/db.js:16
  parseFn = require("parse-function")();

I tracked this down to an incompatibility between orientjs and the latest parse-function (the version number in the package file is 5.5.0).  When I backed parse-function down to version 5.4.4 it fixed this issue.

[2019-11-23 13:18] amirrezamahyari commented on #407
@wolf4ood after move to new api everything is fine , thanks

[2019-11-27 13:52] Aeonrush commented on #412
Hi
[code]
Fixes bug for me

[2019-11-29 19:46] terrygreen0606 opened #413 "node-gyp rebuild error on windows and can not find module 'arrify' on ubuntu"
I installed orientjs with npm on windows and ubuntu.

When I execute the file that requires orientjs, it gives node-gyp rebuild error on windows and can not find module 'arrify' on ubuntu.

- On Windows
 I tried hundreds of times with binding.gyp and binding.cc files.

- On Ubuntu
 When I install 'arrify', it gives another error of 'parse-function'.

Could you help me fix these?

These are the err

[2019-11-30 15:00] grimace opened #414 "logger error with 3.0.8"
I've been running 3.0.7 with no issues.  When I install 3.0.8 I get this:
[code]

same code for both versions

[2019-12-01 11:58] amirrezamahyari opened #415 "Return Array in Transaction"
Hi

when i run this query i get error :
[code]

 error in terminal:

[code]

and error in odb console is :

[code]

**when i  use .return('$q1') or .return('$q2')  everything is fine but in array i get error
i use pool connection ( i think Previously when i use legacy version , didnt get error and i got results)**

**orientjs: 3.0.8
orientdb:3.0.24**

[2019-12-01 12:30] amirrezamahyari commented on #415
same issue with Batch Scripts

[code]

[2019-12-01 12:46] amirrezamahyari commented on #415
ok , i tested on legacy and now i can confirm that works on it

[2019-12-01 12:47] #407 closed, assigned to wolf4ood

[2019-12-03 05:23] jymcheong commented on #413
Encountered the same problem. Went into my VM that had a functional version of my software & checked the node_modules directory, I noticed something different.

# Root Cause
Changes in parse-function module broke orientjs

Working version: `parse-function@5.4.4`

Failed version: `parse-function@5.5.0`

# Resolution

Install `parse-function@5.4.4`

I tested at my end, works fine now.

![Screenshot

[2019-12-04 13:01] terrygreen0606 commented on #413
Thank you very much for your help, jymcheong. It's working.

[2019-12-04 13:01] terrygreen0606 commented on #413
Do I have to install arrify, too? I installed that first and then installed parse-function@5.4.4.

[2019-12-05 04:39] jymcheong commented on #413
Parse-function@5.4.4 likely does not depend on arrify. It is the newer 5.5.0 that needs it. But the way it is used in orientJS seems to be broken even after installing arrify. So I just roll back to older parse-function since I not sure what to change at orientJS to fix the issue.

[2019-12-05 13:47] alancnet commented on #412
@wolf4ood Please address this issue. Consider locking parse-function to version 5.4.4, which I have done in PR #416.

[2019-12-06 07:10] shrawankher opened #417 "getting error while firing indexing based query from session object"
Server Configuration are as follow:
OrientDB Docker image tag : **3.0.1**
Type of Indexing used is **FULLTEXT ENGINE LUCENE**

Getting Error
**OrientDB.RequestError: java.lang.String cannot be cast to com.orientechnologies.orient.core.index.OCompositeKey**

- I am using Client API and fetched pool out of It.
- Then fetched one session out of it.
- On firing indexed query from **session.query** met

[2019-12-06 08:08] wolf4ood commented on #414
Hi @grimace

strange. Do you have this at startup of your app?

Thanks

[2019-12-06 08:26] wolf4ood commented on #415
Hi @amirrezamahyari

ok thanks. Most probably it's an issue on the server with the new protocol.
Let me check

[2019-12-06 08:26] wolf4ood commented on #417
Hi @shrawankher
do you have a script to reproduce this issue?

Thanks

[2019-12-06 08:40] shrawankher commented on #417
Hi @wolf4ood,
Thank you so much for reply

`const DBClient = Orientjs.OrientDBClient;`
`const clientObj = await DBClient.connect(dbConfig);`
`const pool = await client.sessions(dbConfig);`
`let session = await pool.acquire();`
`const results = await session.query(select from INDEX:XYZ where KEY="PQR").all();`

[2019-12-06 09:43] shrawankher commented on #417
Hi @wolf4ood
Getting similar error when query fired from orient DB studio and console

[2019-12-06 16:17] grimace commented on #414
I'm fairly sure it was at startup.  but I backed off to 3.0.7 and so am not seeing the error.

[2019-12-06 19:34] Nopzen commented on #413
I can confirm this issue aswell, @jymcheong 's fix of installing 5.4.4 seems to be working .
But would be nice to be fixed resolved from maintainers :)

[2019-12-07 15:55] terrygreen0606 commented on #413
That's right. I removed arrify and installed just parse-function@5.4.4. And it works without any problems. I don't know why it doesn't go on with the new version of parse-function.

I found another way to use the new version of parse-function with orientjs.
Navigate to node_modules/orientjs/lib/db/db.js and then find require('parse-function')().
Here, I removed the last brackets so that it looks l

[2019-12-09 20:46] Aeonrush opened #418 "session.index.create ignores ifnotexist"
Hi
OrientDB Docker image tag: 3.0.25
Orientjs: 3.0.8

Example
[code]

I'm getting an Error
[code]

[2019-12-10 09:48] vikram-shityalkar commented on #417
Hi @wolf4ood
The script to reproduce this issue

CREATE CLASS Person EXTENDS V
CREATE PROPERTY Person.name STRING
CREATE PROPERTY Person.height Integer
CREATE PROPERTY Person.weight Integer
CREATE INDEX Person.name ON Person(name) FULLTEXT ENGINE LUCENE
SELECT FROM Person WHERE name LUCENE "test*" // works
SELECT FROM INDEX:Person.name where KEY="PQR" // fails with error in console/studio/orientjs

[2019-12-10 11:29] Aeonrush opened #420 "session.index.create fails with engine"
Hi
OrientDB Docker image tag: 3.0.25
Orientjs: 3.0.8

Maybe I doing something wrong. I get session from sessions pool

Example
[code]
Throws an Error
[code]

```idx/index.js:207:35``` has
[code]

Thanks
Best regards

[2019-12-11 09:45] wolf4ood commented on #412
Hi @alancnet

thanks i'm merging that PR

[2019-12-11 09:46] #412 closed, assigned to wolf4ood

[2019-12-11 10:20] #418 closed, assigned to wolf4ood

[2019-12-11 10:20] #420 closed, assigned to wolf4ood

[2019-12-11 10:36] wolf4ood commented on #414
@grimace

strange i'm not able to see the root cause of this and i'm not able to reproduce this.

Do you have some tips to reproduce this?

Thanks

[2019-12-11 10:41] wolf4ood commented on #413
Hi Folks

i've merged this PR https://github.com/orientechnologies/orientjs/pull/416

which fixed this. I will publish a new version most likely today

Thanks

[2019-12-11 13:57] grimace commented on #414
I have a running app.js ( with 3.07 ) and I switch to 3.08 and run npm install.

my code looks something like this, tho there is a bit more to it:

[code]

It's pretty weird IMHO.  maybe to do with pooling? I'm happy to try any suggestions.

[2019-12-12 20:08] Davenporten opened #422 "How to interpret query results."
I put this on Stack Overflow, but figured it might be better to ask here:

I'm creating an interactive graph in my web page by querying my OrientDB instance using Orientjs then pulling out the needed data from the query and passing it to cytoscape.js. I'm able to get data down from the OrientDB instance and graph it, but I realized that the result of running a query in OrientDB Studio is different

[2019-12-13 09:22] luigidellaquila commented on #422
Hi @Davenporten

The difference could be due to the fact that Studio by default adds a `LIMIT 20` to the queries (where a limit is not explicitly set in the query).

Thanks

Luigi

[2019-12-13 13:09] Davenporten commented on #422
Thanks @luigidellaquila for getting back to me.

I didn't realize there was that implicit limit, but that definitely makes sense in accounting for the discrepancy. Is my interpretation of the objects correct then? Each object being a node and the in/out_links being the edges? How should the in/out_links be interpreted? It seems like it is not as simple as an in/out_link goes to another node in the

[2019-12-13 14:26] luigidellaquila commented on #422
Hi @Davenporten

That's correct, each record is a vertex and the in/out are pointers to the edges, that are documents as well

Thanks

Luigi

[2019-12-13 14:38] Davenporten commented on #422
So would I know if two vertices are connected by looking at the in_links of one and the out_links of another? Meaning, if there is the same ID in the in_link of one vertex and the out_link of another vertex, those two vertices are connected by that edge?

Again, thanks so much for your help!

[2019-12-13 14:40] luigidellaquila commented on #422
Exactly ;-) `out` are outgoing edges, `in` are incoming edges, the same RID means the same edge

[2019-12-13 14:50] Davenporten commented on #422
Your help has been much appreciated @luigidellaquila, really thanks!

[2019-12-13 14:50] #422 closed, assigned to nobody

[2019-12-17 09:44] wolf4ood commented on #417
Hi @vikram-shityalkar @shrawankher

equals operator cannot be applied in lucene indexes.

You should use lucene search functions

https://orientdb.com/docs/3.0.x/indexing/Full-Text-Index.html#searchindex

for example

[code]

let me know if that helps

Thanks

[2019-12-17 12:06] luigidellaquila commented on #415
Hi @amirrezamahyari

I just pushed a fix that solves the problem. The fix will be released with v 3.0.27

Thanks

Luigi

[2019-12-18 09:38] vikram-shityalkar commented on #417
@wolf4ood Thank you for the reply.

The SEARCH_INDEX function works with the mentioned scenario but it will not work with the following.

Create a new class that extends Person.
[code]
Check the employee class scheme in studio, you will see Person.name index is present. Insert some records in Employee class. Use the following query:
[code]

The above query throws error:
[code]

If I create an addi

[2019-12-18 10:18] wolf4ood commented on #417
Hi @shrawankher

that's because the engine check if the index is declared on the class in this case

[code]

Why do you want to use manually the index name?

Thanks

[2019-12-18 10:47] vikram-shityalkar commented on #417
Hi @wolf4ood,

I have vertex which has some default properties that I want to inherit in extended vertex.

In the current example, the Employee extends Person, so Employee gets all properties from Person, also indexes.  I am creating vertexes on demand, I am thinking to use the vertex's capability to use Index defined at the base. i.e. Using the same index name for newly extended vertex, no need t

[2019-12-18 10:58] wolf4ood commented on #417
Hi @vikram-shityalkar

that's ok, in your case you can use the `SEARCH_CLASS` function if you have only 1 index or `SEARCH_FIELDS `

example

[code]
and it should work with polymorphic class/indexes.

I guess the `SEARCH_INDEX` api does not

Let me know if this helps

Thanks

[2019-12-18 11:39] vikram-shityalkar commented on #417
Hi @wolf4ood,

Thank you, this does help. SEARCH_FIELDS function is working, I have multiple indexes on vertex. I will try to integrate into the main codebase and will perform some unit test cases. Thanks again.

[2020-01-04 17:50] heli-os opened #423 "How can i fix Denial of Service of "mem" ?"
Low            Denial of Service
Package        mem
Patched in     >=4.0.0
Dependency of  orientjs
Path           orientjs > yargs > os-locale > mem
More info      https://npmjs.com/advisories/1084

I use the following software version.
node.js : 12.14.0
npm : 6.13.4

[2020-01-15 17:29] hethcox opened #424 "In/Out reversed in Graph Traverse"
I'm traversing a graph and it appears that the in and out are reversed on edges.
[code]
In my DB I have an edge from (vertices) 37:0 to 38:0. But in the query result these are reversed.
[code]

Am I using this incorrectly or is it a bug?

[2020-01-15 21:28] hethcox commented on #424
Please disregard. I'm not sure what's what. These two screenshots from Orient Studio seem to contradict each other.  I guess 'out' means the vertex that this edge comes from.

<img width="1144" alt="Screen Shot 2020-01-15 at 4 29 14 PM" src="https://user-images.githubusercontent.com/2358344/72473212-33262400-37b4-11ea-9c39-a87cd0053c57.png">

<img width="1185" alt="Screen Shot 2020-01-15 at 4 25 5

[2020-01-16 09:34] wolf4ood commented on #424
Hi @hethcox

for historical reason they are called in/out which are

[code]

which basically reflect the traversal step from `Edges` eg.

[code]

Let me know if this helps

Thanks

[2020-01-16 14:56] hethcox commented on #424
Thanks for the response. As longs as it's consistent I can work with it.

[2020-01-16 14:56] #424 closed, assigned to wolf4ood

[2020-01-25 15:51] FluffyLlama commented on #423
This issue was fixed in the following way.
1. npm update orientjs
2. npm-D install orientjs

[2020-01-25 15:51] #423 closed, assigned to nobody

[2020-01-30 16:00] rohitpatil7892 opened #425 "Query execution time difference with or without indexing"
I have 2 queries for traversing records from DB with indexing and without indexing.
I executed both queries but the execution time is the same for both.
Person table having **50000** records with **indexing on ID** property.
[code]

**1. Can both query use indexing to traverse?
2. Which one will execute faster and why?**

[2020-02-07 14:25] rohitpatil7892 opened #426 "Alter property query return java.lang.NullPointerException"
I am updating the new orientdb version v3.0.15 and try to alter object class property using following query
### `ALTER PROPERTY object.propertyName TYPE LINK`
but it throws the exception like java.lang.NullPointerException
This query is working fine in an older version that is v3.0.1

In another case, this query is working fine is this bug or new update in orientdb
### `ALTER PROPERTY object.prope

[2020-02-12 08:57] luigidellaquila commented on #426
Hi @rohitpatil7892

In general you are not allowed to change property types, but you should have a much more explicit message (not an exception).
Can you please post a SQL script to reproduce the problem?

Thanks

Luigi

[2020-02-12 09:18] wolf4ood commented on #425
Hi @rohitpatil7892

can you provide the explain of those queries?

Thanks

[2020-02-21 16:09] shrawankher opened #427 "Drop method of Class "Cannot read property 'pageSize' of undefined""
Using Database version **3.0.28**
Using OrientJS API version **3.0.9**
Using the class API method to drop the Class is throwing error as followed

On using method **classObject.drop(CLASSNAME)**
Error thrown is as followed
"Cannot read property 'pageSize' of undefined"
There is an issue with exec called within the drop method.
On further handling, the drop method promise break issue was seen.

[2020-02-24 09:21] #427 closed, assigned to wolf4ood

[2020-02-24 09:21] wolf4ood commented on #427
Hi @shrawankher

thanks for reporting this. I've just pushed a fix. it will be available in the next version of OrientJS 3.,0.10

Thanks

[2020-02-26 12:18] dargolith commented on #397
We also have this problem using orientjs. Possible in studio and apparently also using the java api/driver. How can we get around it?

[2020-02-26 12:22] wolf4ood commented on #397
Hi @dargolith

do you have an example of this failing?
Which api are you using?

Thanks

[2020-02-26 12:28] wolf4ood commented on #397
@dargolith

if you are manually writing the query you should use backtick to escape reserved character

`` `x-men-apocalypse` ``

[2020-02-28 09:49] VikramShityalkar commented on #427
@wolf4ood When you are planning to release 3.0.10? We are in process of upgrading OrientDB as well as OrientJS. The timeline would be helpful to plan the activities.

[2020-02-28 09:53] VikramShityalkar commented on #417
@wolf4ood you can close this issue. Thank you for help.

[2020-02-28 09:54] wolf4ood commented on #417
@vikram-shityalkar

Thanks

[2020-02-28 09:54] #417 closed, assigned to wolf4ood

[2020-02-28 10:00] wolf4ood commented on #427
Hi @VikramShityalkar

just released.

Thanks

[2020-03-02 17:20] isaactzab opened #428 "DoS vulnerability in dependency"
The package orientjs > yargs > os-locale > mem has a DoS vulnerability.

From npm audit
[code]

[2020-03-02 17:43] isaactzab commented on #428
Recomendation: Update `"yargs": "^11.0.0"`  to `"yargs": "^13.3.0"`

[2020-03-03 07:35] VikramShityalkar commented on #425
Hi @wolf4ood

We went through [SQL Optimization](https://orientdb.com/docs/last/SQL-Query-Optimization.html) again. By looking at explain, we found that it is using index in # 1 query. Please let me know if you have any other documentation that we can refer for optimization.

This issue can be closed.

[2020-03-03 07:37] VikramShityalkar commented on #425
There is following comment available on page:

[2020-03-03 07:40] VikramShityalkar commented on #427
@wolf4ood Thank You.

[2020-03-09 13:17] dargolith commented on #397
@wolf4ood

Sorry for replying so late.

This is what I do:

[code]

If properties contain keys with "-" in their name, this throws:

[code]

[2020-03-09 14:05] grimace commented on #397
I ran into this because I was importing events from some calendar and those events had dashes ('-') in the properties.   I eventually just changed the import code to replaceAll dashes to underscores.  Since it was not core to my task, I just moved on, but it's no longer an issue for me.

[2020-03-17 02:06] Dr-Ing commented on #343
I have the same question. Any luck finding an answer?

[2020-03-19 09:30] wolf4ood commented on #343
Hi @petervavro @Dr-Ing

batch is different from runt in TX. You can either run a script like above which you can decide to run in a single batch tx with `begin` and `commit`.

Or you can use `runtInTransaction` API, which will run all the command/query in a transaction.(begin/commit/retry) with retry in caso fo MVCC exception. Like this example

[code]

Let me know if this helps

[2020-03-26 19:38] grimace commented on #414
this happens with every version after 3.0.07.  Any ideas?
it works if I comment out every reference to this.logger in the project.

[2020-03-26 19:47] grimace commented on #414
it works if I comment out every reference to this.logger in the project.

[2020-03-26 19:47] #414 closed, assigned to wolf4ood

[2020-03-28 16:05] grimace opened #429 "can't run examples"
client = new OrientDB.Client(config);
           ^
TypeError: OrientDB.Client is not a constructor

steps to reproduce:
[code]
also, the example code does not work if I build a new project
steps:
[code]
my goal is to determine why my pooling code blows up with everything after 3.0.7, but I can't get the examples to work.

[2020-03-30 08:28] wolf4ood commented on #429
Hi @grimace

i think the examples are outdated

See here

https://github.com/orientechnologies/orientjs#connect-to-orientdb

The  client is `OrientDBClient`. I'm updating the examples

Thanks

[2020-03-30 08:32] wolf4ood commented on #429
For your pool problem do you have an example project where it blows up?

Thanks

[2020-03-30 12:30] grimace commented on #429
I was able to find my problem.  I was using the pool config where I should have been using the client config.

[code]

although this worked for versions 3.0.7 and before, it did not after.  I believe the 'logger' definition in the pool configuration was causing the error.  I've done some rewrites on the demo tests.   Would you like a pull request?

[2020-03-30 12:30] #429 closed, assigned to wolf4ood

[2020-03-30 12:38] wolf4ood commented on #429
Hi @grimace

if you have the time for a PR would be cool :)

Thanks

[2020-04-08 10:48] Nilesh-Kale-2212 opened #430 "Error on conversion of date '2020-03-17T07:54:15.214Z' using the format: yyyy-MM-dd HH:mm:ss"
I am using the Orient DB 3.0.29 and DB has the following configuration
![image](https://user-images.githubusercontent.com/51450361/78767368-21fe4500-79a8-11ea-8494-8cd928a46c92.png)

While getting the record from the database, the database throws an error.

[code]
Where as the returning objects date property are stored within given format like "2020-04-08 03:40:24"

[2020-04-08 10:48] Nilesh-Kale-2212 opened #431 "Throwing error "Unsupported field type 95 for field undefined""
We are using the OrientDB of version 3.0.29 and OrientJS of version 3.0.10.
When I am trying to get a record of the object available into the database, the database throwing an error that "**Unsupported field type 95 for field undefined**"

The logs are displaying as follows
[code]

We have check our database scheme using the following query but into classes, we are not able to find the "type: 95"

[2020-04-08 11:18] wolf4ood commented on #431
Hi @Nilesh-Kale-2212

this seems like a projection. Which kind of query did you use?

Were embededd object/map involved?

Are you able to identify the record which give this exception?

Thanks

[2020-04-08 13:29] Nilesh-Kale-2212 commented on #431
@wolf4ood

Yes, there are some embedded objects in the projection.
I am getting stuck because other objects with the same embedded values return the results but one object throwing an error if I am getting the result for that object.

I will provide enough information about this issue as earlier.

Thanks

[2020-04-08 13:36] wolf4ood commented on #431
@Nilesh-Kale-2212

Thanks let me know. I was not able to reproduce this.

IF you are able to provide a reproducer or a record that give this exception, i will fix it asap

Thanks

[2020-04-14 07:01] wolf4ood commented on #431
Hi @Nilesh-Kale-2212

any luck with the reproducer?

Thanks

[2020-04-24 13:15] Nilesh-Kale-2212 commented on #431
@wolf4ood
I apologized for waiting for you a long time.

Previously, I was using the database with version 3.0.1 and orient JS 3.0.1.
In that, I have created some objects with string and embedded map properties. Into that the embedded map I was storing the value of version changes of name

E.g.
Class Car with Properties Name (String), Version (String) and Versioning (Embedded Map)
When I update th

[2020-04-27 07:04] wolf4ood commented on #431
Hi @Nilesh-Kale-2212

let me check.

Thanks

[2020-04-27 12:22] wolf4ood commented on #431
Hi @Nilesh-Kale-2212

which type is Versioning. Is i declared on the schema?

Thanks

[2020-04-27 12:39] #431 closed, assigned to wolf4ood

[2020-04-27 12:50] wolf4ood commented on #431
Hi @Nilesh-Kale-2212

good news. It should be fixed. I've just release 3.0.11 version of OrientJS.

Could you please confirm that it's fixed?

Thanks

[2020-04-27 13:59] Nilesh-Kale-2212 commented on #431
@wolf4ood

Thanks for the update.
I will test the resolution and let you know about this.

[2020-04-27 14:41] Nilesh-Kale-2212 commented on #431
@wolf4ood

We have updated the orient JS version and checked for the resolution. But unfortunately, we found that the problem is not solved.

Versioning type is EMBEDDEDMAP.

Is this the problem of the database migration from 3.0.1 to 3.0.29.
Because the old database (3.0.9) have the object with versioning like

[code]

[2020-04-27 14:46] wolf4ood commented on #431
Hi @Nilesh-Kale-2212

with 3.0.11 right?

in case do you have a simple script SQL to reproduce this issue via nodejs?

It will help me to fix it quickly

Thanks

[2020-04-29 12:21] VikramShityalkar commented on #431
Hi @wolf4ood,
We will create one sample and post here.

[2020-05-01 06:23] Dr-Ing commented on #343
great. Works like a charm. 👍

It would be really useful if such a nice example is included in the documentation.
The multiple use of the `tx` in the try block is not intuitive, and the params structure `first[0]["@rid"]` is also not obvious.
Also one example with `UPDATE UPSERT RETURN` will be a useful addition to the documentation as the returned object is `[{count:xx}]` by default.
thanks!

[2020-05-07 05:38] adriancoca opened #432 "Inconsistent behaviour on update between legacy and current driver"
Hello, I have the next query:
"UPDATE Delivery SET articles[codintern="SNT014M-610"].loaded=5"
and Vertex Delivery is like
[code]

Using the legacy version the update is done right.
http://orientdb.com/docs/3.0.x/orientjs/OrientJS-Server.html

[code]

But when i use current version it returns the next message but property loaded is not changed in database.
http://orientdb.com/docs/3.0.x/orientjs/O

[2020-05-07 22:29] fersm opened #433 "Connect to server with binary protocol using ssl"
Hi.

When performing connection tests using the binary protocol with and without ssl enabled using pooled sessions with OrientDBClient:

`const client = await OrientDBClient.connect({`
`host: '12.0.0.1',`
`                port: '2424' // or port: '2434' for ssl`
`            });`
`            const sessionsPool = await client.sessions({`
`                name: 'demo',`
`                username: '

[2020-05-20 06:01] mebibou opened #434 "Incorrect TypeScript def for create record"
When trying to create a record like this:
[code]
typescript will fail with an error because the expected param for `create` is a [ORecord](https://github.com/orientechnologies/orientjs/blob/develop/typescript/orientjs/orientjs.d.ts#L346) although it should just be an `Object`

[2020-05-22 21:08] adambattenburg opened #435 "Return Graph Data (Verticies and Edges)"
Apologies if this is the wrong place to ask, but I haven't been able to find documentation on this anywhere. How would I get the graph data using the Node API? As in the edges and vertices?

I had a similar issue with the REST API, but looked at the network requests in the Orient Studio to do something like below.

[code]

Is there anyway to do this from the Node API? Thank you so much, and sorry

[2020-07-09 11:23] tarunwadhwa13 opened #436 "Relative modules not found | Typescript Compatibility"
We are using Orient 3.x and trying to use OrientJS in VueJS project. The entire project uses typescript.
While trying to use OrientJS we get the following errors

These relative modules were not found:

* ./protocol19 in ./node_modules/orientjs/lib/transport/binary/connection.js
* ./protocol26 in ./node_modules/orientjs/lib/transport/binary/connection.js
* ./protocol28 in ./node_modules/orientjs/l

[2020-07-09 13:04] #425 closed, assigned to nobody

[2020-07-09 13:07] #426 closed, assigned to luigidellaquila

[2020-07-09 13:07] #410 closed, assigned to wolf4ood

[2020-07-13 09:15] bulanan commented on #357
hey @wolf4ood
It happens to me too.
any update on why it happens or a workaround?
thanks
Anat

[2020-09-17 18:44] diegonc commented on #184
Hi, @saeedtabrizi.

The typings are missing the extends relationship between ODatabaseTransaction and OTransaction located at [database-tx.js](https://github.com/orientechnologies/orientjs/blob/develop/lib/client/database/database-tx.js#L92) line 92.

Any reason why?

Thanks!

[2020-09-18 07:29] saeedtabrizi commented on #184
Hi @diegonc
Thanks for review , i just apply it .

[2020-09-18 08:27] saeedtabrizi commented on #434
Hi @mebibou
Thanks to inform , i will try to patch it asap.

[2020-09-18 15:08] saeedtabrizi opened #439 "[Typescript]: add embedded typescript feature to orientjs package ."
Hi Everyone
I open this issue to add new typescript definition for orientjs that embedded to this project .
I correct some typescript definitions problems and  embed it to orientjs package .

@wolf4ood , @lvca .

[2020-09-18 15:23] saeedtabrizi commented on #434
I just push a new definition that embedded to orientjs package and resolve some typings problems.
implemented issues in #438 , #439
@mebibou

[2020-09-18 15:29] saeedtabrizi commented on #184
Just i push a new implementation ( #438 , #439 ) of typescript definition for orientjs and embed it to orientjs package.
After this push we don't need to install seprated typing package for orientjs and there is a built in typescript support for orientjs .

[2020-09-18 15:29] #184 closed

[2020-10-05 07:34] VikramShityalkar commented on #257
Hi, @wolf4ood

Does latest version of OrientJS 3.0.11 support distributed mode in production?
The documentation (legacy) says not supported. https://orientdb.com/docs/3.0.x/orientjs/OrientJS-Legacy.html

- Vikram

[2020-11-05 13:03] #430 closed, assigned to nobody

[2020-11-05 13:04] Nilesh-Kale-2212 commented on #430
I am closing this issue as we are not able to give the property reason/query of how the issue gets occurs.

[2020-11-13 14:50] #320 closed

[2020-11-15 04:23] Emeshka opened #440 "connect ECONNREFUSED 127.0.0.1:2424"
I'm trying to connect to demodb at first time, using the example. I'm using Angular, so I installed @types/orientjs and orientjs (with no errors). Following is in the AppComponent.

    private OrientDB = this._electronService.remote.require("orientjs");
    private client = this.OrientDB.OrientDBClient;

    ngOnInit() {
        this.client.connect({
            host: "localhost",
            por

[2020-11-20 06:23] SameerChorge94 opened #441 "Orientjs Batch query issue for creating class and class properties"
**Description:**
I'm trying to run the **batch query** using orientJs client for creating the multiple classes and it's respective properties.
But getting the request **Error parsing query**  error with below query.

**Batch Query:**
[code]

If I execute the normal insert queries in batch then t works without issues refer below example
[code]

**Expected Result:**
Above batch query should create 2

[2020-11-20 06:48] VikramShityalkar commented on #411
@wolf4ood
Do we have tentative ETA of next release?

[2020-11-20 10:56] SameerChorge94 commented on #441
I was able to create the class with below batch query:
[code]

but it fails after creating the class only and throws error and does not create the properties for the class
it returns the below error:
[code]

Is there any workoround which i can use to create the multiple Class and it's properties in single batch query.

[2020-11-20 11:08] luigidellaquila commented on #441
Hi @SameerChorge94

The only problem here is that the schema cannot be updated inside a transaction, so you have to omit the BEGIN/COMMIT:

[code]

Thanks

Luigi

[2020-11-20 12:42] SameerChorge94 commented on #441
@luigidellaquila  Thank you
above solution worked for me.

[2020-11-20 12:42] #441 closed, assigned to nobody

[2020-12-09 02:57] horaciosolorio opened #442 "Cannot select the server, error in Docker after minutes of working"
Hello I need your support please , I am using "orientjs": "^3.0.11" and using latest docker container  "orientdb:3.1.5"

All in development without docker works great, but in docker container first connection work as expected and I can make queries and connect to OrientDB, but after some minutes of working, I have the issue  "OrientDB.ConnectionError [10]: Cannot select the server"

My code:

![Ca

[2021-01-20 11:48] Nilesh-Kale-2212 opened #443 "Record are not fetched if used the " character into query"
I am writing the application in which I have to search the student by Address. But I am facing an OrientDB error with code 1 while getting the Students list by " character into the address field.

Node Version: v12.18.3
Orient DB Version: 3.0.29
Orient JS Version: 3.0.11

Steps to Reproduce an Issue

**Prerequisites:**
1. Create a new Database with a name like  "Test_Search_Name_Issue"
3. Open the

[2021-02-25 20:43] MarttiR opened #444 "Newline in batch CREATE FUNCTION causes lexical error in OrientDB"
**OrientJS version: 3.0.11**

When using `CREATE FUNCTION` in `session.batch()`, having a newline in the function body causes a lexical error in OrientDB.

The same `CREATE FUNCTION` statements work from Functions Management in Studio, although that way the functions get saved without any newlines.

**Working example** with everything on one line:

[code]

But if the code is split into multiple li

[2021-03-01 08:59] MarttiR commented on #444
A significantly better workaround is to **not** use the `CREATE FUNCTION` statement, but instead construct an `INSERT` statement. This is also how Function Management in Studio inserts functions.

Make sure to escape backslashes, pipes and double quotes from the code.

[code]

As an idea for future development: the above is done so functions can be kept in their own `.js` and `.sql` files, from wh

[2021-03-20 14:28] fedor-pavlov opened #445 "OrientDB.ConnectionError [10]: Cannot select the server"
Hi folks!
I use SAP Cloud Platform, Cloud Foundry, to host a small API server which talks to OrinetDB database (hosted somewhere else). In few minutes after the app start it loses connection to DB and any following attempt to acquire a session from session pool leads to this error: "OrientDB.ConnectionError [10]: Cannot select the server".

I saw this error before in other environments (Heroku, fo

[2021-04-01 14:21] SameerChorge94 opened #446 "OrientDB encryption enabled database not accessible from studio and OrientJs OrientDBClient"
Hello,

As per OrientDB Documentation
https://orientdb.com/docs/3.1.x/security/Database-Encryption.html

I created one database with encryption enabled
`CREATE DATABASE plocal:/D:/ORIENT_DB/orientdb-3.1.3/orientdb-3.1.3/databases/testDB admin admin plocal graph -encryption=aes
`
which is accessible from the OrientDB console
and i'm able to create the Vertex edges and also able to insert the record

[2021-04-15 18:51] #432 closed, assigned to nobody

[2021-07-03 07:57] tahafarooqui1 commented on #436
any solutions??

[2021-08-19 12:50] miosman opened #447 "Maximum call stack exceeded when connecting to a database running in distributed mode"
Facing an issue with db sessions failing with the following error only when connecting to a database in distributed mode, on a single instance server the issue doesn't occur.

[code]

I attempted to debug the issue by adding log messages around the handleSocketData and Operation.prototype.consume methods and from the logs it seems the issue manifests after the server pushes the list of servers in

[2021-09-02 13:01] aryanPatilhm2 opened #448 "Not able to create property with name which only includes numbers (e.g. '1234')"
Hi, I am trying to add one property under my class which includes only numbers e.g. '1234'. Whenever I fire request, it throws below error,

``
:"Error parsing query:\nCREATE PROPERTY myclass.1234 Linkset\n                        ^\nEncountered \" <FLOATING_POINT_LITERAL> \".1234 \"\" at line 1, column 23.\nWas expecting:\n    \".\" ...\n    \r\n\tDB name=\"MYDB\"\r\n\tError Code=\"1\"","errorStac

[2021-09-22 08:40] saeedtabrizi commented on #328
Hi @wolf4ood ,
we can close this issue in mean time .
thanks

[2022-02-28 02:44] avery-chung opened #449 "Is the driver (3.0.11) compatible with OrientDB 3.2.x ?"
As in README (https://github.com/orientechnologies/orientjs/blob/3.0.11/README.md#features), it only claims Tested with latest OrientDB (2.2.x and 3.0.x).

And I see a commit in `develop` branch (https://github.com/orientechnologies/orientjs/commit/cdd45728b28f64dba0c39d6850be6a5ad1516d44) which uses a different config file for OrientDB 3.0.x and 3.1.x , but the change is not yet released.

I woul

[2022-03-22 16:32] amnous commented on #447
Hi @miosman , Have you found a solution for this issue? Even I am facing the same issue.

[2022-03-22 23:23] miosman commented on #447
unfortunately not, project seems to be abandoned so probably try the Java driver instead.

[2022-11-17 10:14] yoanhuret commented on #449
We also need for this. Any plan ?

Regards,